﻿@model Arrowhead.POS.Model.PaymentRequestModel
@{
    var policyDetails = (Arrowhead.POS.Model.PolicyStatusModel)ViewBag.policyDetails;
    Arrowhead.POS.Service.CommonServices _commonServices = new Arrowhead.POS.Service.CommonServices();
    var hostURL = _commonServices.CheckHost(Request.Url.Host);
    var isValidURL = (hostURL.Contains("arrowhead-pos-prod-mirror") || hostURL.Contains("arrowhead-pos-prod") || hostURL.Contains("quotes.arrowheadauto")) ? false : true;
}
@if (Model.IsPaymentCompleted == false)
{
    <div class="col-sm-12 mb15 payment_button">
        <div class="btn-group ml15">
            <button type="button" id="btnCreditCard" class="btn btn-lg btnPaymentType">CREDIT CARD</button>
        </div>
        @if (isValidURL == true)
        {
            <div class="policy-reminder-strip d-flex">
                <div class="policy-reminder-label">
                    <span>Send Policy Reminders</span>
                </div>
                <div class="mob-number d-flex">
                    <span class="custom-checkbox colored-cb">
                        <input class="checkbox" name="" type="checkbox" value="true" checked="checked">
                        <label></label>
                    </span>
                    <span class="phone-field">@Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", @id = "PhoneNumber", @onchange = "ValidateSpamContactNo();" })</span>
                </div>
            </div>
        }
    </div>
}


@if (ViewBag.RateHistoryList != null)
{
    @Html.RenderMessages()
    <div class="col-sm-12" id="dvMainPaymentBox">

        <div class="col-sm-6 col-md-6 col-lg-4 mb10">
            <div id="dvPlanSummary" class="@(Model.IsPaymentCompleted ? "pay_plan green_box pay_plan_active paid_active pay_box_auto" : "pay_plan green_box pay_box_auto")">
                <div class="radio pay_radio" data-attr="@ViewBag.RateHistoryList.RateId">
                    @*Remove Condition as here only single plan is come*@
                    <label class="payment-plan-title"><input class="chk" type="radio" id='@ViewBag.RateHistoryList.RateId' name="optradio" checked="checked">@ViewBag.RateHistoryList.Description</label>
                </div>
                @*<div class="pay_title"> $@ViewBag.RateHistoryList.Description</div>*@
                @*<div class="pay_price"> $@ViewBag.RateHistoryList.DownPayment</div>
                    <div class="down_bottom">Down Payment</div>*@
                <div>Payment Amount</div>
                <div class="input-group radio pay_radio">
                    <span class="input-group-addon border-remove payment-icon"><i class="fa fa-usd"></i></span>
                    @Html.TextBoxFor(m => m.Amount, new { @class = "form-control downpayment-text border-remove" })
                    @Html.HiddenFor(m => m.TotalPremium)
                </div>
                <div class="pay_bottom_price">Monthly Payment: $@ViewBag.RateHistoryList.MonthlyPayment</div>
                <div class="pay_bottom_price">Due Date: @Convert.ToDateTime(@ViewBag.RateHistoryList.InstallmentDueDt).ToString("MM/dd/yyyy")</div>
                <div class="pay_bottom_price">Total Premium:  $@ViewBag.RateHistoryList.TotalPremium</div>
                @{
                    if (ViewBag.RateHistoryList.NSDFees > 0)
                    {
                        <div class="top_bottom_text">Includes Optional Third Party Roadside: $@ViewBag.RateHistoryList.NSDFees</div>
                    }
                    if (ViewBag.RateHistoryList.CCCharge > 0)
                    {
                        <div class="top_bottom_text ccFees">*Convenience Fee: $@ViewBag.RateHistoryList.CCCharge</div>
                    }
                    else
                    {
                        <div class="top_bottom_text" id="convFees">*Convenience Fee: $@string.Format("{0:0.00}", Model.CCFees)</div>
                    }
                }

            </div>
            <div id="dvCreditCardNote" @*class="payment-credit-card-note"*@>

            </div>
        </div>


        @if (Model.IsPaymentCompleted == false)
        {
            <div class="col-sm-6 gray_form" id="dvPaymentBox">
                <form action="@Url.Action("SaveQuotesPayment", "AutoPolicy")" id="frmQuotePayment" method="POST">
                    @Html.HiddenFor(f => f.QuoteID)
                    @Html.HiddenFor(m => m.Amount, new { @id = "amountValue" })
                    @Html.HiddenFor(f => f.PaymentMethodCode)
                    @Html.HiddenFor(f => f.IsPaymentCompleted)
                    @Html.HiddenFor(m => m.PGToken)
                    @Html.HiddenFor(m => m.CCFees)
                    @Html.HiddenFor(m => m.PaymentMonth)
                    @Html.HiddenFor(m => m.ActivePGCode)
                    @Html.HiddenFor(m => m.PhoneNumber, new { @id = "PhoneNumber1" })
                    <div class="">

                        <div id="dvCreditCard">
                            <div class="form-group">
                                <label for="lblCardHolder">Name On Card</label>
                                <input type="text" id="txtCardHolder" name="txtCardHolder" class="form-control" value="@Model.FullName" placeholder="Name On Card" />
                            </div>
                            <div class="form-group">
                                <label for="lblCardNumber">Card Number</label>
                                @Html.TextBoxFor(model => model.CardNumber, new { @class = "form-control", @id = "txtCardNumber", @placeholder = "xxxx-xxxx-xxxx-xxxx" })
                                @Html.ValidationMessageFor(model => model.CardNumber)

                                @*<input type="text" id="txtCardNumber" name="txtCardNumber" class="form-control" value="@Model.CardNumber" />*@
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="txtCardExpiryMonth">Expiration Month</label>
                                        <select id="txtCardExpiryMonth" name="txtCardExpiryMonth" class="form-control" onchange="getMonth()">
                                            <option value="">Select month</option>
                                            <option value="1">January(1)</option>
                                            <option value="2">February(2)</option>
                                            <option value="3">March(3)</option>
                                            <option value="4">April(4)</option>
                                            <option value="5">May(5)</option>
                                            <option value="6">June(6)</option>
                                            <option value="7">July(7)</option>
                                            <option value="8">August(8)</option>
                                            <option value="9">September(9)</option>
                                            <option value="10">October(10)</option>
                                            <option value="11">November(11)</option>
                                            <option value="12">December(12)</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="txtCardExpiryYear">Expiration Year</label>
                                        @Html.DropDownListFor(f => f.PaymentYear, Arrowhead.POS.Infrastructure.DropDown.GetYears(), "Select", new { @class = "form-control", @id = "txtCardExpiryYear" })
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label for="txtCvc">Security Code</label>
                                    @Html.TextBoxFor(model => model.CVV, new { @class = "form-control", @placeholder = "xxx" })
                                    @Html.ValidationMessageFor(model => model.CVV)

                                    @*<input type="text" id="txtCvc" name="txtCardSecurityCode" class="form-control" />*@
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="txtCvc">Zip Code</label>
                                    @Html.TextBoxFor(model => model.ZipCode, new { @maxlength = "5", @class = "form-control", @placeholder = "Zip Code" })
                                    @*<input type="text" id="txtCvc" name="txtCardSecurityCode" class="form-control" />*@
                                </div>
                            </div>
                        </div>

                        <div id="dvECheck">
                            <div class="form-group">
                                <label>Account Holders Name</label>
                                @Html.TextBoxFor(model => model.FullName, new { @class = "form-control", @placeholder = "Account Holder Name" })
                            </div>

                            <div class="form-group">
                                <label>Account Type</label>
                                @Html.DropDownListFor(model => model.AccountTypeId, Arrowhead.POS.Infrastructure.DropDown.GetAllAccountType(), "Select", new { @class = "form-control" })

                            </div>

                            <div class="form-group">
                                <label>Bank Account Number</label>
                                @Html.TextBoxFor(model => model.AccountNumber, new { @class = "form-control", @placeholder = "Bank Account Number" })
                                @Html.ValidationMessageFor(model => model.AccountNumber)

                            </div>

                            <div class="form-group">
                                <label>Bank Routing Number</label>
                                @Html.TextBoxFor(model => model.RoutingNumber, new { @class = "form-control", @placeholder = "Bank Routing Number" })
                                @Html.ValidationMessageFor(model => model.RoutingNumber)

                            </div>

                            <div class="form-group">
                                <label>Bank Name</label>
                                @Html.TextBoxFor(model => model.BankName, new { @class = "form-control", @placeholder = "Bank Name" })
                                @Html.ValidationMessageFor(model => model.BankName)

                            </div>

                        </div>

                        <div id="dvSweep">
                        </div>
                        <div id="dvNote" class="payment-checkbox">
                            <input type="checkbox" id="chkTermsCondition" />
                            <div id="dvNoteDescription">

                            </div>
                        </div>
                        <button id="btnPay" type="button" class="btn btn-info btn-lg green_button" disabled="disabled">PURCHASE POLICY <i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
                        <div class="issuePolicyDisclosure_div">
                            IMPORTANT NOTE: If the insured has previously had insurance with Arrowhead General Insurance Agency and there is currently an outstanding balance owed for a prior policy, the outstanding balance may be satisfied and reflected in the new down payment and monthly installments.
                        </div>


                    </div>
                </form>
            </div>
        }



        @if (Model.IsPaymentCompleted == true)
        {
            if (policyDetails.PolicyStatusCode == Arrowhead.POS.Core.Enums.PolicyStatus.BINDING.ToString())
            {
                @Html.RenderMessages()
                <div class="col-sm-6 col-md-6 col-lg-4 mb10">
                    <div class="pay_plan green_box">
                        <div class="gray_main_title pay_radio error-title">@policyDetails.Description </div>
                        <div class="mb10 sign_button mt10">
                            <button type="button" id="btnReBindPolicy" class="btn btn-lg mb10">Re-Bind Policy</button>
                            <button type="button" id="btnReCreateEsign" class="btn btn-lg">Re-Create E-Sign</button>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="col-sm-6 col-md-6 col-lg-4 mb10">
                    <div class="@(ViewBag.IsQuoteCompleted ? "pay_plan green_box pay_plan_active signed_active" : "pay_plan green_box")">
                        <div class="gray_main_title pay_radio">Sign Policy</div>
                        <div class="mb10 sign_button mt10">
                            @if (ViewBag.RateHistoryList.IsErrorInNSD)
                            {
                                <a href="@Url.Action("ImportNSD","AutoPolicy",new { quoteId=Arrowhead.POS.Infrastructure.ProjectSession.QuoteID})" id="btnImportNSD" class="btn btn-lg mb10">Import NSD</a>
                                <a href="@Url.Action("VoidQuote","AutoPolicy",new { quoteId=Arrowhead.POS.Infrastructure.ProjectSession.QuoteID})" class="btn btn-lg">Void</a>
                            }
                            else
                            {
                                <button type="button" id="btnSendCustometToSign" class="btn btn-lg mb10">Sign Policy</button>
                                if (string.IsNullOrWhiteSpace(ViewBag.policyDetails.PolicyNumber))
                                {
                                    <a href="@Url.Action("VoidQuote", "AutoPolicy", new { quoteId = Arrowhead.POS.Infrastructure.ProjectSession.QuoteID })" class="btn btn-lg">Void</a>
                                }
                            }
                        </div>
                    </div>
                </div>


            }

        }

        @if (Model.IsDocusignCompleted == true)
        {
            if (policyDetails.PolicyStatusCode != Arrowhead.POS.Core.Enums.PolicyStatus.BINDING.ToString())
            {
                <div class="col-sm-6 col-md-6 col-lg-4 mb10">
                    <div class="pay_plan gray_box">
                        <div class="gray_main_title pay_radio">Policy Document</div>
                        <div class="mb10 sign_button mt10">
                            <button id="btnIDCards" type="button" class="btn btn-sm mb10">ID Cards</button>
                            @*<a href="@Url.Action("SignedApplication","AutoPolicy",new { qid= Arrowhead.POS.Infrastructure.ProjectSession.QuoteID})" class="btn btn-sm mb10">Signed Application</a>*@
                            @if (Model.IsSignInOffice)
                            {
                                <a id="btnSignedApplication" data-url="@Url.Action("SignedApplication", "AutoPolicy", new { qid = Arrowhead.POS.Infrastructure.ProjectSession.QuoteID })" class="btn btn-sm mb10">Print Application</a>
                            }
                            else
                            {
                                <a id="btnSignedApplication" data-url="@Url.Action("SignedApplication", "AutoPolicy", new { qid = Arrowhead.POS.Infrastructure.ProjectSession.QuoteID })" class="btn btn-sm mb10">Signed Application</a>
                            }
                            <a id="btnSendPaperwork" class="btn btn-sm mb10">Send Customer Paperwork</a>
                        </div>
                    </div>
                </div>
            }
        }

    </div>
    <br />
    <div class="modal" id="myVINModal" aria-modal="true">
        <div class="modal-dialog vin-driver-popup">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title"><b>Please Correct Validation Errors</b></h4>
                </div>
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>
}

<script src="~/Scripts/stripe.js"></script>
<script src="~/Scripts/stripe.checkout.js"></script>

<script type="text/javascript">
    var _isCCFeesAdded = false;
    $(document).ready(function ()
    {
        $("#PhoneNumber").inputmask("mask", {
            "mask": "(999) 999-9999"
        });

        // Set Selected Value
        if ('@Model' != null && '@Model.PaymentMonth' > 0)
        {
            $("#txtCardExpiryMonth option[value='@Model.PaymentMonth']").prop('selected', true);
        }

        if ('@Model.IsPaymentCompleted'.toLowerCase() == "false") {
            $("#dvPaymentBox").hide();
        }
        else
        {
            $("#dvPaymentBox").show();
        }


     function checkValidAmount(amount)
        {
            var isError = false;
             var value = $('#Amount').val();
             $('#amountValue').val(amount);
             $('#Amount').val(amount);
            var _actualAmount = @Model.Amount;

            // Validate And Active Header Payment Button If Not Active
            if ($("#PaymentMethodCode").val() == "CREDITCARD")
            {
                _actualAmount = parseFloat(_actualAmount) + parseFloat(@Model.CCFees);
                if ($("#btnCreditCard").hasClass("active") == false)
                {
                    $("#btnCreditCard").addClass("active");
                }
            }


            if (parseFloat(amount) < parseFloat(_actualAmount))
            {
                isError = true;
                alert("Please enter value greater than this amount $" + parseFloat(amount)+".");
                $("#btnPay").attr("disabled", true);
                $("#chkTermsCondition").prop('checked', false); // uncheck terms and condition checkbox
            }
            else if (parseFloat(amount) > parseFloat(@Model.TotalPremium))
            {
                if ($("#PaymentMethodCode").val() == "CREDITCARD") {
                    if (parseFloat(amount) > _actualAmount) {
                        isError = true;
                        alert("Please enter value less than this amount $" + _actualAmount + ".");
                        $("#btnPay").attr("disabled", true);
                        $("#chkTermsCondition").prop('checked', false);
                    }
                }
                else {
                    isError = true;
                    alert("Please enter value less than this amount $@Model.TotalPremium.");
                    $("#btnPay").attr("disabled", true);
                    $("#chkTermsCondition").prop('checked', false);
                }
            }
            else
            {
                if ($("input[type='checkbox'][id='chkTermsCondition']").prop("checked") == true)
                {
                        $('#btnPay').removeAttr("disabled");
                }
                else
                {
                    if ($('button.btn.btn-lg').hasClass('active')) // check on Amount Changed by user to restrict payment button
                    {
                        if ($('button.btn.btn-lg.active').html() == "Agency EFT")
                        {
                            $('#btnPay').removeAttr("disabled");
                        }
                        else
                        {
                            $("#btnPay").attr("disabled", true);
                        }
                    }
                }
            }
            return isError;
        }




        $(document).on('change','#Amount',function ()
        {
           var value = $('#Amount').val();
             $('#amountValue').val(this.value);
             $('#Amount').val(this.value);
            var _actualAmount = @Model.Amount;
            if ($("#PaymentMethodCode").val() == "CREDITCARD")
            {
                _actualAmount = parseFloat(_actualAmount) + parseFloat(@Model.CCFees);
            }
            if (parseFloat(this.value) < parseFloat(_actualAmount))
            {
                alert("Please enter value greater than this amount $" + parseFloat(this.value)+".");
                $("#btnPay").attr("disabled", true);
                $("#chkTermsCondition").prop('checked', false); // uncheck terms and condition checkbox
            }
            else if (parseFloat(this.value) > parseFloat(@Model.TotalPremium))
            {
                if ($("#PaymentMethodCode").val() == "CREDITCARD") {
                    if (parseFloat(this.value) > _actualAmount) {
                        alert("Please enter value less than this amount $" + _actualAmount + ".");
                        $("#btnPay").attr("disabled", true);
                        $("#chkTermsCondition").prop('checked', false);
                    }
                }
                else {
                    alert("Please enter value less than this amount $@Model.TotalPremium.");
                    $("#btnPay").attr("disabled", true);
                    $("#chkTermsCondition").prop('checked', false);
                }
            }
            else
            {
                if ($("input[type='checkbox'][id='chkTermsCondition']").prop("checked") == true)
                {
                        $('#btnPay').removeAttr("disabled");
                }
                else
                {
                    if ($('button.btn.btn-lg').hasClass('active')) // check on Amount Changed by user to restrict payment button
                    {
                        if ($('button.btn.btn-lg.active').html() == "Agency EFT")
                        {
                            $('#btnPay').removeAttr("disabled");
                        }
                        else
                        {
                            $("#btnPay").attr("disabled", true);
                        }
                    }
                }
            }

        }).change();

        // Based on Payment Method Selection Add Disclaimer Content
        $("#dvNote").hide(); // default hide
        $("#convFees").hide();
        // ********** END

        $("#dvCreditCard").hide();
        $("#txtCardNumber").mask("0000 - 0000 - 0000 - 0000");
        //$("#txtCvc").mask("0000");

        Stripe.setPublishableKey('@Arrowhead.POS.Service.GeneralServices.GetStripeCredentialStatic("").PublishableKey');

        $('#btnPay').on('click', function (e) {
            if ($('#Amount').val().indexOf("0") == 0) {
                // Redirect to Coverage
                ResetQuoteToCoverageStep();
            }
            else if (checkValidAmount($('#Amount').val()) == true) {
                //alert("Amount can not be less than Actual Amount");
                return false;
            }
            else {
                    var _isSpamContactNo = ValidateSpamContactNo();
                    if (_isSpamContactNo == false)
                    {
                    $.ajax({
                        url: '@Url.Action("ValidateVIN", "AutoCoverage")',
                        type: "POST",
                        data: { "quoteID": '@Arrowhead.POS.Infrastructure.ProjectSession.QuoteID' },
                        cache: false,
                        beforeSend: function () {
                        },
                        success: function (result) {
                            if (result == "") // success
                            {
                                if ($("#PaymentMethodCode").val() == "CREDITCARD" || $("#PaymentMethodCode").val() == "ECHECK") {
                                    checkValidAmount($('#Amount').val());
                                }
                                //$("#Amount").trigger("change");
                                // validate amount and then submit
                                if ($("#PaymentMethodCode").val() == "CREDITCARD" && $("#ActivePGCode").val() == "STRIPE") {
                                    e.preventDefault();
                                    e.stopPropagation();

                                    Stripe.card.createToken
                                        ({
                                            name: $("#txtCardHolder").val(),
                                            number: $("#txtCardNumber").val(),
                                            cvc: $("#txtCvc").val(),
                                            exp_month: $("#txtCardExpiryMonth").val(),
                                            exp_year: $("#txtCardExpiryYear").val()
                                        }, stripeResponseHandler);
                                }

                                $form = $('#frmQuotePayment');
                                $.validator.unobtrusive.parse($form);
                                e.preventDefault();

                                if ($form.valid()) // validate form and submit
                                {
                                    $("#frmQuotePayment").submit(); // submit form

                                    // After Form Submit Disable Purchase Policy Button
                                    setTimeout(function () {
                                        $('#btnPay').attr('disabled', 'disabled');
                                    }, 10);
                                }
                            }
                            else {
                                isAddressValidationError = true;
                                $("#myVINModal").modal('show');
                                $("#myVINModal").find('.modal-body').html(result);
                            }
                        },
                        complete: function () {

                        },
                        error: function (e) {
                            $("body").RemoveLoader();
                            window.location.reload();
                            // alert(e);
                        }
                    });
                }
                else {
                    return false;
                    }


                    var hold;


        }
        });
        $("#btnCreditCard").trigger("click");
    });


       function ValidateSpamContactNo()
       {
            var isSpamContactNo = false;
           var contactNo = $('#PhoneNumber').val();
           $('#PhoneNumber1').val(contactNo);
            if (contactNo != '')
            {
                $.ajax({
                    url: '@Url.Action("IsSpamContactNo", "RemoteValidation")',
                    type: "POST",
                    data: { "contactNo": contactNo },
                    async: false,
                    cache: false,
                    beforeSend: function () {
                    },
                    success: function (result)
                    {
                        if (result == false)
                        {
                            isSpamContactNo = true;
                            alert("Invalid Phone number");
                            $("#btnPay").attr("disabled", true);
                            $("#chkTermsCondition").prop('checked', false); // uncheck terms and condition checkbox
                            console.log("Contact result ", isSpamContactNo)
                        }
                        else
                        {
                            isSpamContactNo = false;
                            $("#btnPay").prop('disabled', false);
                            console.log("Contact result else", isSpamContactNo)
                        }
                    },
                    complete: function () {
                    },
                    error: function (e) {
                        $('body').RemoveLoader();
                    }
                });
            }
            else
            {
                alert("Please Enter Phone Number");
                return true;
            }
            return isSpamContactNo;
    }


    $("div.payment-checkbox").on("click", function (event)
    {
        var target = $(event.target);
        if (target.is('input:checkbox')) return;
        var checkbox = $(this).find("input[type='checkbox'][id='chkTermsCondition']");
        if (!checkbox.prop("checked"))
        {

                checkbox.prop("checked", true);
                $("#btnPay").prop('disabled', false);
                $(this).css("cursor", "pointer");
        }
        else
        {
            checkbox.prop("checked", false);
            $("#btnPay").prop('disabled', true);
            $(this).css("cursor", "pointer");
        }
    });

    $('#chkTermsCondition').change(function () {
        if (!$(this).prop("checked")) {
            $("#btnPay").prop('disabled', true);
            $(this).css("cursor", "pointer");
        }
        else {
            $("#btnPay").prop('disabled', false);
            $(this).css("cursor", "pointer");
        }
    });

   

    function getMonth() {
        $("#PaymentMonth").val($("#txtCardExpiryMonth").val());
    }


    function stripeResponseHandler(status, response)
    {
        var $form = $('#frmQuotePayment');
        if (response.error) {
            // Show the errors on the form

            alert(response.error.message);
        } else {
            // response contains id and card, which contains additional card details
            var token = response.id;
            // Insert the token into the form so it gets submitted to the server

            $('#PGToken').val(token);
            // and submit
            $form.get(0).submit();
        }
    }

    $(".btnPaymentType").click(function ()
    {
        $(".btnPaymentType").removeClass("active");
        $("#dvPlanSummary").show();
        $("#dvPaymentBox").show();
        var divID = this.id;
        $("#" + divID).addClass("active");

            $("#dvMainPaymentBox").removeClass("full_payment_button");
            $("#dvCreditCard").show();
            $("#dvECheck").hide();
            $("#dvSweep").hide();
            $(".ccFees").show();
            if (Boolean(_isCCFeesAdded) == false)
            {
                var value = (@Model.Amount + parseFloat(@Model.CCFees)).toFixed(2);
                $('#Amount').val(value);
                $('#amountValue').val(value);
                _isCCFeesAdded = true;
            }
            $("#PaymentMethodCode").val("CREDITCARD");
            $("#dvNote").show();
            $("#dvNoteDescription").html("By checking this box, I authorize RateForce, LLC to charge to my credit card on @(DateTime.Now.ToString("MM/dd/yyyy")). <br><br><b>Amount Due: $@(Model.Amount)</b><br><b>Convenience Fee*: $5.00</b><br><b>Payment Amount: $" + value + "</b>");
            $("#btnPay").prop('disabled', true);
            $("#chkTermsCondition").prop('checked', false); // reset checkbox
            $("#dvCreditCardNote").html("* The total amount to be charged to you for Credit Card transactions will be the policy premium payment amount plus any optional third party NSD fees and a processing fee assessed by RateForce, LLC for the $5.00 convenience of choosing the Credit Card transaction alternative payment option ('convenience fee'). By submitting your policy payment using a Credit Card, you acknowledge, understand and agree to this convenience fee.");
            $(".issuePolicyDisclosure_div").hide();
            $("#convFees").show();
            $('#AccountNumber').attr("disabled", "disabled");
            $("#RoutingNumber").attr("disabled", "disabled");
            $("#BankName").attr("disabled", "disabled");
            $('#CardNumber').removeAttr("disabled");
            $("#CVV").removeAttr("disabled");


    });

   // If you have questions on this transaction, please contact Customer Service Representative by calling(800) 961 - 6549.
      $("#btnSendCustometToSign").click(function () {
          $("body").CenterLoader(11001,"dvSendCustomerContainer");

        $.ajax({
            url: '@Url.Action("SendCustomerLinkModel", "AutoPolicy")',
            type: "Get",
            data: {},
            cache: false,
            beforeSend: function () {
            },
            success: function (result) {
                $("#responsiveModel").find(".modal-content").html(result);
                $("#responsiveModel").modal('show');
                $("body").RemoveLoader();
            },
            complete: function () {
            },
            error: function (e) {
                $("body").RemoveLoader();
            }
        });
    });

    $("#btnReCreateEsign").click(function () {
        if (confirm("Are you sure You Want To Re-Create E-Sign?")) {
            $("#dvContainer").CenterLoader(11001);

            $.ajax({
            url: '@Url.Action("GetCustomerSignInURl", "AutoPolicy")',
            type: "Get",
            data: { isSignInOffice:false},
            cache: false,
            beforeSend: function () {
            },
            success: function (result)
            {
                    if (!IsiOSversion())
                    {
                        $("#dvContainer").RemoveLoader();
                        $('#myModal').modal('hide');
                        $('#largeIFrameModel').data('bs.modal', null);
                        $("#largeIFrameModel").modal({ backdrop: 'static', keyboard: false });
                        $('#largeIFrameModel').show();
                        $("#largeIFrameModel").modal('show');
                        $("#frame").attr("src", result);
                        $("#frame").show();
                    }
                     else {
                          $('body').RemoveLoader();
                     var url = result;
                    window.open(url, '_blank');
                    }

            },
            complete: function () {
            },
            error: function (e) {
                $('body').RemoveLoader();
            }
        });
        }

    });




    $("#btnReBindPolicy").click(function () {
        if (confirm("Are you sure You Want To Re-Bind Policy?")) {
            $("#dvContainer").CenterLoader(11001);
            $.ajax({
                url: '@Url.Action("BindArrowheadPolicy", "AutoPolicy")' + "?QuoteID=" + @Arrowhead.POS.Infrastructure.ProjectSession.QuoteID,
                type: "Get",
                data: { isSignInOffice: false},
                cache: false,
                beforeSend: function () {
                },
                success: function (result) {
                    window.location.reload();
                },
                complete: function () {
                },
                error: function (e) {
                    $('body').RemoveLoader();
                }
            });
        }
    });


    $('#btnSignedApplication').click(function ()
    {
        $("#dvContainer").CenterLoader(11001);

         var url = $(this).attr('data-url');
        // Build Form
         var form = $('<form></form>').attr('action', url).attr('method', 'post');
        // Add Key / Value Based Parameter in Hidden
         form.append($("<input></input>").attr('type', 'hidden').attr('name', "qid").attr('value', '@Arrowhead.POS.Infrastructure.ProjectSession.QuoteID'));
        // Remove Loader
         setTimeout(function () { $("#dvContainer").RemoveLoader(); }, 10000); // 7 Sec Interval

        // Send Request and remove to download file
         form.appendTo('body').submit().remove();


    });

     $('#btnSendPaperwork').click(function () {
        $("#dvContainer").CenterLoader(11001);
           $.ajax({
            url: '@Url.Action("SendCustomerPaperwork", "AutoPolicy")',
            type: "Get",
            data: {},
            cache: false,
            beforeSend: function () {
            },
            success: function (result) {
                $("#responsiveModel").find(".modal-content").html(result);
                $("#responsiveModel").modal('show');
                $("#dvContainer").RemoveLoader();
            },
            complete: function () {
            },
            error: function (e) {
                $('body').RemoveLoader();
            }
        });

    });


     $("#btnIDCards").click(function () {
         $("#dvContainer").CenterLoader(11001);
         $.ajax({
            url: '@Url.Action("GetVehicleListForIDCard", "AutoPolicy")',
            type: "Get",
            data: {},
            cache: false,
            beforeSend: function () {
            },
            success: function (result) {
                $("#responsiveModel").find(".modal-content").html(result);
                $("#responsiveModel").modal('show');
                $("#dvContainer").RemoveLoader();
            },
            complete: function () {
            },
            error: function (e) {
                $('body').RemoveLoader();
            }
        });
    });




    function ResetQuoteToCoverageStep()
    {
         $.ajax({
            url: '@Url.Action("ResetQuoteToCoverageStep", "AutoPolicy")',
            type: "POST",
            data: { "quoteID": '@Arrowhead.POS.Infrastructure.ProjectSession.QuoteID'},
            cache: false,
            beforeSend: function () {
            },
            success: function (result)
            {
                if (result.IsQuoteReset) // redirect to coverage
                {
                     var url = '@Url.Action("Index", "AutoCoverage",new{ id= Arrowhead.POS.Infrastructure.ProjectSession.QuoteID })';
                    window.location.href = url;
                }
            },
            complete: function () {

            },
            error: function (e) {
                $("body").RemoveLoader();
                window.location.reload();
                // alert(e);
            }
        });
    }



</script>