﻿@model Arrowhead.POS.Model.SendPaperWorkModel

<!-- Modal content-->
<div class="">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Send Customer PaperWork</h4>
    </div>

    <form action="@Url.Action("SendPaperWorkDetails", "AutoPolicy")" id="frmSendPaperwork" method="POST">
        <div class="modal-body" style="display: inline-block;">
            @Html.HiddenFor(model => model.QuoteId)

            <div class="col-sm-12 form-group">
                <div class="col-sm-3">
                    <label for="SendBy">Send By</label>
                </div>
                <div class="col-sm-6">
                    <div class="input-group">
                        <div id="radioBtn" class="btn-group radioBtn">
                            <label class="right attached ui button" style="border-radius:0 !important;">
                                <input type="radio" style="visibility:hidden;position: absolute;" name="SendTypeCode" id="isEmail" value="EMAIL" checked="checked"> Email
                            </label>
                            <label class="ui left attached button">
                                <input type="radio" style="visibility:hidden;position: absolute;" name="SendTypeCode" id="isFax" value="FAX"> Fax
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group  col-sm-12" id="dvEmail">
                <div class="col-sm-3">
                    <label>Email</label>
                </div>
                <div class="col-sm-6">
                    @Html.TextBoxFor(model => model.EmailId, new { @class = "form-control" })
                    @Html.ValidationMessageFor(f => f.EmailId)
                </div>
            </div>


            <div class="form-group  col-sm-12" id="dvEmailSubject">
                <div class="col-sm-3">
                    <label>Email Subject</label>
                </div>
                <div class="col-sm-6">
                    @Html.TextBoxFor(model => model.EmailSubject, new { @class = "form-control" })
                    @Html.ValidationMessageFor(f => f.EmailSubject)
                </div>
            </div>

            <div class="form-group  col-sm-12" id="dvFax">
                <div class="col-sm-3">
                    <label>Fax</label>
                </div>
                <div class="col-sm-6">
                    @Html.TextBoxFor(model => model.ContactNo, new { @class = "form-control" })
                    @Html.ValidationMessageFor(f => f.ContactNo)
                </div>
            </div>

            <div class="form-group  col-sm-12">
                <div class="col-sm-3">
                    <label>Document Name</label>
                </div>
                <div class="col-sm-6">
                    @Html.TextBoxFor(model => model.DocumentName, new { @class = "form-control", @readonly = true })
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" id="btnSend" class="btn btn-sm btn-info mb10">Send</button>
            <button type="button" class="btn btn-sm mb10 btn-default" data-dismiss="modal">Close</button>
        </div>

    </form>

</div>


<script type="text/javascript">


    $(document).ready(function () {
        $("#dvFax").hide();

            $("#isEmail").parent().addClass('Checked');

            $('input[type=radio][name=SendTypeCode]').change(function () {
                $("#isEmail").parent().removeClass('Checked');
                $("#isFax").parent().removeClass('Checked');
                var value = $("input[name='SendTypeCode']:checked").val();
                if (value == 'EMAIL') {
                    $("#isEmail").parent().addClass('Checked');
                    $("#dvFax").hide();
                    $("#dvEmail").show();
                    $("#dvEmailSubject").show();

                }
                else if (value == 'FAX') {
                    $("#isFax").parent().addClass('Checked');
                    $("#dvFax").show();
                    $("#dvEmail").hide();
                    $("#dvEmailSubject").hide();
                }

            });

            $("#btnSend").click(function ()
            {
                $("body").CenterLoader(11001, "dvContainer");

                $.ajax({
                    url: '@Url.Action("SendPaperWorkDetails", "AutoPolicy")',
                    type: "POST",
                    data: { QuoteId: $("#QuoteId").val(), EmailId: $("#EmailId").val(), ContactNo: $("#ContactNo").val(), EmailSubject: $("#EmailSubject").val(), DocumentName: $("#DocumentName").val(), SendTypeCode: $("input[name='SendTypeCode']:checked").val()},
                    cache: false,
                    beforeSend: function () {
                    },
                    success: function (result)
                    {
                        $("#responsiveModel").modal('hide');
                        $("body").RemoveLoader();
                    },
                    complete: function () {
                    },
                    error: function (e) {
                        $("body").RemoveLoader();
                    }
                });
            });
        });
</script>

