﻿@model Arrowhead.POS.Model.ApplicantModel
@{
    Arrowhead.POS.Service.GeneralServices _generalServices = new Arrowhead.POS.Service.GeneralServices();
    Arrowhead.POS.Service.AutoQuoteServices _autoQuoteServices = new Arrowhead.POS.Service.AutoQuoteServices();
    Arrowhead.POS.Service.AutoPolicyServices _autoPolicyServices = new Arrowhead.POS.Service.AutoPolicyServices();
    var _isBankDetailsExist = _generalServices.IsBankDetailsExistByAgencyId(Arrowhead.POS.Infrastructure.ProjectSession.AgencyDetails.AgencyId);
    var _isQuoteCompleted = Arrowhead.POS.Infrastructure.ProjectSession.QuoteID > 0 ? _autoQuoteServices.IsQuoteCompleted(Arrowhead.POS.Infrastructure.ProjectSession.QuoteID) : false;
    var currentStepDetail = Arrowhead.POS.Infrastructure.ProjectSession.QuoteID > 0 ? _autoQuoteServices.GetCurrentStepDetails(Arrowhead.POS.Infrastructure.ProjectSession.QuoteID) : null;
    var policyDetail = Arrowhead.POS.Infrastructure.ProjectSession.QuoteID > 0 ? _autoPolicyServices.GetpolicyStatusDetails(Arrowhead.POS.Infrastructure.ProjectSession.QuoteID) : null;
    var _isQuoteCompletedMVR = policyDetail != null && currentStepDetail!=null ? ((policyDetail.PolicyOrderNo >=6  && policyDetail.PolicyOrderNo != 8  || policyDetail.PolicyOrderNo == 2) && currentStepDetail.CurrentStepOrderId >= 6 ? true : false) : false;
}
<div class="panel panel-default">
    <div class="panel-heading main_title">Policyholder Information</div>
    @Html.RenderMessages()
    <div class="panel-body">
        <form action="@Url.Action("SaveApplicant", "AutoQuote")" id="frmPolicyHolderInfo" method="POST">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.QuoteId)
            @Html.HiddenFor(model => model.CustomerId)
            @Html.HiddenFor(model => model.IspriorPolicy)
            @Html.Hidden("hdnIsAddressChecked", "False")
            @Html.Hidden("hdnIsPOBoxError", "False")
            @Html.Hidden("hdnIsBankDetailSkip", "False")
            @Html.Hidden("hdnIsAddressVerified", "False")
            @Html.HiddenFor(model => model.isAddressVerified)
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="Effective Date">Effective Date</label>
                        @Html.TextBoxFor(model => model.EffectiveDate, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.EffectiveDate)
                    </div>
                </div>
                <div class="col-sm-6"></div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="First Name">First Name</label>
                        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control letter-capitalize", @id = "firstnameInput" })
                        @Html.ValidationMessageFor(model => model.FirstName)

                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="First Name">Last Name</label>
                        @if (Model.QuoteId > 0)
                        {
                            @Html.TextBoxFor(model => model.LastName, new { @class = "form-control letter-capitalize", @id = "lastnameInput" })
                        }
                        else
                        {
                            @Html.TextBoxFor(model => model.LastName, new { @class = "form-control letter-capitalize", @id = "lastnameInput" })
                        }
                        @Html.ValidationMessageFor(model => model.LastName)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="Email">Email</label>
                        @Html.TextBoxFor(model => model.EmailId, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.EmailId)
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="Contact">Phone Number</label>
                        @Html.TextBoxFor(model => model.ContactNo, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ContactNo)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="Contact">Garaging Address</label>
                        @Html.TextBoxFor(model => model.Address1, new { @class = "form-control letter-capitalize" })
                        @Html.ValidationMessageFor(model => model.Address1)
                        <span id="ViewAddressError"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="Address2">Apt, Suite #</label>
                        @Html.TextBoxFor(model => model.Address2, new { @class = "form-control letter-capitalize" })
                        @Html.ValidationMessageFor(model => model.Address2)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="Zip Code">Zip Code</label>
                        @Html.TextBoxFor(model => model.ZipCode, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ZipCode)
                    </div>
                </div>
                <div class="col-sm-3 textbox-align">
                    <div class="form-group">
                        <label for="Zip Code"></label>
                        @Html.TextBoxFor(model => model.City, new { @class = "form-control", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.City)
                    </div>
                </div>
                <div class="col-sm-3 textbox-align">
                    <div class="form-group">
                        <label for="Zip Code"></label>
                        @Html.TextBoxFor(model => model.StateAbbr, new { @class = "form-control", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.StateAbbr)
                    </div>
                </div>
            </div>

            <div class="row" style="display:none">
                <div class="col-sm-6 col-md-4">
                    <div class="form-group">
                        <label for="sel1">Source</label>
                        @Html.DropDownListFor(model => model.SourceId, Arrowhead.POS.Infrastructure.DropDown.GetAllQuoteSourceStatus(), new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SourceId)
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="sel1">Mailing Address Same As Garaging Address?</label>
                        <div>
                            <label class="ui left attached button">
                                <input type="radio" style="visibility:hidden;position: absolute;" name="IsDuplicate" id="sameAsHomeYes" value="true" checked='@(((Model.IsDuplicate) ? true  : false))'> Yes
                            </label>
                            <label class="right attached ui button">
                                <input type="radio" style="visibility:hidden;position: absolute;" name="IsDuplicate" id="sameAsHomeNo" value="false" checked='@(((Model.IsDuplicate) ? false  : true))'> No
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" id="rowMailingAddress" style="display: none">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="First Name">Mailing Address 1</label>
                        @Html.TextBoxFor(model => model.MailingAddress1, new { @class = "form-control letter-capitalize" })
                        @Html.ValidationMessageFor(model => model.MailingAddress1)
                        <span id="mailingAddressError"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="First Name">Mailing Address 2</label>
                        @Html.TextBoxFor(model => model.MailingAddress2, new { @class = "form-control letter-capitalize" })
                        @Html.ValidationMessageFor(model => model.MailingAddress2)
                    </div>
                </div>
            </div>

            <div class="row" id="rowMailingPostalCode" style="display: none">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="Zip Code">Mailing Zip Code</label>
                        @Html.TextBoxFor(model => model.MailingZipCode, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MailingZipCode)
                    </div>
                </div>
                <div class="col-sm-3 textbox-align">
                    <div class="form-group">
                        <label for="Zip Code"></label>
                        @Html.TextBoxFor(model => model.MailingCity, new { @class = "form-control", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.MailingCity)
                    </div>
                </div>
                <div class="col-sm-3 textbox-align">
                    <div class="form-group">
                        <label for="Zip Code"></label>
                        @Html.TextBoxFor(model => model.MailingState, new { @class = "form-control", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.MailingState)
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="sel1">Proof of Prior Insurance?</label>
                        <div>
                            <label class="ui left attached button">
                                <input type="radio" style="visibility:hidden;position: absolute;" name="sameAsPrior" id="sameAsPriorYes" value='yes' checked='@(((Model.IspriorPolicy) ? true  : false))'> Yes
                            </label>
                            <label class="right attached ui button">
                                <input type="radio" style="visibility:hidden;position: absolute;" name="sameAsPrior" id="sameAsPriorNo" value='no' checked='@(((Model.IspriorPolicy) ? false  : true))'> No
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" id="showText" style="display: none">
                <div class="col-md-12 m10">
                    <div class="insuredDisclosure_div">
                        Please submit declaration pages insurance company with full six months prior coverage with no lapse or discount will be removed
                    </div>
                </div>
            </div>

            <div class="row" id="rowPriorCarrier" style="display: none">

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="First Name">Prior Carrier</label>
                        @Html.DropDownListFor(model => model.InsuranceCompanyId, Arrowhead.POS.Infrastructure.DropDown.GetAllCarriers(), "Select", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.InsuranceCompanyId)
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="Lapse Selection">Lapse</label>
                        @Html.DropDownListFor(model => model.DaysLapes, Arrowhead.POS.Infrastructure.DropDown.GetAllPriorInsuranceLapse(), "Select", new { @class = "form-control", @id = "ddlDayLapse" })
                        @Html.ValidationMessageFor(model => model.DaysLapes)
                        <span style="display:none !important ;" class="field-validation-error" id="lapseErrorMessage">Due to a lapse in coverage the selected discount is not applicable.</span>
                    </div>
                </div>
               
            </div>


            <div class="row" id="rowPriorPolicyNumber" style="display: none">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="First Name">Prior Expiration Date</label>
                        @Html.TextBoxFor(model => model.PriorExpirationDate, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PriorExpirationDate)
                    </div>
                </div>
            </div>
            <br />
            <div class="row divHomeType">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="HomeType">Homeowner?</label>
                        @Html.DropDownListFor(model => model.FkHomeTypeId, Arrowhead.POS.Infrastructure.DropDown.GetAllHomeTypes(), new { @class = "form-control" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 mb10">
                    <div class="insuredDisclosure_div">
                        By clicking the Continue button below, I understand that Arrowhead General Insurance Agency may obtain various underwriting reports, including a motor vehicle report, to verify the information that I am providing for this application.  I also understand that Arrowhead General Insurance Agency may obtain a consumer credit report on all named insureds from third parties, and the name, address and contact information of the consumer reporting agency will be provided at my request.  Customer has been notified of above.
                    </div>
                    <button type="submit" id="btnSavePolicyHolderInfo" class="btn btn-info btn-lg green_button mt20">Continue <i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
                </div>
            </div>
        </form>
    </div>
    <!-- Render Address Validation Partial View -->
    <div id="addressValidation">

    </div>
</div>


<script type="text/javascript" src="~/Scripts/jquery.main.js"></script>
<script type="text/javascript" src="~/Scripts/Pages/applicant.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        if ('@_isQuoteCompletedMVR' == 'True') {
            $("#firstnameInput").attr("readonly", "true");
            $("#lastnameInput").attr("readonly", "true");
        }
        else {
            $("#firstnameInput").removeAttr("readOnly");
            $("#lastnameInput").removeAttr("readOnly");
        }

        if ('@_isQuoteCompleted' == 'True') {
            $("#frmPolicyHolderInfo :input").attr("disabled", true);
        }
      

    $("#ddlDayLapse").change(function () {
        if ($("#ddlDayLapse option:selected").text() == "Less Than 6 Months Prior Cov") {
            $("#lapseErrorMessage").show();
            $("#btnSavePolicyHolderInfo").attr("disabled", true);
        }else if ($("#ddlDayLapse option:selected").text() == "6 Months Prior Cov And Lapse >= 1 Day") {
            $("#lapseErrorMessage").show();
            $("#btnSavePolicyHolderInfo").attr("disabled", true);
        }
        else if ($("#ddlDayLapse option:selected").text() == "Full 6 Months Prior Cov No Lapse") {
            $("#lapseErrorMessage").hide();
            $('#btnSavePolicyHolderInfo').removeAttr("disabled");
        }
        else {
            $('#btnSavePolicyHolderInfo').removeAttr("disabled");
        }
        });
    $("#ddlDayLapse").trigger("change");

    });
 $('#btnSavePolicyHolderInfo').click(function (e)
 {
        var addressVerified = $("#hdnIsAddressVerified").val();
        $('#isAddressVerified').val(addressVerified);
        var form = $(this).closest("form");
        if ($("#InsuranceCompanyId option:selected").text() == "Arrowhead Falls Lake") {
         e.preventDefault();
            alert("You are not eligible to receive proof of prior discount with Arrowhead Falls Lake and must renew any existing Arrowhead policy.");
            $('input:radio[name=sameAsPrior][value=no]').prop('checked', true);
            $('input:radio[name=sameAsPrior][value=no]').click();
     }

     if ($("#InsuranceCompanyId option:selected").text() == "Arrowhead Everest") {
         e.preventDefault();
         alert("This carrier is not eligible for the transfer discount.");
         $('input:radio[name=sameAsPrior][value=no]').prop('checked', true);
         $('input:radio[name=sameAsPrior][value=no]').click();
     }
     else if (form.valid())
     {
            e.preventDefault();

            // Edit case set hidden Flag
            if (@Model.QuoteId > 0 && $("#Address2").val() != "")
            {
                $("#hdnIsAddressChecked").val("True");
            }

            $.ajax({
                    url: '@Url.Action("AddressValidation", "RemoteValidation")',
                    type: "POST",
                    data: { Address1: $("#Address1").val(), Address2: $("#Address2").val(), City: $("#City").val(), State: $("#StateAbbr").val(), ZipCode: $("#ZipCode").val(), isAddressValidated: $("#hdnIsAddressChecked").val(), isPOBoxError: $("#hdnIsPOBoxError").val()},
                    success: function (data) {
                        if (!data.IsSuccess) {
                            $("body").RemoveLoader();
                            $.ajax({
                                url: '@Url.Action("ValidateAddress", "RemoteValidation")',
                                type: "Get",
                                data: data,
                                cache: false,
                                beforeSend: function () {
                                },
                                success: function (result)
                                {
                                    $("#addressValidation").html(result);
                                },
                                complete: function () {
                                },
                                error: function (e) {
                                    // nothing to do
                                }
                            });
                        }
                        else
                        {
                            form.submit();
                             $('#btnSavePolicyHolderInfo').attr('disabled', 'disabled');
                        }
                    },
                    error: function (msg) {
                        alert('Failed');
                    }
            });
     };

    });


    if ('@Model.IsDuplicate' == "False") {
        $("#rowMailingAddress").show();
        $("#rowMailingPostalCode").show();
    }


    if ('@Model.IspriorPolicy' == "True") {
        $("#rowPriorCarrier").show();
        $("#rowPriorPolicyNumber").show();
    }


    
</script>