﻿@model Arrowhead.POS.Model.AutoDriverModel

@{
    Arrowhead.POS.Service.AutoPolicyServices autoPolicyServices = new Arrowhead.POS.Service.AutoPolicyServices();
    Arrowhead.POS.Service.AutoDriverServices _autoDriverServices = new Arrowhead.POS.Service.AutoDriverServices();
    Arrowhead.POS.Service.AutoVehicleServices _autoVehicleServices = new Arrowhead.POS.Service.AutoVehicleServices();
    if (Model.IsFirstDriver == true)
    {
        Model.DOBStartDate = Arrowhead.POS.Core.ConvertTo.GetEstTimeNow().AddYears(-18);
    }
    else
    {
        Model.DOBStartDate = Arrowhead.POS.Core.ConvertTo.GetEstTimeNow().AddYears(-16);
    }
    var paymentDetails = autoPolicyServices.GetPaymentByQuoteID(Arrowhead.POS.Infrastructure.ProjectSession.QuoteID);
    var _vehicleCount = _autoVehicleServices.GetvehicleCount(Arrowhead.POS.Infrastructure.ProjectSession.QuoteID);
    var paymentCompleted = paymentDetails != null ? paymentDetails.IsPaymentCompleted : false;
    var _driverCount = _autoDriverServices.GetDriverCount(Arrowhead.POS.Infrastructure.ProjectSession.QuoteID);
    var _ratedDriverCount = _autoDriverServices.GetRatedDriverCount(Arrowhead.POS.Infrastructure.ProjectSession.QuoteID);
    var _stateCode = Arrowhead.POS.Service.GeneralServices.GetStateCode(Model.StateId);
    var filename = "/Scripts/Coverages/" + _stateCode + ".js";

    var controllerName = this.ViewContext.RouteData.Values["action"].ToString();
}



<style>
    .license-error {
        border: 1px solid #f00;
    }
</style>


<div class="panel-default">

    @*<div class="panel-heading main_title">Driver Information    </div>*@

    <div class="alert warning" style="display:none" id="dvNotification">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <label id="lblNotificationText"> </label>
    </div>
    @Html.RenderMessages()
    <div class="panel-body">
        <form action="@Url.Action("SaveDriverDetails", "AutoDriver" )" id="frmDriver" method="POST">
            @Html.HiddenFor(model => model.AutoDriverId)
            @Html.HiddenFor(model => model.QuoteId)
            @Html.HiddenFor(model => model.DOBStartDate)
            @*@Html.HiddenFor(model => model.IsExcluded)*@
            <div class="row driver_information_form">

                @if (Model.IsFirstDriver == false)
                {
                    <div class="form-group">
                        <label for="Gender" class="col-sm-3 col-md-3 col-lg-2 control-label text-right">Is Excluded</label>
                        <div class="col-sm-6 col-md-6 col-lg-4">
                            <div class="input-group">
                                <div id="radioBtn" class="btn-group radioBtn">
                                    <a class="@(Model.IsExcluded == true ? " btn btn-md active" : "btn btn-md notActive" )" data-toggle="IsExcluded" data-title="True">Yes</a>
                                    <a class="@(Model.IsExcluded == false ? " btn btn-md active" : "btn btn-md notActive" )" data-toggle="IsExcluded" data-title="False" checked>No</a>
                                </div>
                                @Html.HiddenFor(model => model.IsExcluded)
                            </div>
                            @Html.ValidationMessageFor(model => model.IsExcluded)
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>

                }

                <div class="form-group" id="dvDriverLicense">
                    <div class="col-sm-3 col-md-3 col-lg-2 text-right "><label for="usr">Driver License</label></div>
                    <div class="col-sm-3 col-md-3 col-lg-2 mdb10">
                        @Html.DropDownListFor(model => model.StateId, Arrowhead.POS.Infrastructure.DropDown.GetAllState(), "Select", new { @class = "form-control" })
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3 mdb10">
                        @Html.TextBoxFor(model => model.LicenseNo, new { @class = "form-control", placeholder = "Driver LicenseNo" })
                        @Html.ValidationMessageFor(model => model.LicenseNo)
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-2">
                        @Html.DropDownListFor(model => model.LicenseStatus, Arrowhead.POS.Infrastructure.DropDown.GetAllDriverLicenseStatus(), "Select", new { @class = "form-control" })
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>

                <div class="form-group" id="dvDob">
                    <div class="col-sm-3 col-md-3 col-lg-2 text-right"><label for="usr">Date of Birth</label></div>
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        @if (Model.IsFirstDriver == true)
                        {
                            @Html.TextBoxFor(model => model.Dob, new { @class = "form-control", @data_val_is = "Age should be minimum 18 years." })
                        }
                        else
                        {
                            @Html.TextBoxFor(model => model.Dob, new { @class = "form-control", @data_val_is = "Age should be minimum 16 years." })
                        }
                        @Html.ValidationMessageFor(model => model.Dob)
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>

                @if (Model.IsFirstDriver == true)
                {
                    <div class="form-group">
                        <div class="col-sm-3 col-md-3 col-lg-2 text-right"><label for="usr">First Name</label></div>
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control letter-capitalize", @id = "driverfirstname", @readonly = "true" })
                            @Html.ValidationMessageFor(model => model.FirstName)
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>

                    <div class="form-group">
                        <div class="col-sm-3 col-md-3 col-lg-2 text-right"><label for="usr">Last Name</label></div>
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            @Html.TextBoxFor(model => model.LastName, new { @class = "form-control letter-capitalize", @id = "driverlastname", @readonly = "true" })
                            @Html.ValidationMessageFor(model => model.LastName)
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                }
                else
                {
                    <div class="form-group">
                        <div class="col-sm-3 col-md-3 col-lg-2 text-right"><label for="usr">First Name</label></div>
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control letter-capitalize", @id = "driverfirstname" })
                            @Html.ValidationMessageFor(model => model.FirstName)
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>

                    <div class="form-group">
                        <div class="col-sm-3 col-md-3 col-lg-2 text-right"><label for="usr">Last Name</label></div>
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            @Html.TextBoxFor(model => model.LastName, new { @class = "form-control letter-capitalize", @id = "driverlastname" })
                            @Html.ValidationMessageFor(model => model.LastName)
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                }
                @*<div class="form-group">
                        <label for="Gender" class="col-sm-3 col-md-3 col-lg-2 control-label text-right">Gender</label>
                        <div class="col-sm-6 col-md-6 col-lg-4">
                            <div class="input-group">
                                <div id="radioBtn" class="btn-group">
                                    <label class="ui left attached button">
                                        <input type="radio" style="visibility:hidden;position: absolute;" name="Gender" id="sexMale" value="M" @((Model.Gender !=null && Model.Gender.Trim().ToUpper().StartsWith("M"), "checked" , "" ))> Male
                                        <span></span>
                                    </label>
                                    <label class="right attached ui button" style="border-radius: 0 0.3rem 0.3rem 0 !important;">
                                        <input type="radio" style="visibility:hidden;position: absolute;" name="Gender" id="sexFemale" value="F" @((Model.Gender !=null && Model.Gender.Trim().ToUpper().StartsWith("F"), "checked" , "" ))> Female
                                        <span></span>
                                    </label>
                                </div>
                                @Html.ValidationMessageFor(model => model.Gender)
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>*@

                <div class="form-group">
                    <label for="Gender" class="col-sm-3 col-md-3 col-lg-2 control-label text-right">Gender</label>
                    <div class="col-sm-6 col-md-6 col-lg-4">
                        <div class="input-group">
                            <div id="radioBtn" class="btn-group radioBtn">
                                <a class="@(Model.Gender=="M" ? "btn btn-md active" : "btn btn-md notActive" )" data-toggle="Gender" data-title="M">Male</a>
                                <a class="@(Model.Gender=="F" ? "btn btn-md active" : "btn btn-md notActive" )" data-toggle="Gender" data-title="F">Female</a>
                            </div>
                            @Html.HiddenFor(model => model.Gender)
                        </div>
                        @Html.ValidationMessageFor(model => model.Gender)
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>

                @*<div class="form-group">
                        <label for="marital" class="col-sm-3 col-md-3 col-lg-2 control-label text-right">Marital Status</label>
                        <div class="col-sm-6 col-md-6 col-lg-4">
                            <div class="input-group">
                                <div id="radioBtn" class="btn-group">
                                    <label class="ui left attached button">
                                        <input type="radio" style="visibility:hidden;position: absolute;" name="MaritalStatusCode" id="sexSingle" value="SINGLE" @((Model.MaritalStatusCode !=null && Model.MaritalStatusCode.Trim().ToUpper().StartsWith("S"), "checked" , "" ))> Single
                                        <span></span>
                                    </label>
                                    <label class="right attached ui button" style="border-radius: 0 0.3rem 0.3rem 0 !important;">
                                        <input type="radio" style="visibility:hidden;position: absolute;" name="MaritalStatusCode" id="sexMarried" value="MARRIED" @((Model.MaritalStatusCode !=null && Model.MaritalStatusCode.Trim().ToUpper().StartsWith("M"), "checked" , "" ))> Married
                                        <span></span>
                                    </label>
                                </div>

                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>*@

                <div class="form-group">
                    <label for="Gender" class="col-sm-3 col-md-3 col-lg-2 control-label text-right">Marital Status</label>
                    <div class="col-sm-6 col-md-6 col-lg-4">
                        <div class="input-group">
                            <div id="radioBtn" class="btn-group radioBtn">
                                <a class="@(Model.MaritalStatusCode=="SINGLE" ? "btn btn-md active" : "btn btn-md notActive" )" data-toggle="MaritalStatusCode" data-title="SINGLE">Single</a>
                                <a class="@(Model.MaritalStatusCode=="MARRIED" ? "btn btn-md active" : "btn btn-md notActive" )" data-toggle="MaritalStatusCode" data-title="MARRIED">Married</a>
                            </div>
                            @Html.HiddenFor(model => model.MaritalStatusCode)
                        </div>
                        @Html.ValidationMessageFor(model => model.MaritalStatusCode)
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>

                <div class="form-group divGoodStudent" style="display:none">
                    <label for="goodStudent" class="col-sm-3 col-md-3 col-lg-2 control-label text-right">Good Student</label>
                    <div class="col-sm-6 col-md-6 col-lg-4">
                        <div class="input-group">
                            <div id="radioBtn" class="btn-group radioBtn">
                                <a class="@(Model.IsGoodStudent == true ? " btn btn-md active" : "btn btn-md notActive" )" data-toggle="IsGoodStudent" data-title="True">Yes</a>
                                <a class="@(Model.IsGoodStudent == false ? " btn btn-md active" : "btn btn-md notActive" )" data-toggle="IsGoodStudent" data-title="False">No</a>
                            </div>
                            @Html.HiddenFor(model => model.IsGoodStudent)
                        </div>
                        @Html.ValidationMessageFor(model => model.IsGoodStudent)
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>

                @*<div class="form-group">
                        <label for="state" class="col-sm-3 col-md-3 col-lg-2 control-label text-right">State Filing</label>
                        <div class="col-sm-6 col-md-6 col-lg-4">
                            <div class="input-group">
                                <div id="radioBtn" class="btn-group">
                                    <label class="ui left attached button">
                                        <input type="radio" style="visibility:hidden;position: absolute;" name="Sr22" id="sr22Yes" value="True" @(((Model.Sr22= =true), "checked" , "" ))>SR22
                                        <span></span>
                                    </label>
                                    <label class="right attached ui button" style="border-radius: 0 0.3rem 0.3rem 0 !important;">
                                        <input type="radio" style="visibility:hidden;position: absolute;" name="Sr22" id="sr22No" value="False" @(((Model.Sr22= =false), "checked" , "" ))> None
                                        <span></span>
                                    </label>
                                </div>
                                <input type="hidden" name="state" id="state">
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>*@

                @if (Model.IsFirstDriver == true && Arrowhead.POS.Service.GeneralServices.GetStateCode(Model.StateId) == "GA")
                {
                    <div class="form-group divSrSelection" style="display:none;">
                        <label for="SR22Selection" class="col-sm-3 col-md-3 col-lg-2 control-label text-right">State Filing</label>
                        <div class="col-sm-6 col-md-6 col-lg-4">
                            <div class="input-group">
                                <div id="radioBtn" class="btn-group radioBtn">


                                    <a class="@(Model.Sr22 == true && Model.IsSr22A == false ? "btn btn-md active" : "btn btn-md " )" data-toggle="Sr22" data-title="True" data-val="Sr22" data-name="stateFilling">SR22</a>
                                    <a class="@(Model.IsSr22A == true && Model.Sr22 == false ? "btn btn-md active" : "btn btn-md " )" data-toggle="IsSr22A" data-title="True" data-val="Sr22A" data-name="stateFilling">SR22A</a>
                                    <a class="@(Model.Sr22 == false &&  Model.IsSr22A==false? "btn btn-md active" : "btn btn-md " )" data-toggle="Sr22" data-title="False" data-val="None" data-name="stateFilling">None</a>

                                </div>
                                @Html.HiddenFor(model => model.Sr22)
                                @Html.HiddenFor(model => model.IsSr22A)


                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                }





                @if (Model.IsFirstDriver == true && Arrowhead.POS.Service.GeneralServices.GetStateCode(Model.StateId) != "GA")
                {

                    <div class="form-group divStateFilling" style="display:none;">
                        <label for="Gender" class="col-sm-3 col-md-3 col-lg-2 control-label text-right">State Filing</label>
                        <div class="col-sm-6 col-md-6 col-lg-4">
                            <div class="input-group">
                                <div id="radioBtn" class="btn-group radioBtn">
                                    <a class="@(Model.Sr22 == true ? " btn btn-md active" : "btn btn-md notActive" )" data-toggle="Sr22" data-title="True">SR22</a>
                                    <a class="@(Model.Sr22 == false ? " btn btn-md active" : "btn btn-md notActive" )" data-toggle="Sr22" data-title="False">None</a>
                                </div>
                                @Html.HiddenFor(model => model.Sr22)
                                @*<input type="hidden" name="Sr22" id="Sr22">*@
                            </div>
                            @Html.ValidationMessageFor(model => model.Sr22)
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>

                }

                <div class="form-group divIsDefensive" style="display:none">
                    <label for="DefensiveDriver" class="col-sm-3 col-md-3 col-lg-2 control-label text-right">Defensive Driver</label>
                    <div class="col-sm-6 col-md-6 col-lg-4">
                        <div class="input-group">
                            <div id="radioBtn" class="btn-group radioBtn">
                                <a class="@(Model.IsDefensiveDriverCourse == true ? " btn btn-md active" : "btn btn-md notActive" )" data-toggle="IsDefensiveDriverCourse" data-title="True">Yes</a>
                                <a class="@(Model.IsDefensiveDriverCourse == false ? " btn btn-md active" : "btn btn-md notActive" )" data-toggle="IsDefensiveDriverCourse" data-title="False">No</a>
                            </div>
                            @Html.HiddenFor(model => model.IsDefensiveDriverCourse)
                            @*<input type="hidden" name="Sr22" id="Sr22">*@
                        </div>
                        @Html.ValidationMessageFor(model => model.IsDefensiveDriverCourse)
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>

                @*@if (Model.IsFirstDriver == false)
                    {*@
                @*<div class="form-group">
                        <label for="work-Loss" class="col-sm-3 col-md-3 col-lg-2 control-label text-right">Work Loss Benefit</label>
                        <div class="col-sm-6 col-md-6 col-lg-4">
                            <div class="input-group">
                                <div id="radioBtn" class="btn-group">
                                    <label class="ui left attached button">
                                        <input type="radio" style="visibility:hidden;position: absolute;" name="IsWorkLossBenefit" id="WorkLossbenifitYes" value="True" @(((Model.IsWorkLossBenefit= =true), "checked" , "" ))>Yes
                                        <span></span>
                                    </label>
                                    <label class="right attached ui button" style="border-radius: 0 0.3rem 0.3rem 0 !important;">
                                        <input type="radio" style="visibility:hidden;position: absolute;" name="IsWorkLossBenefit" id="WorkLossbenifitNo" value="False" @(((Model.IsWorkLossBenefit= =false), "checked" , "" ))> No
                                        <span></span>
                                    </label>
                                </div>

                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>*@

                <div class="form-group divWorkLoss">
                    <label for="Gender" class="col-sm-3 col-md-3 col-lg-2 control-label text-right">Work Loss Benefit</label>
                    <div class="col-sm-6 col-md-6 col-lg-4">
                        <div class="input-group">
                            <div id="radioBtn" class="btn-group radioBtn">
                                <a class="@(Model.IsWorkLossBenefit == true ? " btn btn-md active" : "btn btn-md notActive" )" data-toggle="IsWorkLossBenefit" data-title="True" title="">Yes</a>
                                <a class="@(Model.IsWorkLossBenefit == false ? " btn btn-md active" : "btn btn-md notActive" )" data-toggle="IsWorkLossBenefit" data-title="False" title="">No</a>
                            </div>
                            @Html.HiddenFor(model => model.IsWorkLossBenefit)

                            @*<input type="hidden" name="IsWorkLossBenefit" id="IsWorkLossBenefit">*@
                        </div>
                        @Html.ValidationMessageFor(model => model.IsWorkLossBenefit)

                    </div>


                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
                @*}*@

                @if (Model.IsFirstDriver == false)
                {
                    <div class="form-group">
                        <label for="work-Loss" class="col-sm-3 col-md-3 col-lg-2 control-label text-right">Relation</label>
                        <div class="col-sm-6 col-md-6 col-lg-4">
                            <div class="input-group">
                                @Html.DropDownListFor(model => model.RelationCDId, Arrowhead.POS.Infrastructure.DropDown.GetDriverRelationShip(), "Select", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.RelationCDId)
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                }

                @if (Arrowhead.POS.Service.GeneralServices.GetStateCode(Model.StateId) == "SC")
                {
                    <div class="form-group">
                        <label for="MilitaryDiscount" class="col-sm-3 col-md-3 col-lg-2 control-label text-right">Active Military Discount</label>
                        <div class="col-sm-6 col-md-6 col-lg-4">
                            <div class="input-group">
                                <div id="radioBtn" class="btn-group radioBtn">
                                    <a class="@(Model.IsMilitaryDiscount == true ? " btn btn-md active" : "btn btn-md notActive" )" data-toggle="IsMilitaryDiscount" data-title="True">Yes</a>
                                    <a class="@(Model.IsMilitaryDiscount == false ? " btn btn-md active" : "btn btn-md notActive" )" data-toggle="IsMilitaryDiscount" data-title="False">No</a>
                                </div>
                                @Html.HiddenFor(model => model.IsMilitaryDiscount)
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>

                    <div class="form-group">
                        <label for="WareHouseDiscount" class="col-sm-3 col-md-3 col-lg-2 control-label text-right">Warehouse Club Discount</label>
                        <div class="col-sm-6 col-md-6 col-lg-4">
                            <div class="input-group">
                                <div id="radioBtn" class="btn-group radioBtn">
                                    <a class="@(Model.IsWareHouseDiscount == true ? " btn btn-md active" : "btn btn-md notActive" )" data-toggle="IsWareHouseDiscount" data-title="True">Yes</a>
                                    <a class="@(Model.IsWareHouseDiscount == false ? " btn btn-md active" : "btn btn-md notActive" )" data-toggle="IsWareHouseDiscount" data-title="False">No</a>
                                </div>
                                @Html.HiddenFor(model => model.IsWareHouseDiscount)
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                    @*<div class="form-group">
                            <label for="work-Loss" class="col-sm-3 col-md-3 col-lg-2 control-label text-right">Active Military Discount</label>
                            <div class="col-sm-6 col-md-6 col-lg-4">
                                <div class="input-group">
                                    @Html.DropDownListFor(model => model.FkMilitaryTypeId, Arrowhead.POS.Infrastructure.DropDown.GetMilitaryTypes(), new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>*@

                    @*<div class="divWarehouseDetails">
                            <div class="form-group">
                                <label for="work-Loss" class="col-sm-3 col-md-3 col-lg-2 control-label text-right">Warehouse Club Discount</label>
                                <div class="col-sm-6 col-md-6 col-lg-4">
                                    <div class="input-group">
                                        @Html.DropDownListFor(model => model.FkWarehouseTypeId, Arrowhead.POS.Infrastructure.DropDown.GetWarehouseTypes(), new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>*@
                }

                @{
                    List<Arrowhead.POS.Model.AutoDriverViolationModel>
                        listItem = (List<Arrowhead.POS.Model.AutoDriverViolationModel>
                            )TempData["QuoteDriverViolationsList"];
                    TempData.Keep("QuoteDriverViolationsList");
                }

                @*<div class="form-group">
                        <label for="senior" class="col-sm-3 col-md-3 col-lg-2 control-label text-right">Senior Driver</label>
                        <div class="col-sm-6 col-md-6 col-lg-4">
                            <div class="input-group">
                                <div id="radioBtn" class="btn-group">
                                    <Label Class="ui left attached button">
                                        <input type="radio" style="visibility:hidden;position: absolute;" name="IsSeniorDriver" id="SeniorDriverYes" value="True" @(((Model.IsSeniorDriver= =true), "checked" , "" ))>Yes
                                        <span></span>
                                    </Label>
                                    <Label Class="right attached ui button" style="border-radius: 0 0.3rem 0.3rem 0 !important;">
                                        <input type="radio" style="visibility:hidden;position: absolute;" name="IsSeniorDriver" id="SeniorDriverNo" value="False" @(((Model.IsSeniorDriver= =false), "checked" , "" ))> No
                                        <span></span>
                                    </Label>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>*@

                @*<div class="form-group">
                        <label for="Gender" class="col-sm-3 col-md-3 col-lg-2 control-label text-right">Senior Driver</label>
                        <div class="col-sm-6 col-md-6 col-lg-4">
                            <div class="input-group">
                                <div id="radioBtn" class="btn-group radioBtn">
                                    <a class="@(Model.IsSeniorDriver == true ? " btn btn-md active" : "btn btn-md notActive" )" data-toggle="IsSeniorDriver" data-title="True">Yes</a>
                                    <a class="@(Model.IsSeniorDriver == false ? " btn btn-md active" : "btn btn-md notActive" )" data-toggle="IsSeniorDriver" data-title="False">No</a>
                                </div>
                                @Html.HiddenFor(model => model.IsSeniorDriver)
                                @*<input type="hidden" name="IsSeniorDriver" id="IsSeniorDriver">
                            </div>
                            @Html.ValidationMessageFor(model => model.IsSeniorDriver)
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>*@

                <div class="form-group" id="divAccidents">
                    <label for="tickets" class="col-sm-3 col-md-3 col-lg-2 control-label text-right">Tickets or Violations in Last 3 Years?</label>
                    <div class="col-sm-6 col-md-6 col-lg-4">
                        <div class="input-group">
                            <div id="radioBtn" class="btn-group radioBtn">
                                <label class="ui left attached button">
                                    <input type="radio" style="visibility:hidden;position: absolute;" name="isAccidents" id="isAccidentsYes" value="yes" @((listItem.Count > 0, "checked", ""))> Yes
                                    <span></span>
                                </label>
                                <label class="right attached ui button" style="border-radius: 0 0.3rem 0.3rem 0 !important;">
                                    <input type="radio" style="visibility:hidden;position: absolute;" name="isAccidents" id="isAccidentsNo" value="no" @((listItem.Count > 0, "", "checked"))> No
                                    <span></span>
                                </label>
                            </div>

                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>

                @*<div class="form-group" id="divAccidents">
                        <label for="Gender" class="col-sm-3 col-md-3 col-lg-2 control-label text-right">Tickets or Accidents?</label>
                        <div class="col-sm-6 col-md-6 col-lg-4">
                            <div class="input-group">
                                <div id="radioBtn" class="btn-group">
                                    <a class="btn btn-md active" data-toggle="isAccidents" id="isAccidentsYes" data-title="True" @(listItem.Count> 0 ? "checked" : "")>Yes</a>
                                    <a class="btn btn-md notActive" data-toggle="isAccidents" id="isAccidentsNo" data-title="False" @((listItem.Count> 0 ? "" : "checked"))>No</a>
                                </div>
                                <input type="hidden" name="isAccidents" id="isAccidents">
                            </div>

                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>*@

                <div class="clearfix"></div>

                <div id="divIncidentDate" class="form-group" style="display: none">
                    <div class="col-sm-3 col-md-3 col-lg-2 text-right"><label for="usr">Violation Date</label></div>
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        @Html.TextBox("IncidentDate", DateTime.Now.ToString("MM/dd/yyyy"), new { @class = "form-control" })
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>

                <div id="divIncidentType" class="form-group" style="display: none">
                    <div class="col-sm-3 col-md-3 col-lg-2 text-right"><label for="usr">Violation Type</label></div>
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        @Html.DropDownList("IncidentType", Arrowhead.POS.Infrastructure.DropDown.GetAllViolation(), null, new { @class = "form-control" })
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>

                <div id="divIncidentSave" class="form-actions" style="display: none;padding-top:10px; padding-bottom:10px;">
                    <div class="col-md-2 clearfix"></div>
                    <div class="col-md-9">
                        <a id="btnSaveIncident" class="btn btn-info btn-sm">Add Incident</a>
                        <a id="btnClearIncidents" class="btn btn-info btn-sm">Clear All Incidents</a>
                        <br />
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="form-group" id="divIncidentList" style="display: none;">
                    @Html.Partial("~/Views/AutoDriver/Partial/_IncidentList.cshtml")
                    @*<label for="senior" class="col-sm-3 col-md-3 col-lg-2 control-label text-right"></label>*@
                    @*<div class="col-sm-6 col-md-6 col-lg-4">
                            <div class="input-group">
                                @Html.Partial("~/Views/AutoDriver/Partial/_IncidentList.cshtml")
                                <div class="clearfix"></div>
                            </div>
                        </div>*@
                </div>
                <div class="clearfix"></div>


                <div class="form-group" style="padding-top: 20px;">
                    <label for="occupation" class="col-sm-3 col-md-3 col-lg-2 control-label text-right">Occupation</label>
                    <div class="col-sm-6 col-md-6 col-lg-4">
                        <div class="input-group">
                            @Html.DropDownListFor(model => model.DriverOccupationID, Arrowhead.POS.Infrastructure.DropDown.GetAllDriverOccupation(), null, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>

                <div class="buttons">
                    @*<div class="col-sm-2 col-lg-2"></div>
                        <div class="col-sm-6 col-md-6 col-lg-6">*@
                    <div></div>
                    <div>
                        @*@if (_driverCount >= 1)
                            {*@
                        <input type="submit" id="btnDriver" name="Submit" class="btn btn-info btn-lg btnDriver" style="background-color:#66bb6a" value="Save & Continue to Coverages" />
                        @*}*@
                        <input type="submit" id="btnDriver1" name="Submit" class="btn btn-info btn-lg btnDriver" value="Save & Add New Driver" />
                        @*<button type="button" class="btn btn-info btn-lg" id="btnCancelDriver">Cancel</button>*@
                        @if (controllerName == "editdriverdetailtab" && Model.IsFirstDriver == false)
                        {
                            <a href="@Url.Action("delete", "auto/driver", new { id = Model.AutoDriverId })" class="btnDriver btn btn-lg btn-danger btnDelete" style="text-decoration:none !important; color:white!important">Remove</a>
                        }
                        @if (controllerName == "AddDriverDetail" && Model.IsFirstDriver == false)
                        {
                            <a href="javascript:;" class="btn btn-lg btn-warning btnCancel btnDriver" style="text-decoration:none !important; color:white!important">Cancel</a>
                        }
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="@filename"></script>
<script type="text/javascript" src="~/Scripts/Pages/driver.js"></script>
<script type="text/javascript">
    var dobStartDate = new Date($("#DOBStartDate").val());
    $(document).ready(function () {
       


        $('.btnCancel').on('click', function () {
            //alert('new')
            setTimeout(function () { $('.firstAddbtn').first().click() }, 10);
        });


        if ('@paymentCompleted' == 'True') {
            $("#frmDriver :input, radio").prop('disabled', true);
            $('.btnDelete').attr('disabled', true);
            $("a[data-toggle='Gender'],[data-toggle='IsExcluded'],[data-toggle='MaritalStatusCode'],[data-toggle='IsWorkLossBenefit'],[data-toggle='IsDefensiveDriverCourse'],[data-toggle='Sr22'],[data-toggle='IsGoodStudent']").addClass("disabled");
        }

        var isFirstDriver = '@Model.IsFirstDriver';
        if (isFirstDriver == "True")
            $('.divWarehouseDetails').css('display', 'block');
        else
            $('.divWarehouseDetails').css('display', 'none');

        $("#RelationCDId").change(function () {
            //alert("Selection Name : " + $(this).children("option:selected").text())
            //alert("Selection Id : " + $(this).children("option:selected").val())
            if ($(this).children("option:selected").val() == "10038")
                $('.divWarehouseDetails').css('display', 'block');
            else
                $('.divWarehouseDetails').css('display', 'none');
        }).change();


        //Default Selection Disabled for WorkLoss Benefit
        $("a[data-toggle='IsWorkLossBenefit']").addClass("disabled");
        $("a[data-toggle='IsWorkLossBenefit']").parent().attr("title", "Driver must be 60 year older or great to qualify for work loss");

        $("#Dob").change(function () {
            var dob = $('#Dob').val();
            var month = dob.split('/')[0];
            var day = dob.split('/')[1];
            var dateYear = dob.split('/')[2];
            var age = calculate_age(month, day, dateYear);

            if (isNaN(age) == false) {
                if (age != 60 && age < 60) {
                    $("a[data-toggle='IsWorkLossBenefit'][data-title='False']").trigger("click");
                    $("a[data-toggle='IsWorkLossBenefit']").addClass('disabled');
                    $("a[data-toggle='IsWorkLossBenefit']").parent().attr("title", "Driver must be 60 year older or great to qualify for work loss");
                }
                else {
                    $("a[data-toggle='IsWorkLossBenefit']").parent().removeAttr("title");
                    $("a[data-toggle='IsWorkLossBenefit']").removeClass('disabled');
                }
            }
        });
        $("#Dob").trigger("change");



        $(".btnDriver").click(function () {
            if ($("#frmDriver").valid()) {
                setTimeout(function () {

                    $('.btnDriver').siblings().attr('disabled', 'disabled');
                }, 10);
            };
        });
        // Validate Driver License Optional
        $("#LicenseNo").change(function () {
           if ($("#LicenseNo").val() != "") {
                $.ajax({
                    url: '@Url.Action("IsStateLicenseNo", "RemoteValidation")',
                    type: "POST",
                    data: { licenseNo: $("#LicenseNo").val(), StateId: '@Model.StateId' },
                    cache: false,
                    beforeSend: function () {

                    },
                    success: function (result) {
                       if (result == false) {
                            //$('#LicenseNo').rules('add', 'required');
                        }
                        //$("#divIncidentList").html(result);
                    },
                    complete: function () {
                    },
                    error: function (e) {
                    }
                });
            }
            //else if ($("#LicenseNo").val() == "")
            //{
            //    $('#LicenseNo').rules('remove', 'required');
            //}
        });

        $("#LicenseNo").trigger("change");

        if ("@Model.IsExcluded" == "True")
        {
            $("a[data-toggle='IsExcluded'][data-title='True']").trigger("click");
        }

        if ("@_vehicleCount" >= 3)   // Vehicle Count > 3 Allow upto 5 Rated Driver
        {
            if ("@_ratedDriverCount" >= 5)  // Driver Add Limit Exceeded  Add as IsExcluded
            {
                if ("@Model.DriverOrderID" == "") // add case
                {
                    if (parseInt("@_driverCount") > 5 || parseInt("@_driverCount") <= 8)
                    {
                        $("a[data-toggle='IsExcluded'][data-title='True']").trigger("click");
                        $("a[data-toggle='IsExcluded']").addClass("disabled");
                    }
                }
            }
        }
        else if ("@_ratedDriverCount" >= 4)  // Driver Add Limit Exceeded  Add as IsExcluded
        {
            if ("@Model.DriverOrderID" == "") // add case
            {
                if (parseInt("@_driverCount") > 4 || parseInt("@_driverCount") <= 8)
                {
                    $("a[data-toggle='IsExcluded'][data-title='True']").trigger("click");
                    $("a[data-toggle='IsExcluded']").addClass("disabled");
                }
            }
        }



        if ('@Model.Gender' == 'undefined' || '@Model.Gender' == '') {
            $("#Gender").val('M')
        } else {
            $("#Gender").val('@Model.Gender')
        }


        if ('@Model.MaritalStatusCode' == 'undefined' || '@Model.MaritalStatusCode' == '') {
             $("#MaritalStatusCode").val('SINGLE')
        }
        else {
              $("#MaritalStatusCode").val('@Model.MaritalStatusCode')
        }

        $.validator.unobtrusive.parse("form");
        if ('@listItem.Count' > 0) {
            $("#divIncidentDate").show();
            $("#divIncidentType").show();
            $("#divIncidentSave").show();
            $("#divIncidentList").show();
            $("#isAccidentsYes").parent().addClass('Checked');
            $("#isAccidentsNo").parent().removeClass('Checked');

        }
        else {
            $("#divIncidentDate").hide();
            $("#divIncidentType").hide();
            $("#divIncidentSave").hide();
            $("#divIncidentList").hide();
            $("#isAccidentsYes").parent().removeClass('Checked');
            $("#isAccidentsNo").parent().addClass('Checked');
        }

    });


    $("a").on("click", function () {
        if ($(this).attr("data-toggle") == 'IsExcluded')
        {
            if ($(this).attr("data-title") == "True")
            {
                $("#Dob").attr("data-val-is", "Age Should be minimum 14 years.");
                $("form").removeData("validator");
                $("form").removeData("unobtrusiveValidation");
                $.validator.unobtrusive.parse("form");
                $('#LicenseNo').rules('remove', 'required');
                $("#DOBStartDate").val(deltaDate(dobStartDate, 0, 0, 4));
                //$("#amount").attr("data-rule-range", "[1,600]");
                //$.validator.unobtrusive.parse("form");
                //$('#Dob').rules('remove', 'required');
            }
            else
            {
                $("#DOBStartDate").val(dobStartDate);
                if ('@Model.IsFirstDriver' == true) {
                    $("#Dob").attr("data-val-is", "Age Should be minimum 18 years.");
                } else {
                    $("#Dob").attr("data-val-is", "Age Should be minimum 16 years.");
                }
                $("form").removeData("validator");
                $("form").removeData("unobtrusiveValidation");
                $.validator.unobtrusive.parse("form");
            }
            // isExcluded  Hide/Show DOB and Driv.Lic
            if ($(this).text().toUpperCase() == 'YES')
            {
                $("#dvDriverLicense").fadeOut("slow");
                //$("#dvDob").fadeOut("slow");
            }
            else if ($(this).text().toUpperCase() == 'NO')
            {
                $("#dvDriverLicense").fadeIn("slow");
                //$("#dvDob").fadeIn("slow");
            }
        }
    });



    function ClearIncidents(row) {

        $.ajax({
            url: '@Url.Action("ClearIncidents", "AutoDriver")',
            type: "POST",
            data: { row: row },
            cache: false,
            beforeSend: function () {

            },
            success: function (result) {
                $("#divIncidentList").html(result);
            },
            complete: function () {
            },
            error: function (e) {
            }
        });
    }

    function calculate_age(birth_month, birth_day, birth_year)
    {
        today_date = new Date();
        today_year = today_date.getFullYear();
        today_month = today_date.getMonth();
        today_day = today_date.getDate();
        age = today_year - birth_year;

        if (today_month < (birth_month - 1)) {
            age--;
        }
        if (((birth_month - 1) == today_month) && (today_day < birth_day)) {
            age--;
        }
        return age;
    }

    $("#btnClearIncidents").click(function () {

        ClearIncidents(0);
    });

    $("#btnSaveIncident").click(function () {
        if (!moment($("#IncidentDate").val(), ["MM/DD/YYYY"], true).isValid()) {
            $("#IncidentDate").addClass("input-validation-error");
            return;
        } else {
            $("#IncidentDate").removeClass("input-validation-error");
        }

        $("body").CenterLoader(11001);

        $.ajax({
            url: '@Url.Action("SaveIncident", "AutoDriver")',
            type: "POST",
            data: { incidentDate: $("#IncidentDate").val(), violationId: $("#IncidentType").val() },
            cache: false,
            beforeSend: function () {

            },
            success: function (result) {
                $("#divIncidentList").html(result);
                $("body").RemoveLoader();
            },
            complete: function () {
            },
            error: function (e) {
                e.responseText;
                $("body").RemoveLoader();
            }
        });
    });

    @*$("#btnCancelDriverInfo").click(function () {
        $("#divManageDriver").html('');
        $("#btnAddDriver").show();
    });



    $("#btnCancelDriver").click(function () {
        window.location.href ='@Url.Action("driver", "auto")' + "/" + @Model.QuoteId;
    });*@


</script>
