﻿@model  List<Arrowhead.POS.Model.VerifyLienholderModel>

@{ 
    if (Model.Count > 0)
    {
        <div class="row">
            <div class="col-sm-12 veh-coverage-main">
                @{ 
                    <div class="col-md-12 col-lg-9">
                        <div class="violations_reports_area">
                            <div class="violations_title"></div>
                            <div class="violations_body vehicle-cov-mis">
                                <ul>
                                    @foreach (var items in Model)
                                    {
                                            <li>
                                                <span class="veh-cov-conten">
                                                    <b>
                                                        A lienholder has been added to
                                                        the (@items.Year @items.Make @items.Model). Please either remove lienholder or add comprehensive and collision
                                                        coverage to continue.
                                                    </b></span> 
                                                <span class="d-flex">
                                                    <button type="button" id="btnChangeCoverage" class="btn btn-info mr10 btnChangeCoverage">Change Coverage </button>
                                                    <a id="btnRemoveLienHolder" href="@Url.Action("vehicle/edit/" +items.QuoteId,"auto"  , new  {  id=items.VehicleId })" class="btn btn-info mr10">Remove Lienholder</a>
                                                </span>
                                            </li>
                                    }
                        
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="clearfix"></div>
                }
            </div>

        </div>
        }
    }
<script type="text/javascript">
    
    $(document).ready(function () {
        $("#setHeaderTitle").text('Vehicle Coverage Missing');
        $(".btnChangeCoverage").click(function ()
        {
            $("#setHeaderTitle").text('Coverage Options');
            $("#frmCustomCoverage").show();
            $("#divPayPlanList").hide();
        });
    });
</script>