﻿@model  Arrowhead.POS.Model.VINDLValidate
@{
    /**/

    Arrowhead.POS.Service.GeneralServices _generalServices = new Arrowhead.POS.Service.GeneralServices();
    long MaritalStatusID = _generalServices.GetGeneralStatusIdByType(Arrowhead.POS.Core.Enums.GeneralStatus.MARITALSTATUS.ToString(), Arrowhead.POS.Core.Enums.MaritalStatus.MARRIED.ToString());
    long SpouseStatusID = _generalServices.GetGeneralStatusIdByType(Arrowhead.POS.Core.Enums.GeneralStatus.MARITALSTATUS.ToString(), Arrowhead.POS.Core.Enums.DRIVERRELATION.SPOUSE.ToString());
}

<div class="row">
    <table cellpadding="0" cellspacing="0" id="tblVehicleVINValidation" style="width:100%">

        @if ((Model._vehicleInfo.Count > 0 && Model._vehicleInfo.Any(x => x.IsVINVerified == false)) || (Model._quoteInfo != null && !Model._quoteInfo.IsVehicleExist))
        {
            <label class="col-12"><b>Vehicle List</b></label>

            <tr>
                <th style="width:36%;">Vehicle Description</th>
                <th style="width:22%;">VIN Number</th>
                <th style="width:26%;">Error</th>
                <th style="width:16%;"></th>
            </tr>

        }

        @foreach (var items in Model._vehicleInfo)
        {

            if (items.IsVINVerified == false && items.VIN.Length < 17)
            {
                <tr>
                    <td>
                        @items.Year @items.Maker @items.Model
                    </td>
                    <td>
                        @items.VIN
                    </td>
                    <td>
                        <font color="red"><b> VIN missing 17 digits </b></font>
                    </td>
                    <td>
                        <a href="@Url.Action("vehicle/edit/" + items.QuoteID, "auto", new { id = items.VehicleID })" class="btn btn-info">Edit</a>
                    </td>
                </tr>
            }
            else if (items.IsVINVerified == false && items.VIN.Contains("*"))
            {
                <tr>
                    <td>
                        @items.Year @items.Maker @items.Model
                    </td>
                    <td>
                        @items.VIN
                    </td>
                    <td>
                        <font color="red"><b> Invalid VIN Number </b></font>
                    </td>
                    <td>
                        <a href="@Url.Action("vehicle/edit/" + items.QuoteID, "auto", new { id = items.VehicleID })" class="btn btn-info">Edit</a>
                    </td>
                </tr>
            }

        }
        @if (!Model._quoteInfo.IsVehicleExist)
        {
            <tr>
                <td></td>
                <td></td>
                <td>
                    <font color="red"><b>Atlease one vehicle required.</b></font>
                </td>
                <td>
                    <a href="@Url.Action("add", "auto/vehicle")">Add</a>
                </td>
            </tr>
        }

    </table>

    <br />
    <table cellpadding="0" cellspacing="0" id="tblDriverDLValidation" style="width:100%">
        <!-- Invalid Driver License / Missing Driver License-->
        @if (Model._DriverInfo != null && Model._DriverInfo.Count > 0 && (Model._DriverInfo.Any(x => x.isExcluded == false && String.IsNullOrEmpty(x.DriverLicense)))
            || (Model._quoteInfo != null && !Model._quoteInfo.IsDriverExist))
        {

            <label class="col-12"><b>Driver List</b></label>
            <tr>
                <th style="width:36%;"> Driver </th>
                <th style="width:22%;"> Drivers License</th>
                <th style="width:26%;"> Error </th>
                <th style="width:16%;"></th>
            </tr>

            // Empty Driver License
            foreach (var item in Model._DriverInfo)
            {
                if (item.isExcluded == false && String.IsNullOrEmpty(item.DriverLicense))
                {
                    //if (_generalServices.GetStateCode(item.StateID) == "MI")
                    //{
                    <tr>
                        <td>
                            @item.FirstName @item.LastName
                        </td>
                        <td>
                            @item.DriverLicense
                        </td>
                        <td>
                            <font color="red"><b>Missing Driver License</b></font>
                        </td>
                        <td>
                            <a href="@Url.Action("driver/edit/" + item.QuoteID, "auto", new { id = item.DriverID })" class="btn btn-info">Edit</a>
                        </td>
                    </tr>
                    // }
                }
                @*else if (item.isExcluded == false && (!(String.IsNullOrEmpty(item.DriverLicense)))) // && _generalServices.GetStateCode(item.StateID) == "MI"
                    {
                        if (_commonServices.IsValidLicenseNo(item.StateCode,item.DriverLicense).IsSuccess == false)
                        {
                            <tr>
                                <td>
                                    @item.FirstName @item.LastName
                                </td>
                                <td>
                                    @item.DriverLicense
                                </td>
                                <td>
                                    <font color="red"><b>Invalid Driver License</b></font>
                                </td>
                                <td>
                                    <a href="@Url.Action("driver/edit/" + item.QuoteID, "auto", new { id = item.DriverID })" class="btn btn-info">Edit</a>
                                </td>

                            </tr>
                        }
                    }*@

            }
            if (!Model._quoteInfo.IsDriverExist)
            {
                <tr>
                    <td></td>
                    <td></td>
                    <td>
                        <font color="red"><b>Atlease one driver required.</b></font>
                    </td>
                    <td>
                        <a href="@Url.Action("add", "auto/driver")">Add</a>
                    </td>
                </tr>
            }
        }

        <!-- Violation Points Exceeds Above 8 -->
        @if (Model._DriverInfo != null && Model._DriverInfo.Count > 0 && Model._DriverInfo.Any(x => x.ViolationPoints > 8))
        {
            if (!(Model._DriverInfo.Any(x => x.isExcluded == false && String.IsNullOrEmpty(x.DriverLicense))))
            {
                <label class="col-12">
                    <b>Driver List</b>
                </label>

                <tr>
                    <th style="width:36%;">Driver </th>
                    <th style="width:22%;">Violation Points</th>
                    <th style="width:26%;">Error</th>
                    <th style="width:16%;"></th>
                </tr>
            }
            else
            {
                <tr><td><br /></td></tr>
                <tr>
                    <th style="width:36%;">Driver </th>
                    <th style="width:22%;">Violation Points</th>
                    <th style="width:26%;">Error</th>
                    <th style="width:16%;"></th>
                </tr>
            }



            foreach (var item in Model._DriverInfo)
            {
                if (item.ViolationPoints > 8)
                {
                    <tr>
                        <td>
                            @item.FirstName @item.LastName
                        </td>
                        <td>
                            @item.ViolationPoints
                        </td>
                        <td>
                            <font color="red"><b>Risk unacceptable due to maximum allowable violation points exceeded.</b></font>
                        </td>
                        <td>
                            <a href="@Url.Action("driver/edit/" + item.QuoteID, "auto", new { id = item.DriverID })" class="btn btn-info">Edit</a>
                        </td>
                    </tr>
                }
            }
        }

        @if ((!Model._quoteInfo.IsDriverExist))
        {
            <tr>
                <td></td>
                <td></td>
                <td>
                    <font color="red"><b>Atleast one driver required.</b></font>
                </td>
                <td>
                    <a href="@Url.Action("add", "auto/driver")">Add</a>
                </td>
            </tr>
        }



        @*@foreach (var item in Model._DriverInfo)
            {
                if (item.isExcluded == false && String.IsNullOrEmpty(item.DriverLicense))
                {
                    //if (_generalServices.GetStateCode(item.StateID) == "MI")
                    //{
                        <tr>
                            <td>
                                @item.FirstName @item.LastName
                            </td>
                            <td>
                                @item.DriverLicense
                            </td>
                            <td>
                                <font color="red"><b>Missing Driver License</b></font>
                            </td>
                            <td>
                                <a href="@Url.Action("driver/edit/" + item.QuoteID, "auto", new { id = item.DriverID })" class="btn btn-info">Edit</a>
                            </td>
                        </tr>
                    // }
                }
                else if (item.isExcluded == false && (!(String.IsNullOrEmpty(item.DriverLicense)))) // && _generalServices.GetStateCode(item.StateID) == "MI"
                {
                    if (!(re.IsMatch(item.DriverLicense)))
                    {
                        <tr>
                            <td>
                                @item.FirstName @item.LastName
                            </td>
                            <td>
                                @item.DriverLicense
                            </td>
                            <td>
                                <a href="@Url.Action("driver/edit/" + item.QuoteID, "auto", new { id = item.DriverID })" class="btn btn-info">Edit</a>
                            </td>

                        </tr>
                    }
                }

                if (item.ViolationPoints > 8)
                {
                    <tr>
                        <td>
                            @item.FirstName @item.LastName
                        </td>
                        <td>
                            @item.ViolationPoints
                        </td>
                        <td>
                            <font color="red"><b>Risk unacceptable due to maximum allowable violation points exceeded.</b></font>
                        </td>
                        <td>
                        </td>
                            @*<td>
                    <a href="@Url.Action("driver/edit/" + item.QuoteID, "auto", new { id = item.DriverID })" class="btn btn-info">Edit</a>
                </td>*@
    </table>

    <br />


    @if (Model._DriverInfo.Count > 0 &&
                                Model._DriverInfo.Any(x => x.DriverOrderID == 1 && x.MaritalStatusID == MaritalStatusID && x.IsSpouseContain == true) &&
                                Model._DriverInfo.Any(x => x.DriverOrderID != 1 && x.IsSpouseContain == false) ||   // Single Driver married but spouse not exist
                                (Model._DriverInfo.Count == 1 && Model._DriverInfo.Any(x => x.DriverOrderID == 1 && x.MaritalStatusID == MaritalStatusID && x.IsSpouseContain == true) && Model._DriverInfo.Count(x => x.DriverOrderID != 1) == 0))
    // Exist when Spouse not exist but Driver married exist
    {
        <table cellpadding="0" cellspacing="0" id="tblDriverSpouseValidation" style="width:100%">
            <label class="col-12"><b>Other Validation</b></label>
            <tr>
                <th style="width:36%;">Name</th>
                <th style="width:22%;">Description</th>
                <th style="width:26%;">Error</th>
                <th style="width:16%;"></th>
            </tr>

            @foreach (var item in Model._DriverInfo)
            {
                // Display First Driver if Spouse Missing
                if (item.DriverOrderID == 1)
                {
                    <tr>
                        <td>
                            @item.FirstName @item.LastName
                        </td>
                        <td></td>
                        <td>
                            <font color="red"><b>Missing Spouse</b></font>
                        </td>
                        <td>
                            @{
                                // Restrict Driver Max Order Id Limit Exceed
                                var secondValue = Model._DriverInfo.Skip(1).Select(x => x.DriverID).FirstOrDefault();

                                if (Model._DriverInfo.Count < 4)
                                {
                                    @*<a href="@Url.Action("driver/add/" + item.QuoteID, "auto")" class="btn btn-info">Add</a>*@
                                    <a href="@Url.Action("driver/" + item.QuoteID, "auto")" class="btn btn-info">Add</a>
                                }
                                else
                                {
                                    <a href="@Url.Action("driver/edit/" + item.QuoteID, "auto", new { id = secondValue })" class="btn btn-info">Edit Spouse</a>
                                }
                            }
                        </td>

                    </tr>
                }
            }
        </table>
    }



    @if (Model._quoteInfo != null && ((!Model._quoteInfo.IsGarageAddressExist || !Model._quoteInfo.IsMailingAddressExist) ||
        (!Model._quoteInfo.IsCityExist) || (!Model._quoteInfo.IsStateExist) || (!Model._quoteInfo.IsGarageAddressExist) || (!Model._quoteInfo.IsZipCodeExist)) ||
        ((Model._quoteInfo.IsMailingCityExist || (!Model._quoteInfo.IsMailingStateExist) || (!Model._quoteInfo.IsMailingZipCodeExist) ||
        (!Model._quoteInfo.IsMailingAddressExist))))
    {
        <br />
        <table id="tblQuoteAddressGarageValidation" cellpadding="0" cellspacing="0" style="width:100%;">
            @if ((!Model._quoteInfo.IsCityExist) || (!Model._quoteInfo.IsStateExist) ||
            (!Model._quoteInfo.IsGarageAddressExist) || (!Model._quoteInfo.IsZipCodeExist))
            {
                <label class="col-12"><b>Quote Address Validation</b></label>
                <hr />

                <h5><label><b>Garage Address Validation</b></label></h5>
                <tr>
                    <th style="width:22%;">Description</th>
                    <th style="width:26%;">Error</th>
                    <th style="width:16%;"></th>
                </tr>

                bool _isGarageError = false;
                if (!Model._quoteInfo.IsGarageAddressExist || !Model._quoteInfo.IsZipCodeExist || !Model._quoteInfo.IsStateExist || !Model._quoteInfo.IsCityExist)
                {

                    if (!Model._quoteInfo.IsGarageAddressExist)
                    {
                        _isGarageError = true;
                    }
                    if (!Model._quoteInfo.IsZipCodeExist)
                    {
                        _isGarageError = true;
                    }
                    if (!Model._quoteInfo.IsStateExist)
                    {
                        _isGarageError = true;
                    }
                    if (!Model._quoteInfo.IsCityExist)
                    {
                        _isGarageError = true;
                    }
                }

                if (_isGarageError)
                {
                    <tr>
                        <td></td>
                        <td><font color="red"><b>Invalid Garage Address.</b></font></td>
                        <td><a href="@Url.Action("applicant/edit/", "auto", new { id = Model._quoteInfo.QuoteId })" class="btn btn-info">Edit</a></td>
                    </tr>
                }
            }
        </table>
    }




    @* If Garage Address has error then only validate mailing address*@

    @*if ((!Model._quoteInfo.IsGarageAddressExist) || (!Model._quoteInfo.IsStateExist) || (!Model._quoteInfo.IsZipCodeExist) || (!Model._quoteInfo.IsCityExist))*@
    @{
        bool _isMailingAddressError = false;

        if (Model._quoteInfo.IsMailingZipCodeExist && Model._quoteInfo.IsMailingCityExist && Model._quoteInfo.IsMailingStateExist && (!Model._quoteInfo.IsMailingAddressExist)
        || (Model._quoteInfo.IsMailingAddressExist && (!Model._quoteInfo.IsGarageAddressExist)) ||
        (!Model._quoteInfo.IsMailingZipCodeExist) || (!Model._quoteInfo.IsMailingAddressExist) || (!Model._quoteInfo.IsMailingCityExist) || (!Model._quoteInfo.IsMailingStateExist))
        {
            <br />
            <table id="tblMailingAddressValidation" cellpadding="0" cellspacing="0" style="width:100%;">
                <h5><label><b>Mailing Address Validation</b></label></h5>
                <tr>
                    <th style="width:22%;">Description</th>
                    <th style="width:26%;">Error</th>
                    <th style="width:16%;"></th>
                </tr>

                @if (Model._quoteInfo.IsZipCodeExist && Model._quoteInfo.IsMailingCityExist && Model._quoteInfo.IsMailingStateExist && (!Model._quoteInfo.IsMailingAddressExist))
                {
                    _isMailingAddressError = true;
                }
                else if ((Model._quoteInfo.IsMailingAddressExist && (!Model._quoteInfo.IsGarageAddressExist))) // garage address missing
                {
                    _isMailingAddressError = true;
                }
                // if any one is missing
                else if (Model._quoteInfo.IsMailingAddressExist && ((!Model._quoteInfo.IsMailingZipCodeExist) || (!Model._quoteInfo.IsMailingCityExist) || (!Model._quoteInfo.IsMailingStateExist)))
                {
                    _isMailingAddressError = true;
                } // validate all mailing conditions
                else if (!Model._quoteInfo.IsMailingAddressExist || (!Model._quoteInfo.IsMailingZipCodeExist) || (!Model._quoteInfo.IsMailingCityExist) || (!Model._quoteInfo.IsMailingStateExist))
                {
                    _isMailingAddressError = true;
                }
                if (_isMailingAddressError)
                {
                <tr>
                    <td></td>
                    <td><font color="red"><b>Invalid Mailing Address.</b></font></td>
                    <td><a href="@Url.Action("applicant/edit/", "auto", new { id = Model._quoteInfo.QuoteId })" class="btn btn-info">Edit</a></td>
                </tr>
                }

            </table>
        }
    }



    @if (Model._quoteInfo.IsSpamContact)
    {
        <br />
        <table id="tblQuoteValidation" cellpadding="0" cellspacing="0" style="width:100%;">

            <h5><label><b>Contact Number Validation</b></label></h5>
            <tr>
                <th style="width:22%;">Description</th>
                <th style="width:26%;">Error</th>
                <th style="width:16%;"></th>
            </tr>

            <tr>
                <td>@Model._quoteInfo.SpamContactNo</td>
                <td><font color="red"><b>Invalid Phone Number</b></font></td>
                <td><a href="@Url.Action("applicant/edit/", "auto", new { id = Model._quoteInfo.QuoteId })" class="btn btn-info">Edit</a></td>
            </tr>

        </table>
    }
</div>
