﻿@model  List<Arrowhead.POS.Model.StateCoveragesModel>

@{
    var parentStateCoverage = Model.Where(f => f.ParentId == 0);
    var childStateCoverage = Model.Where(f => f.ParentId > 0);
    var vehicleList = Model.Where(x => x.VehicleID > 0).Select(f => f.VehicleID).Distinct();
    Arrowhead.POS.Service.AutoQuoteServices _autoQuoteServices = new Arrowhead.POS.Service.AutoQuoteServices();
    var _isQuoteCompleted = Arrowhead.POS.Infrastructure.ProjectSession.QuoteID > 0 ? _autoQuoteServices.IsQuoteCompleted(Arrowhead.POS.Infrastructure.ProjectSession.QuoteID) : false;
    // bool paymentCompleted = Arrowhead.POS.Infrastructure.CommonFunctions.IsPaymentCompleted(Arrowhead.POS.Infrastructure.ProjectSession.QuoteID);

}

<form id="frmCustomCoverage">
    <div class="row coverage_options_form">
        <div class="col-sm-12 col-md-12 col-lg-6">
            @foreach (var item in parentStateCoverage)
            {
                if (item.CoverageFormControl == "dropdown")
                {
                    if (!item.IsVehicleCoverage)
                    {

                        <div class="form-group">
                            <div class="col-sm-5 text-right"><label for="usr">@item.CoverageName</label></div>
                            <div class="col-sm-6">
                                <select class="form-control" data-code="@item.Code.Trim()" id="@item.CoverageId" name='@item.CoverageId-0' aria-invalid="false">
                                    @foreach (var optionVal in item.CoveragesFormControlValues)
                                    {
                                        <option value="@optionVal.Value " selected="@optionVal.IsSelected">@optionVal.Text</option>
                                    }
                                </select>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>

                        if (childStateCoverage.Any(x => x.ParentId == item.CoverageId))
                        {
                            foreach (var citem in childStateCoverage)
                            {
                                if (citem.ParentId == item.CoverageId)
                                {
                                    if (citem.CoverageFormControl == "dropdown")
                                    {
                                        <div class="form-group umremove hidden" parent-coverageID="@citem.ParentId">
                                            <div class="col-sm-5 text-right"><label for="usr">@citem.CoverageName</label></div>
                                            <div class="col-sm-6">
                                                <select class="form-control input-medium valid " id="@citem.CoverageId" name="@citem.CoverageId-0" coverage-code="@citem.Code.Trim()" aria-invalid="false">
                                                    @foreach (var optionVal in citem.CoveragesFormControlValues)
                                                    {
                                                        <option value="@optionVal.Value" selected="@optionVal.IsSelected">@optionVal.Text</option>
                                                    }
                                                </select>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="clearfix"></div>
                                    }
                                }
                            }
                        }
                    }
                }
            }
        </div>
        @{
            long PreviosvehicleID = 0;
        }
        <div class="col-sm-12 col-md-12 col-lg-6">
            @*<div class="gray_box_area">
                    <h2 class="gray_box_title">Vehicle <span class="gray_box_title_span">2007 FORD TAURUS SE</span></h2>
                    <div class="gray_box_form">

                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>*@

            <div class="gray_box_area">
                <div class="">
                    @foreach (var veh in vehicleList)
                    {
                        foreach (var item in parentStateCoverage.Where(w => w.VehicleID == veh && w.Code != "TL"))
                        {
                            if (item.CoverageFormControl == "dropdown")
                            {
                                if (item.IsVehicleCoverage)
                                {
                                    if (item.VehicleID != PreviosvehicleID)
                                    {
                                        if (PreviosvehicleID != 0)
                                        {
                                            <br />
                                        }

                                        <div class="col-sm-5"></div>
                                        <h2 class="gray_box_title ">@item.VehicleTitle</h2>


                                    }

                                    <div class="@(item.VehicleID != PreviosvehicleID ? "gray_box_form" : "gray_background")">
                                        @{
                                            PreviosvehicleID = Convert.ToInt64(item.VehicleID);
                                        }
                                        <div class="form-group">
                                            <div class="col-sm-3 text-rightt"><label lable-vehicleId="@item.VehicleID" lable-vehicle="@item.CoverageName" for="usr">@item.CoverageName</label></div>
                                            <div class="col-sm-9">
                                                <select class="form-control vehicleCoverage" id='@item.CoverageId-@item.VehicleID' name='@item.CoverageId-@item.VehicleID' vehicle-id="@item.VehicleID" coverage-name="@item.Code" aria-invalid="false">
                                                    @foreach (var optionVal in item.CoveragesFormControlValues)
                                                    {
                                                        <option value="@optionVal.Value " selected="@optionVal.IsSelected">@optionVal.Text</option>
                                                    }
                                                </select>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>

                                }

                            }

                        }
                    }
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-1"></div>
    <div class="col-sm-4 col-md-4 col-lg-2 mb10">
        <button type="button" id="btnGetRate" class="btn btn-info btn-lg">GET RATES <i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
    </div>
</form>
<script type="text/javascript">

    var _Coverage = '@Html.Raw(Json.Encode(childStateCoverage))';
    var _ModelCoverage = '@Html.Raw(Json.Encode(Model))';
    var _childCoverage = JSON.parse(_Coverage);


        @*if ('@paymentCompleted' == 'True')
        {
             $("#frmCustomCoverage :input").prop("disabled", true);
        }
        else
        {
             $("#frmCustomCoverage :input").prop("disabled", false);
        }*@


    //$('select').on('change', function () {
    //    for (var i = 0; i < _childCoverage.length; i++) {
    //        if (this.id == _childCoverage[i].ParentId) {
    //            if (this.value == "0.00/0.00 " || this.value == "0.00/0.00" || this.value == "0.00" || this.value == "No Coverage" || this.value == "None" | this.value == "") {
    //                $("[parent-coverageID=" + this.id + "]").addClass('hidden');
    //                if (_childCoverage[i].Code == "UMBI") {
    //                    var value = _childCoverage[0].CoveragesFormControlValues[0].Value;
    //                    $("select[id=" + _childCoverage[i].CoverageId + "]").val(value);
    //                }

    //            }
    //            else {

    //                $("[parent-coverageID=" + this.id + "]").removeClass('hidden');
    //                if (_childCoverage[i].Code == "UMBI") {
    //                    var value = _childCoverage[0].CoveragesFormControlValues[1].Value;
    //                    $("select[id=" + _childCoverage[i].CoverageId + "]").val(value);
    //                }

    //            }
    //        }
    //    }

    //});


    $(document).ready(function ()
    {
        if ('@_isQuoteCompleted' == 'True') {
            $("#frmCustomCoverage :input").attr("disabled", true);
        }


        $.each($.parseJSON(_ModelCoverage), function (key, value)
        {
            var col = "COLLLEVEL";
            var option = "";
            //console.log("Coverage Code For SC" + value.Code);
            //console.log("Local Storage Vehicle Id" + value.IsEdit);
            if (value.Code == col && value.IsEdit == true)
            {
                if (value.QuoteSelectedValue != "") {
                    if (value.QuoteSelectedValue.trim() == "0.00/0.00") //COLL LEVEL - NONE
                    {
                        var comp = "COMP";
                        var complable = "Comprehensive";
                        var compOption = value[value.vehicleID];
                        $("select[coverage-name =" + comp + "][vehicle-id=" + value.VehicleID + "]").css("display", "none");
                        $("[lable-vehicle=" + complable + "][lable-vehicleId=" + value.VehicleID + "]").css("display", "none");
                        //$("select[coverage-name =" + comp + "][vehicle-id=" + value.VehicleID + "]").hide();
                        //$("[lable-vehicle=" + complable + "][lable-vehicleId=" + value.VehicleID + "]").hide();
                        $("select[coverage-name =" + comp + "][vehicle-id=" + value.VehicleID + "] option[value='0.00/0.00 ']").prop('selected', true);

                        var coll = "COLL";
                        var colllable = "Collision";
                        $("select[coverage-name =" + coll + "][vehicle-id=" + value.VehicleID + "] option[value='0.00/0.00 ']").prop('disabled', false);
                        $("select[coverage-name =" + coll + "][vehicle-id=" + value.VehicleID + "]").css("display", "none");
                        $("[lable-vehicle=" + colllable + "][lable-vehicleId=" + value.VehicleID + "]").css("display", "none");
                        //$("select[coverage-name =" + coll + "][vehicle-id=" + value.VehicleID + "]").hide();
                        //$("[lable-vehicle=" + colllable + "][lable-vehicleId=" + value.VehicleID + "]").hide();
                        $("select[coverage-name =" + coll + "][vehicle-id=" + value.VehicleID + "] option[value='0.00/0.00 ']").prop('selected', true);

                        var lou = "LUSE";
                        var loulable = "Loss-of-Use";
                        $("select[coverage-name =" + lou + "][vehicle-id=" + value.VehicleID + "]").css("display", "none");
                        $("[lable-vehicle=" + loulable + "][lable-vehicleId=" + value.VehicleID + "]").css("display", "none");
                        $("select[coverage-name =" + lou + "][vehicle-id=" + value.VehicleID + "] option[value='0.00/0.00 ']").prop('selected', true);
                    }
                    else
                    {
                        option = value.QuoteSelectedValue.trim(); // Set Option for set in coll and comp

                        if (value.QuoteSelectedValue.trim() == "3.00/0.00") // LIMITED
                        {
                            var col = "COLLLEVEL";
                            var collable = "Collision-Level";
                            //$("select[coverage-name =" + col + "][vehicle-id=" + value.VehicleID + "]").show();
                            $("select[coverage-name =" + col + "][vehicle-id=" + value.VehicleID + "]").css("display", "block");
                            $("select[coverage-name =" + col + "][vehicle-id=" + value.VehicleID + "] option[value='" + value.QuoteSelectedValue + "']").prop('selected', true);

                            var comp = "COMP";
                            var complable = "Comprehensive";
                            //$("select[coverage-name =" + comp + "][vehicle-id=" + value.VehicleID + "]").show();
                            //$("[lable-vehicle=" + complable + "][lable-vehicleId=" + value.VehicleID + "]").show();
                            $("select[coverage-name =" + comp + "][vehicle-id=" + value.VehicleID + "]").css("display", "block");
                            $("[lable-vehicle=" + complable + "][lable-vehicleId=" + value.VehicleID + "]").css("display", "block");

                            var coll = "COLL";
                            var colllable = "Collision";

                            $("[lable-vehicle=" + colllable + "][lable-vehicleId=" + value.VehicleID + "]").css("display", "block");
                            $("select[coverage-name =" + coll + "][vehicle-id=" + value.VehicleID + "]").css("display", "block");
                            //$("[lable-vehicle=" + colllable + "][lable-vehicleId=" + value.VehicleID + "]").show();
                            //$("select[coverage-name =" + coll + "][vehicle-id=" + value.VehicleID + "]").show();
                            $("select[coverage-name =" + coll + "][vehicle-id=" + value.VehicleID + "] option[value='0.00/0.00 ']").prop('selected', true);
                            $("select[coverage-name =" + coll + "][vehicle-id=" + value.VehicleID + "]").prop('disabled', true);

                            var lou = "LUSE";
                            var loulable = "Loss-of-Use";
                            $("select[coverage-name =" + lou + "][vehicle-id=" + value.VehicleID + "]").css("display", "block");
                            $("[lable-vehicle=" + loulable + "][lable-vehicleId=" + value.VehicleID + "]").css("display", "block");
                           // $("select[coverage-name =" + lou + "][vehicle-id=" + value.VehicleID + "] option[value='0.00/0.00 ']").prop('selected', true);
                        }
                        else
                        {
                            if (option.trim() != "0.00/0.00") {
                                var col = "COLLLEVEL";
                                var collable = "Collision-Level";
                                $("select[coverage-name =" + col + "][vehicle-id=" + value.VehicleID + "]").css("display", "block");
                                //$("select[coverage-name =" + col + "][vehicle-id=" + value.VehicleID + "]").show();
                                $("select[coverage-name =" + col + "][vehicle-id=" + value.VehicleID + "] option[value='" + value.QuoteSelectedValue + "']").prop('selected', true);

                                var comp = "COMP";
                                var complable = "Comprehensive";

                                //$("select[coverage-name =" + comp + "][vehicle-id=" + value.VehicleID + "]").show();
                                //$("[lable-vehicle=" + complable + "][lable-vehicleId=" + value.VehicleID + "]").show();
                                $("select[coverage-name =" + comp + "][vehicle-id=" + value.VehicleID + "]").css("display", "block");
                                $("[lable-vehicle=" + complable + "][lable-vehicleId=" + value.VehicleID + "]").css("display", "block");


                                var coll = "COLL";
                                var colllable = "Collision";
                                //$("[lable-vehicle=" + colllable + "][lable-vehicleId=" + value.VehicleID + "]").show();
                                //$("select[coverage-name =" + coll + "][vehicle-id=" + value.VehicleID + "]").show();
                                $("[lable-vehicle=" + colllable + "][lable-vehicleId=" + value.VehicleID + "]").css("display", "block");
                                $("select[coverage-name =" + coll + "][vehicle-id=" + value.VehicleID + "]").css("display", "block");
                            }
                            else {
                                var col = "COLLLEVEL";
                                var collable = "Collision-Level";
                                //$("select[coverage-name =" + col + "][vehicle-id=" + value.VehicleID + "]").show();
                                $("select[coverage-name =" + col + "][vehicle-id=" + value.VehicleID + "]").css("display", "block");
                                $("select[coverage-name =" + col + "][vehicle-id=" + value.VehicleID + "] option[value='" + value.QuoteSelectedValue + "']").prop('selected', true);

                                var comp = "COMP";
                                var complable = "Comprehensive";
                                //$("select[coverage-name =" + comp + "][vehicle-id=" + value.VehicleID + "]").show();
                                //$("[lable-vehicle=" + complable + "][lable-vehicleId=" + value.VehicleID + "]").show();
                                $("select[coverage-name =" + comp + "][vehicle-id=" + value.VehicleID + "]").css("display", "block");
                                $("[lable-vehicle=" + complable + "][lable-vehicleId=" + value.VehicleID + "]").css("display", "block");


                                var coll = "COLL";
                                var colllable = "Collision";
                                $("[lable-vehicle=" + colllable + "][lable-vehicleId=" + value.VehicleID + "]").css("display", "block");
                                $("select[coverage-name =" + coll + "][vehicle-id=" + value.VehicleID + "]").css("display", "block");
                                //$("[lable-vehicle=" + colllable + "][lable-vehicleId=" + value.VehicleID + "]").show();
                                //$("select[coverage-name =" + coll + "][vehicle-id=" + value.VehicleID + "]").show();
                            }

                        }
                    }
                }
                else {
                    if (value.Selected.trim() == "0.00/0.00") // NONE COLL LEVEL
                    {
                        var comp = "COMP";
                        var complable = "Comprehensive";
                        //$("select[coverage-name =" + comp + "][vehicle-id=" + value.VehicleID + "]").hide();
                        //$("[lable-vehicle=" + complable + "][lable-vehicleId=" + value.VehicleID  + "]").hide();
                        $("select[coverage-name =" + comp + "][vehicle-id=" + value.VehicleID + "]").css("display", "none");
                        $("[lable-vehicle=" + complable + "][lable-vehicleId=" + value.VehicleID + "]").css("display", "none");
                        //$("select[coverage-name =" + comp + "][vehicle-id=" + value.VehicleID  + "] option[value='0.00/0.00 ']").prop('selected', true);

                        var coll = "COLL";
                        var colllable = "Collision";

                        $("select[coverage-name =" + coll + "][vehicle-id=" + value.VehicleID + "] option[value='0.00/0.00 ']").prop('disabled', false);
                        $("select[coverage-name =" + coll + "][vehicle-id=" + value.VehicleID + "]").css("display", "none");
                        $("[lable-vehicle=" + colllable + "][lable-vehicleId=" + value.VehicleID + "]").css("display", "none");
                        //$("select[coverage-name =" + coll + "][vehicle-id=" + value.VehicleID  + "]").hide();
                        //$("[lable-vehicle=" + colllable + "][lable-vehicleId=" + value.VehicleID  + "]").hide();
                        //$("select[coverage-name =" + coll + "][vehicle-id=" + value.VehicleID  + "] option[value='0.00/0.00 ']").prop('selected', true);

                        var lou = "LUSE";
                        var loulable = "Loss-of-Use";
                        $("select[coverage-name =" + lou + "][vehicle-id=" + value.VehicleID + "]").css("display", "none");
                        $("[lable-vehicle=" + loulable + "][lable-vehicleId=" + value.VehicleID + "]").css("display", "none");
                        //$("select[coverage-name =" + lou + "][vehicle-id=" + value.VehicleID  + "]").hide();
                        //$("[lable-vehicle=" + loulable + "][lable-vehicleId=" + value.VehicleID  + "]").hide();
                        $("select[coverage-name =" + lou + "][vehicle-id=" + value.VehicleID + "] option[value='0.00/0.00 ']").prop('selected', true);
                        $("select[coverage-name =" + lou + "][vehicle-id=" + vehicleID + "]").val(option);
                    }
                }
            }
            else if (value.Code == col && value.IsEdit == false) {
                if (value.Selected.trim() == "0.00/0.00") {
                    var comp = "COMP";
                    var complable = "Comprehensive";
                    //$("select[coverage-name =" + comp + "][vehicle-id=" + value.VehicleID + "]").hide();
                    //$("[lable-vehicle=" + complable + "][lable-vehicleId=" + value.VehicleID + "]").hide();
                    $("select[coverage-name =" + comp + "][vehicle-id=" + value.VehicleID + "]").css("display", "none");
                    $("[lable-vehicle=" + complable + "][lable-vehicleId=" + value.VehicleID + "]").css("display", "none");
                    $("select[coverage-name =" + comp + "][vehicle-id=" + value.VehicleID + "] option[value='0.00/0.00 ']").prop('selected', true);

                    var coll = "COLL";
                    var colllable = "Collision";

                    $("select[coverage-name =" + coll + "][vehicle-id=" + value.VehicleID + "] option[value='0.00/0.00 ']").prop('disabled', false);
                    $("select[coverage-name =" + coll + "][vehicle-id=" + value.VehicleID + "]").css("display", "none");
                    $("[lable-vehicle=" + colllable + "][lable-vehicleId=" + value.VehicleID + "]").css("display", "none");
                    //$("select[coverage-name =" + coll + "][vehicle-id=" + value.VehicleID + "]").hide();
                    //$("[lable-vehicle=" + colllable + "][lable-vehicleId=" + value.VehicleID + "]").hide();
                    $("select[coverage-name =" + coll + "][vehicle-id=" + value.VehicleID + "] option[value='0.00/0.00 ']").prop('selected', true);

                    var lou = "LUSE";
                    var loulable = "Loss-of-Use";
                    $("select[coverage-name =" + lou + "][vehicle-id=" + value.VehicleID + "]").css("display", "none");
                    $("[lable-vehicle=" + loulable + "][lable-vehicleId=" + value.VehicleID + "]").css("display", "none");
                    //$("select[coverage-name =" + lou + "][vehicle-id=" + value.VehicleID + "]").hide();
                    //$("[lable-vehicle=" + loulable + "][lable-vehicleId=" + value.VehicleID + "]").hide();
                    $("select[coverage-name =" + lou + "][vehicle-id=" + value.VehicleID + "] option[value='0.00/0.00 ']").prop('selected', true);
                    //$("select[coverage-name =" + lou + "][vehicle-id=" + vehicleID + "]").val(option);

                    var towing = "TL";
                    var towinglable = "Towing";
                    $("select[coverage-name =" + towing + "][vehicle-id=" + value.VehicleID + "]").css("display", "none");
                    $("[lable-vehicle=" + towinglable + "][lable-vehicleId=" + value.VehicleID + "]").css("display", "none");
                    $("select[coverage-name =" + towing + "][vehicle-id=" + value.VehicleID + "] option[value='0.00/0.00 ']").prop('selected', true);
                }
            }


            if (value.Code != coll) {
                if (value.Code == "COLL")
                {
                    var option = value.QuoteSelectedValue.trim() == "" ? value.Selected : value.QuoteSelectedValue.trim();
                    if (option == "0.00/0.00" || option == "No Coverage" || option == "") {
                        var lou = "LUSE";
                        var loulable = "Loss-of-Use";
                        if (value.IsEdit == false) {
                            $("select[coverage-name =" + lou + "][vehicle-id=" + value.VehicleID + "]").css("display", "none");
                            $("[lable-vehicle=" + loulable + "][lable-vehicleId=" + value.VehicleID + "]").css("display", "none");
                            //$("select[coverage-name =" + lou + "][vehicle-id=" + value.VehicleID + "]").hide();
                            //$("[lable-vehicle=" + loulable + "][lable-vehicleId=" + value.VehicleID + "]").hide();
                            $("select[coverage-name =" + lou + "][vehicle-id=" + value.VehicleID + "] option[value='0.00/0.00 ']").prop('selected', true);
                            //$("select[coverage-name =" + lou + "][vehicle-id=" + value.vehicleID + "]").val(option);
                            //$("select[coverage-name =" + lou + "][vehicle-id=" + value.VehicleID + "]").show();
                            //$("[lable-vehicle=" + loulable + "][lable-vehicleId=" + value.VehicleID + "]").show();
                        }


                    }
                    else {
                        // Hide the No Deductible from COLL
                        //var coll = "COLL";
                        //var colllable = "Collision";
                        //$("select[coverage-name =" + coll + "][vehicle-id=" + value.VehicleID + "] option[value='0.00/0.00 ']").attr('disabled', 'disabled').hide(); // IE Issue Disable No Deductible Option


                        var lou = "LUSE";
                        var loulable = "Loss-of-Use";
                        $("select[coverage-name =" + lou + "][vehicle-id=" + value.VehicleID + "]").css("display", "none");
                        $("[lable-vehicle=" + loulable + "][lable-vehicleId=" + value.VehicleID + "]").css("display", "none");
                        $("select[coverage-name =" + lou + "][vehicle-id=" + value.VehicleID + "]").show();
                        $("[lable-vehicle=" + loulable + "][lable-vehicleId=" + value.VehicleID + "]").show();


                    }
                    var compName = "COMP";
                    $("select[coverage-name =" + compName + "][vehicle-id=" + value.VehicleID + "] option[value='" + value.QuoteSelectedValue + "']").prop('selected', true);
                }
                else if (value.Code == "COMP") {
                    var option = value.QuoteSelectedValue.trim() == "" ? value.Selected : value.QuoteSelectedValue.trim();
                    if (option == "0.00/0.00" || option == "No Coverage" || option == "") {
                        var lou = "LUSE";
                        var loulable = "Loss-of-Use";
                        $("select[coverage-name =" + lou + "][vehicle-id=" + value.VehicleID + "]").css("display", "none"); // remove display none
                        $("[lable-vehicle=" + loulable + "][lable-vehicleId=" + value.VehicleID + "]").css("display", "none"); // remove display none

                    }
                    else {
                        // Hide No Deductible from COMP
                        //var comp = "COMP";
                        //$("select[coverage-name =" + comp + "][vehicle-id=" + value.VehicleID + "] option[value='0.00/0.00 ']").attr('disabled', 'disabled').hide(); // IE Issue Disable No Deductible Option

                        var lou = "LUSE";
                        var loulable = "Loss-of-Use";
                        $("select[coverage-name =" + lou + "][vehicle-id=" + value.VehicleID + "]").css("display", "block");
                        $("[lable-vehicle=" + loulable + "][lable-vehicleId=" + value.VehicleID + "]").css("display", "block");
                        $("select[coverage-name =" + lou + "][vehicle-id=" + value.VehicleID + "]").show();
                        $("[lable-vehicle=" + loulable + "][lable-vehicleId=" + value.VehicleID + "]").show();
                    }
                }
            }
        });
        //$(".vehicleCoverage").trigger('change')
    });

    $("#btnGetRate").click(function (e) {
        $("body").CenterLoader(11001);
      //  $("#dvRateHistoryList").hide();
        var data = '@Html.Raw(Json.Encode(Model))';
        var form = $("#frmCustomCoverage").serializeArray();
        var Selectedcoverage = [];
        $.each(JSON.parse(data), function (key, value) {
            for (var i = 0; i < form.length; i++) {
                var isUpdated = false;
                if (form[i].name == value.CoverageId.toString()+"-"+value.VehicleID.toString()) {
                    if (form[i].value != "") {
                        for (var k = 0; k < value.CoveragesFormControlValues.length; k++) {

                            if ($.trim(value.CoveragesFormControlValues[k].Value) == $.trim(form[i].value)) {
                                value.Selected = value.CoveragesFormControlValues[k].Value;
                                value.QuoteSelectedValue = value.CoveragesFormControlValues[k].Value;
                                Selectedcoverage.push(value);
                                isUpdated = true
                            }
                        }
                        if (isUpdated == false) {
                            value.Selected = value.CoveragesFormControlValues[0].Value;
                            value.QuoteSelectedValue = value.CoveragesFormControlValues[0].Value;
                            Selectedcoverage.push(value);
                        }
                        break;
                    }
                }
            }
        });
        $.ajax({
            url: '@Url.Action("SaveCoverageDetails", "AutoCoverage")',
            type: "POST",
            data: { "coverage": JSON.stringify(Selectedcoverage) },
            cache: false,
            beforeSend: function () {
            },
            success: function (result) {

                //$("#customCoverageForm").html(result);
                $("body").RemoveLoader();
                $("#frmCustomCoverage").hide();
                DisplayQuoteInfo(@Arrowhead.POS.Infrastructure.ProjectSession.QuoteID);
                ResetQuotePayment(@Arrowhead.POS.Infrastructure.ProjectSession.QuoteID);
                QuoteCurrentStep();
                //$(".margin-top-10").hide();
                $("#divPayPlanList").html(result);
                $("#setHeaderTitle").text('Payment Plan');
                $("#divPayPlanList").show()
                $("form").removeData("validator");
                $("form").removeData("unobtrusiveValidation");
                $.validator.unobtrusive.parse("form");
                //$("#btnChangeCoverage").show();
                //$("#quote-step4").RemoveLoader("quote-step4");
            },
            complete: function () {

            },
            error: function (e) {
                $("body").RemoveLoader();
            }
        });
    });




</script>
