

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/FontAwesome.eot');
    src: url('../fonts/FontAwesome.eot') format('embedded-opentype'), url('../fonts/FontAwesome.woff2') format('woff2'), url('../fonts/FontAwesome.woff') format('woff'), url('../fonts/FontAwesome.ttf') format('truetype'), url('../fonts/FontAwesome.svg#FontAwesome') format('svg');
}


/*----------- comman css ---------*/


a:hover, a:active, a:focus {
    text-decoration: none;
}

body {
    background: #f2f7fa !important;
    /*font-size: 16px;*/
}

.bg_white{
    background-color:white;
}
label {
    font-weight: normal !important;
}

.mb10 {
    margin-bottom: 10px !important;
}

.mb15 {
    margin-bottom: 15px;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.ml10 {
    margin-left: 10px;
}

.ml15 {
    margin-left: 15px;
}

.ml20 {
    margin-left: 20px;
}

.ml2 {
    margin-left: 2px;
}

.ml30 {
    margin-left: 30px;
}

.mr20 {
    margin-right: 20px;
}

.mr30 {
    margin-right: 30px;
}

.pl-0 {
    padding-left: 0px;
}

.pl20 {
    padding-left: 20px;
}

.pl15 {
    padding-left: 15px;
}

.mx-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.pr-0 {
    padding-right: 0;
}

.pr-30 {
    padding-right: 30;
}

.w-100 {
    width: 100% !important;
}

.d-inline-block {
    display: inline-block;
    width: 100%;
}
/*------------ header -----------*/
.top_header {
    background: #1e1246;
    height: 53px;
    position: fixed;
    width: 100%;
    z-index: 50;
}

    .top_header .navbar-default {
        background: none;
        border: none;
    }

    .top_header .container {
        width: 100%;
    }

.header_logo {
    float: left;
    margin-right: 24px;
}

.tabing_navigatiin ul {
    padding: 0;
    list-style: none;
    margin: 0;
    overflow: auto;
    display: flex;
    width: 100%;
}

    .tabing_navigatiin ul li {
        float: left;
        display: inline-block;
        white-space: nowrap;
    }


        .tabing_navigatiin ul li a:hover {
            background: #fff;
            color: #66bb6a;
        }

        .tabing_navigatiin ul li.active a {
            background: #fff;
            color: #66bb6a;
        }



.last_dropdown {
    float: right;
    position: relative;
    margin-top: 19px;
    margin-right: 20px;
}


.text {
    display: block;
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/*---------- sidebar list ---------*/
.sidebar_list {
    width: 250px;
    margin-top: 68px;
    height: 100%;
    position: fixed;
    background: #fff;
    overflow-y: auto;
}

    .sidebar_list ul {
        margin: 0;
        list-style: none;
        padding: 0;
    }

        .sidebar_list ul li {
            position: relative;
            padding: 10px 20px;
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
            border-top: 2px solid transparent;
            border-bottom: 2px solid transparent;
        }

            .sidebar_list ul li:hover {
                border-top: 2px solid #cedae7;
                border-bottom: 2px solid #cedae7;
            }

                .sidebar_list ul li:hover:before {
                    background: #00b2ee;
                    position: absolute;
                    width: 4px;
                    height: 100%;
                    content: "";
                    left: 0;
                    top: 0;
                }

                .sidebar_list ul li:hover a {
                    color: #00b2ee;
                }

            .sidebar_list ul li a {
                color: #5e7387;
                display: inline-block;
                width: 60%;
                vertical-align: middle;
            }

            .sidebar_list ul li.gray_li a {
                color: #BBBFCA;
            }

            .sidebar_list ul li.active {
                border-top: 2px solid #cedae7;
                border-bottom: 2px solid #cedae7;
            }

                .sidebar_list ul li.active:before {
                    background: #00b2ee;
                    position: absolute;
                    width: 4px;
                    height: 100%;
                    content: "";
                    left: 0;
                    top: 0;
                }

                .sidebar_list ul li.active a {
                    color: #00b2ee;
                }

            .sidebar_list ul li.active_right .menu_round {
                background: #66bb6a;
                color: #66bb6a;
            }

                .sidebar_list ul li.active_right .menu_round:after {
                    content: "\f00c";
                    position: absolute;
                    color: #fff;
                    font-size: 20px;
                    font-family: 'FontAwesome';
                    left: 0;
                    right: 0;
                }

            .sidebar_list ul li.active_right a {
                color: #66bb6a;
            }

            .sidebar_list ul li .menu_round {
                border-radius: 100%;
                width: 40px;
                height: 40px;
                line-height: 40px;
                color: #000;
                display: inline-block;
                text-align: center;
                background: #f5f6fa;
                font-size: 12px;
                margin-right: 20px;
                font-weight: normal;
                text-transform: lowercase;
                position: relative;
            }

                .sidebar_list ul li .menu_round .big {
                    font-size: 18px;
                }

                .sidebar_list ul li .menu_round::before {
                    background: #f5f6fa;
                    position: absolute;
                    content: "";
                    width: 3px;
                    height: 100%;
                    left: 20px;
                    top: 32px;
                    z-index: -5;
                }


/*----------- main content ------------*/

.main-content {
    margin-left: 60px;
    padding-bottom: 50px;
    min-height: calc(100vh - 47px);
}

.main-content-report {
    padding-bottom: 50px;
    min-height: calc(100vh - 47px);
}

.main-content_inner {
    padding: 72px 30px 30px 30px;
    background-color: #f2f7fa;
}

.main-content .container {
    width: 100%;
}

.main_title {
    font-size: 22px;
}

.content_title {
    margin: 20px 0;
    font-size: 15px;
    font-weight: bold;
}


/*------------ viehicle ---------------*/

.blue_box {
    background: #3598dc;
    color: #fff;
    padding: 20px;
    min-height: 100%;
    font-size: 12px;
}

.panel-body > .row, .panel-body > .row > .col-sm-12 {
    display: flex;
}

.d-block {
    display: block !important;
}

.d-flex {
    display: flex;
}

.driver_information_form .btn.btn-md, .driver_information_form .form-group .radioBtn .button {
    width: 75px;
    text-align: center !important;
}

.driverDiv .tabing_navigatiin ul li.active a, .vehicleDiv .tabing_navigatiin ul li.active a {
    background: transparent linear-gradient(180deg, #7B57FA 0%, #3F21A0 100%) 0% 0% no-repeat padding-box;
    color: #fff;
}

.driverDiv .tabing_navigatiin ul li a:hover, .vehicleDiv .tabing_navigatiin ul li a:hover {
    /*background: #fff;
    color: #337ab7;*/
    color: white;
    /*background: #337ab7;*/
}

.driverDiv .tabing_navigatiin ul li a, .vehicleDiv .tabing_navigatiin ul li a {
    color: #337ab7;
    background: white;
}

.question-item .ui.button {
    width: 62px;
    text-align: center !important;
}

.small_title {
    margin: 0 0 10px 0;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

#radioBtn .btn {
    background: #e0e0e0;
    color: #000 !important;
}

#radioBtn .active {
    background: #5BC0DE;
    color: #fff !important;
}


/*----------- Coverages Rate Plans -----------*/

.pay_plan {
    padding: 20px;
    color: #fff;
    min-height: 100%;
}

.green_box {
    background: #188658;
    font-size: 12px;
}

.blue_box {
    background: #1586d4;
}

.pay_radio {
    margin: 0 0 5px;
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
    font-size: 20px;
    text-transform: uppercase;
}

.pay_price {
    font-weight: bold;
    font-size: 40px;
    margin: 0px 0 0px 0px;
    display: inline-block;
}

.down_bottom {
    margin: 0 0 0px 10px;
    display: inline-block;
}

.pay_bottom_price span {
    font-weight: bold;
    font-size: 20px;
}

.blue_green_box {
    background: #66bb6a;
}

.top_box_price {
    font-size: 24px;
    font-weight: bold;
    margin-left: 30px;
}

    .top_box_price span {
        font-size: 16px;
        font-weight: normal;
    }


/*---------------- coverages payment -----------*/

.payment_button .btn {
    background: #8091a2;
    color: #fff;
    border-right: 1px solid #fff !important;
    margin: 0 !important;
}

    .payment_button .btn.active {
        background: #00b2ee;
    }


/*------------- sign page ----------*/

.gray_box {
    background: #7d7676;
}

.sign_button .btn {
    background: #3598dc !important;
    border-radius: 0px;
    width: 100%;
    font-size: 15px;
}

.pay_plan {
    position: relative;
}

.pay_plan_active:before {
    position: absolute;
    background: rgba(24, 134, 88, 0.57);
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 5;
}

.paid_active:after {
    position: absolute;
    background: url("../images/mark_sign.png") no-repeat 0 0;
    content: "Paid";
    right: 20px;
    width: 150px;
    height: 150px;
    padding-top: 155px;
    top: 10px;
    z-index: 5;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
}

.signed_active:after {
    position: absolute;
    background: url("../images/mark_sign.png") no-repeat 0 0;
    content: "Signed";
    right: 20px;
    width: 150px;
    height: 150px;
    padding-top: 155px;
    top: 10px;
    z-index: 5;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
}



/*------------- search sidebar -------------*/

.search_listning {
    position: fixed;
    right: 0;
    height: 100%;
    top: 0;
    background: #21282e;
    padding: 80px 10px 10px 10px;
    color: #fff;
    width: 400px;
    z-index: 5;
}

.log_out_icon {
    color: #fff;
    margin: 5px 0 20px;
}

    .log_out_icon i {
        cursor: pointer;
    }

form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #ffffff;
    color: black;
    height: 45px;
}

.letter-capitalize {
    text-transform: capitalize !important;
}

form.example button {
    float: right;
    width: 18%;
    padding: 10px;
    background: #ffffff;
    color: #333;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    height: 45px;
    border-radius: 10px;
    margin-left: 2px;
}

    form.example button:hover {
        background: #0b7dda;
    }

form.example::after {
    content: "";
    clear: both;
    display: table;
}

.search_expand {
    margin-bottom: 20px;
}

.search_list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

    .search_list ul li {
        color: #fff;
        border-bottom: 1px solid #423f3f;
        padding: 4px 15px;
        font-size: 14px;
        float: left;
        width: 100%;
    }

        .search_list ul li .right_date {
            float: right;
        }

        .search_list ul li .left_search {
            float: left;
        }

.search_list {
    float: left;
    width: 100%;
    height: 580px;
    overflow-y: auto;
}

.user-name {
    font-size: 14px;
    line-height: 1.2;
    margin-left: 15px;
    display: inline-block;
    text-align: right;
    color: #1e1246;
    width: 100%;
    padding-bottom: 7px;
    padding-right: 15px;
    font-weight: 600;
}

/*---------------- applicant center align -----------*/
.textbox-align {
    margin-top: 4px !important;
}

/* Agency Welcome Screen */
.whats-new-container {
    width: 900px;
    position:relative;
    display: flex;
    background-image: linear-gradient(-90deg, rgb(36,66,105), rgb(80,124,181));
    border-radius: 15px;
    letter-spacing: 0.07em;
    box-shadow: 2px 3px 15px 2px #555;
    padding-bottom: 75px;
    color: #fff;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    margin: 0 auto;
}
    .whats-new-container button.close {
        position: absolute;
        right: -10px;
        top: -10px;
        height: 35px;
        width: 35px;
        color: #000000;
        opacity: 1;
        text-shadow: inherit;
        background: #ffffff;
        border-radius: 100%;
        font-size: 28px;
    }
.whats-new-ls-img {
    width: 47%;
    padding-left: 20px;
    padding-top: 20px;
}

    .whats-new-ls-img img {
        width: 100%;
    }
#myWelcomeScreenModal {
    align-items: center;
    justify-content: center;
}
.whats-new-rs-contant {
    padding: 40px 60px 0px;
    width: 53%;
    width: 53%;
    background-image: url("../images/contentBG.png");
    background-repeat: no-repeat;
    background-position: center;
}

    .whats-new-rs-contant img {
        width: 240px;
    }

.whats-new-content-inner .sm-title {
    font-size: 20px;
    font-weight: bold;
    color: #1EA5F8;
}

.whats-new-content-inner .big-title {
    font-size: 30px;
}

.whats-new-content-inner {
    padding-top: 36px;
}

.get-started-btn a {
    color: #00ccff !important;
    text-decoration: none;
    font-weight: bold;
    background-image: url("../images/right-arrow.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 22px;
}

.get-started-btn {
    padding-top: 70px;
    float: right;
}



@media only screen and (max-width: 1600px) {
    .tabing_navigatiin {
        width: 78%;
    }

    .top_header .tabing_navigatiin {
        width: 50%;
    }

    .time-out-inner {
        width: 40% !important;
    }

    .veh-coverage-main .col-lg-9 {
        width: 100% !important;
    }
}

@media only screen and (max-width: 1200px) {
    .tabing_navigatiin {
        width: 70%;
        position: relative;
        z-index: 1;
    }

    .panel-body > .row {
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
    }

    .time-out-inner {
        width: 50% !important;
    }

    .vehicle-cov-mis ul li {
        display: block !important;
    }
    .whats-new-container {
        width: 80%;
        margin: 0 auto;
        padding-bottom: 30px;
    }

    .whats-new-rs-contant {
        padding: 40px 30px 0px;
    }

    .whats-new-content-inner .big-title {
        font-size: 25px;
    }

    .whats-new-content-inner p br {
        display: none;
    }

    .get-started-btn {
        padding-top: 20px;
    }
}

@media only screen and (max-width: 1200px) and (min-width:992px) {
    .question-item .form-group .col-md-10 {
        width: 80% !important;
    }
}

@media only screen and (min-width:992px) {
    .question-item .form-group .col-md-2 {
        justify-content: flex-end;
    }
}

@media only screen and (max-width: 1023px) {

    .sidebar_list {
        width: 100%;
        position: relative;
        margin: 0;
        overflow-y: inherit;
    }

    .top_header {
        position: relative;
    }

    .header_logo {
        float: none;
        text-align: center;
        margin: 0;
    }

    .search_div {
        margin-top: 0;
        margin-right: 0;
    }

    .top_header {
        height: auto;
    }

    .tabing_navigatiin {
        margin-top: 20px;
    }

    .right_header {
        right: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 30px;
    }

    .main-content {
        margin-left: 190px;
        padding-bottom: 0;
    }

    .main-content_inner {
        padding: 30px;
    }

    .search_listning {
        padding: 175px 10px 10px 10px;
        position: absolute;
    }

    .tabing_navigatiin {
        width: 100%;
    }

    .time-out-inner {
        width: 50% !important;
    }

    .warning-content {
        padding: 30px !important;
    }

    .top_header .navbar-default {
        margin-bottom: 0;
    }

    .aside-default {
        height: calc(100vh - 57px) !important;
        margin-top: 57px !important;
    }

    section aside.aside-open {
        width: 206px !important;
    }

    .btn-group-lg > .btn, .btn-lg {
        padding: 6px 12px !important;
        font-size: 15px !important;
        margin-bottom: 5px !important;
    }
    .whats-new-container {
        width: 90%;
        margin: 0 auto;
        padding-bottom: 30px;
    }
}

@media only screen and (max-width: 767px) {
    .main-content {
        margin-left: 60px !important;
    }

    .navbar-toggle {
        float: none;
    }

    .tabing_navigatiin .navbar-collapse {
        border: none;
        box-shadow: 0px 0px 0px 0px;
        position: absolute;
        width: 100%;
        margin-top: 0px;
        margin-top: 65px;
    }

    .tabing_navigatiin ul li a {
        border-radius: 0px;
        width: 100%;
    }

    .tabing_navigatiin ul li {
        display: block;
        white-space: inherit;
        width: 100%;
    }

    .tabing_navigatiin ul {
        float: none;
        width: 100%;
        display: block;
    }

    .tabing_navigatiin .navbar-toggle {
        margin-left: 20px;
    }

    .search_div {
        margin-right: 0 !important;
    }

    .last_dropdown {
        margin-top: 27px;
    }

    .main-content_inner {
        padding: 20px;
    }

    .vehicle_information .text-right {
        text-align: left;
    }

    .driver_information_form .text-right {
        text-align: left;
    }

    .coverage_options_form .text-right {
        text-align: left;
    }

    .mdb10 {
        margin-bottom: 10px;
    }

    .search_listning {
        width: 100%;
        height: auto;
    }

    .gray_box_area .gray_box_title span {
        float: none !important;
        clear: both;
        display: block;
        width: 100%;
    }

    .blue_box {
        min-height: 175px;
    }

    .panel-body > .row, .panel-body > .row > .col-sm-12 {
        display: block;
    }

    .pay_plan {
        min-height: 205px;
    }

    .header_right_menu {
        margin-top: 0;
    }

    .search_div {
        margin-top: 0;
    }

    .header_logo img {
        margin: 0;
    }

    .top_header .navbar-default {
        margin-bottom: 0;
    }

    .top_header {
        height: auto;
    }

    .right_header {
        padding: 0 20px;
        position: relative;
        z-index: 1;
    }

    .header_right_menu ul {
        float: none;
        display: block;
    }

        .header_right_menu ul li {
            padding: 0 10px 0 0 !important;
        }

    .header_right_menu {
        margin-right: 0 !important;
        margin-top: 0 !important;
        display: block !important;
    }

    .user-name {
        line-height: 1.2;
        margin-left: 0;
        clear: both;
        float: left;
        margin-top: 3px;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff !important;
    }

    .time-out-inner {
        width: 75% !important;
    }

    .time-out-warning {
        padding: 10px !important;
        font-size: 20px !important;
    }

    .warning-content {
        padding: 20px !important;
    }

    .back-to-home {
        padding: 15px !important;
    }

    .aside-default {
        height: calc(100vh - 54px) !important;
        margin-top: 54px !important;
    }

    section aside.aside-open {
        width: 195px !important;
    }

    .quote-field .vin .form-control {
        width: 100% !important;
    }

    .quote-field .lg-input.vin, .quote-field p.lg-input, .quote-field p.sm-input {
        width: 48% !important;
        margin-right: 0 !important;
    }

    .quote-form .quote-field {
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .modal .quick-quote-pop {
        width: 92% !important;
        padding-right: 0;
        margin: 0 auto !important;
    }

    .quick-quote-pop .modal-content {
        width: 100%;
    }

    .zip-code-verification .q-popup-body {
        padding: 20px !important;
        overflow-y: auto !important;
        overflow-x: hidden !important;
        height: auto !important;
    }

    .q-popup-body {
        padding: 10px 0px !important;
        width: 100%;
        overflow-y: auto !important;
        overflow-x: hidden !important;
        height: 75vh !important;
    }

    .panel.container.panel-primary {
        width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    .panel-body .buttons {
        padding: 0 15px;
    }

    .main-content_inner {
        padding-top: 75px !important;
    }

    .footer-inner {
        padding-left: 60px !important;
    }

    .panel-body #dvManageCoverage, .panel-body #dvMainPaymentBox, .panel-body #divPayPlanList, .panel-body #divPayPlanList .col-sm-12 {
        padding: 0;
    }

        .panel-body #dvManageCoverage .col-sm-12.col-md-12.col-lg-6 {
            padding: 0;
        }

    .main_title {
        font-size: 16px;
    }

    .signed_active::after, .paid_active::after {
        right: 0;
        left: 0;
        margin: 0 auto;
    }

    .pay_plan {
        padding: 15px;
    }

    .greed_area #target-load {
        overflow: auto;
    }

    .greed_area {
        padding: 0px 15px 15px !important;
    }

    .panel.panel-default {
        margin-bottom: 0;
    }

    .applicant-boxes .easy-pie-chart .number canvas {
        position: relative !important;
        width: 100% !important;
    }

    #divTotalPoliciesSold {
        width: 100% !important;
    }

    .applicant-boxes .col-lg-6 {
        width: 100% !important;
    }

    .easy-pie-chart .number {
        width: 100% !important;
        height: 100% !important;
    }

    .gray_box_area .gray_box_title {
        padding: 10px 15px !important;
        font-size: 16px !important;
    }

    .modal-dialog.vin-driver-popup .modal-content {
        width: 550px !important;
    }

    .modal.in .modal-dialog.vin-driver-popup {
        margin: 8vh auto !important;
        width: 550px !important;
    }

    #dvMainPaymentBox {
        float: left;
        margin-top: 15px;
    }

    .policy-reminder-strip.d-flex {
        float: left;
        margin-left: 0 !important;
        margin-top: 10px;
    }
    .whats-new-content-inner .sm-title {
        font-size: 16px;
    }

    .whats-new-content-inner .big-title {
        font-size: 22px;
    }

    .whats-new-container {
        width: 95%;
        padding-bottom: 25px;
    }

    .whats-new-rs-contant img {
        width: 150px;
    }

    .whats-new-content-inner {
        padding-top: 15px;
    }

    .whats-new-rs-contant {
        padding: 26px 15px 0px;
    }

    .whats-new-content-inner ul {
        padding-left: 15px;
    }
    #myWelcomeScreenModal {
        display: block !important;
        z-index: 1 !important;
    }
}

@media only screen and (max-width: 485px) {
    .header_right_menu ul li a, .user-name {
        font-size: 13px !important;
    }

    .time-out-inner {
        width: 85% !important;
    }

    .time-out-warning {
        padding: 10px !important;
        font-size: 18px !important;
    }

    .violations_body.vehicle-cov-mis ul {
        padding: 0 !important;
    }

    .vehicle-cov-mis li span.d-flex {
        display: block;
    }

    .vehicle-cov-mis li span .btn-info {
        margin: 8px 0 0;
        width: 156px;
    }

    .top_header .tabing_navigatiin {
        position: inherit;
    }

    .src-disc .src-name {
        width: 150px;
    }

    .modal .quick-quote-pop {
        width: 90% !important;
        padding-right: 0;
    }

    .quote-field .lg-input.vin, .quote-field p.lg-input {
        width: 100% !important;
    }

    .quote-field p.sm-input {
        width: 48% !important;
    }

    .q-popup-body {
        height: 80vh !important;
    }

        .q-popup-body .btn-info {
            font-size: 15px;
            margin: 0;
        }

        .q-popup-body #btnGetRate {
            margin-left: 15px;
        }

    .radio-inner input[type="radio"]:checked + label, .radio-inner input[type="radio"]:not(:checked) + label, .radio-inner, .radio-label {
        width: 100% !important;
    }

    .radio-group {
        margin: 0 auto 15px !important;
        width: 90% !important;
        flex-flow: row wrap;
    }

    .modal.in .modal-dialog.vin-driver-popup {
        width: 90% !important;
        overflow: auto;
        margin: 50% auto;
    }

    #btnSweep, #btnCreditCard, #btnECheck {
        width: 100% !important;
        border-radius: 8px !important;
        margin-bottom: 5px !important;
    }

    .policy-reminder-strip.d-flex {
        display: block !important;
        width: 100% !important;
    }

    .policy-reminder-label {
        width: 100% !important;
        border-radius: 8px !important;
        margin-bottom: 5px !important;
    }

    .policy-reminder-strip .mob-number {
        border-radius: 8px !important;
    }

    .gray_form form {
        padding: 10px 12px !important;
    }

    .whats-new-container {
        display: block;
        padding-bottom: 50px;
    }

    .whats-new-ls-img {
        width: 100%;
        padding: 20px 0 0 !important;
    }

        .whats-new-ls-img img {
            width: 90%;
            margin: 0 auto;
            display: block;
        }

    .whats-new-rs-contant {
        padding: 0;
        width: 90%;
        margin: 0 auto;
    }

    .get-started-btn {
        padding-top: 5px;
    }
}


/*Notification Start*/

.alert {
    padding: 10px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert.success {
    background-color: #4CAF50;
}

.alert.info {
    background-color: #2196F3;
}

.alert.warning {
    background-color: #ff9800;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

    .closebtn:hover {
        color: black;
    }



/*Notification End*/



.license-error {
    border: 1px solid #f00;
}



/*.datepicker datepicker-dropdown dropdown-menu datepicker-orient-left datepicker-orient-top {
        display: none;
    }*/
.Checked {
    background-color: #5BC0DE !important;
    color: #fff !important;
}

.Unchecked {
    background-color: #e0e0e0 !important;
}



.vin_area {
    position: relative;
}

.vin_left {
    width: 80%;
}

.vin_area span {
    display: none;
}

.vin_right {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
}

.vin_button {
    font-size: 12px;
    color: #fff;
    display: inline-block;
}

.vin_area:hover span {
    display: block;
}



.add_small_title .vin_button {
    float: right;
    display: block;
}



/*--------------- 5-8-2019 --------------*/

.color_red {
    color: red;
    position: relative;
    left: 10px;
}
.color_white {
    color: white;
    position: relative;
    left: 10px;
}

.edit_div {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    float: none;
    height: 100%;
    background: rgba(0, 0, 0, 0.58);
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
}

.edit_div_in {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

    .edit_div_in a {
        background: #1586D4;
        border-radius: 0;
        padding: 15px 12px 10px 12px;
        display: inline-block;
        color: #fff;
    }

        .edit_div_in a i {
            font-size: 30px;
        }

.box_edit_hover:hover .edit_div {
    display: flex;
}



.blue_box .small_title {
    background: #1067a0;
    padding: 15px 18px;
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -20px;
}

.add_plus_button {
    float: right;
    color: #fff;
}

    .add_plus_button:hover {
        color: #fff;
    }

.blue_green_box .small_title {
    background: #2c742f;
}

.green_button {
    background: #66bb6a;
    border: 1px solid #66bb6a;
}

    .green_button:hover {
        background: #54a158 !important;
        border: 1px solid #54a158 !important;
    }

    .green_button:active {
        background: #54a158 !important;
        border: 1px solid #54a158 !important;
    }

    .green_button:focus {
        background: #54a158 !important;
        border: 1px solid #54a158 !important;
    }


.mr10 {
    margin-right: 10px;
}

.vin_button:hover {
    color: #fff;
}

.vin_right a {
    margin-left: 5px;
}

.gray_box_area .gray_box_title {
    margin: 0;
    background: #cccccc;
    padding: 10px 20px;
    font-size: 20px;
}

    .gray_box_area .gray_box_title span {
        float: right;
    }

.gray_box_form {
    padding-top: 20px;
    background: #efefef;
}

.gray_background {
    background: #efefef;
}
/*add_plus_button*/



.green_color {
    background: #66bb6a;
    border-radius: 100px;
    width: 20px;
    height: 20px;
    font-size: 12px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
}





.ui.button {
    cursor: pointer;
    display: inline-block;
    float: left;
    min-height: 1em;
    outline: 0;
    border: none;
    vertical-align: baseline;
    background-color: #e0e0e0;
    margin: 0;
    padding: .78571em 1.5em;
    text-transform: none;
    text-shadow: none;
    line-height: 1;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    background-image: none;
    border-radius: .2857rem;
    box-shadow: 0 0 0 1px transparent inset,0 0 0 0 rgba(39,41,43,.15) inset;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
    transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
    will-change: '';
    -webkit-tap-highlight-color: transparent
}

    .ui.button:hover {
        background-color: #e8e8e8;
        background-image: none;
        box-shadow: '';
        color: rgba(0,0,0,.8)
    }


    .ui.button:focus {
        background-color: '';
        color: rgba(0,0,0,.8);
        background-image: '' !important;
        box-shadow: 0 0 0 1px transparent inset,0 0 1px rgba(81,167,232,.8) inset,0 0 3px 2px rgba(81,167,232,.8) !important
    }



    .ui.active.button:active, .ui.button:active {
        background-color: #ccc;
        background-image: '';
        color: rgba(0,0,0,.8);
        box-shadow: 0 0 0 1px transparent inset,0 1px 4px 0 rgba(39,41,43,.15) inset !important
    }

}

.Checked {
    background-color: #a7a7a7 !important;
}

.Unchecked {
    background-color: #e0e0e0 !important;
}

.ui.attached.left.button {
    display: inline-block;
    border-left: none;
    padding: 10px 20px !important;
    /* background: inherit !important; */
    padding-right: 0.75em;
    /*font-weight: 500;*/
    text-align: right;
    /* color: #3598dc; */
    box-shadow: none !important;
    border-radius: .2857rem 0 0 .2857rem !important;
    font-size: small;
}

.ui.attached.right.button {
    display: inline-block;
    border-left: none;
    padding: 10px 20px !important;
    /* background: inherit !important; */
    padding-right: 0.75em;
    /*font-weight: 500;*/
    text-align: right;
    /* color: #3598dc; */
    box-shadow: none !important;
    /*//border-radius: .2857rem 0 0 .2857rem !important;*/
    border-radius: 0 0.3rem 0.3rem 0 !important;
    font-size: small;
}


.vin_area {
    position: relative;
}

.vin_left {
    width: 80%;
}

.vin_area span {
    display: none;
}

.vin_right {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
}

.vin_button {
    font-size: 15px;
    color: #fff;
    display: inline-block;
}

.vin_area:hover span {
    display: block;
}



.add_small_title .vin_button {
    float: right;
    display: block;
}



/*--------------- 5-8-2019 --------------*/

.color_red {
    color: red;
    position: relative;
    left: 10px;
}

.edit_div {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    float: none;
    height: 100%;
    background: rgba(0, 0, 0, 0.58);
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
}

.edit_div_in {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

    .edit_div_in a {
        background: #1586D4;
        border-radius: 0;
        padding: 15px 12px 10px 12px;
        display: inline-block;
        color: #fff;
    }

        .edit_div_in a i {
            font-size: 30px;
        }

.box_edit_hover:hover .edit_div {
    display: flex;
}



.blue_box .small_title {
    background: #1067a0;
    padding: 15px 18px;
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -20px;
}

.add_plus_button {
    float: right;
    color: #fff;
}

    .add_plus_button:hover {
        color: #fff;
    }

.blue_green_box .small_title {
    background: #2c742f;
}

.green_button {
    background: #66bb6a !important;
    border: 1px solid #66bb6a !important;
    color: #fff !important;
}

    .green_button:hover {
        background: #54a158 !important;
        border: 1px solid #54a158 !important;
        color: #fff !important;
    }

    .green_button:active {
        background: #54a158 !important;
        border: 1px solid #54a158 !important;
        color: #fff !important;
    }

    .green_button:focus {
        background: #54a158 !important;
        border: 1px solid #54a158 !important;
        color: #fff !important;
    }


.mr10 {
    margin-right: 10px;
}

.vin_button:hover {
    color: #fff;
}

.vin_right a {
    margin-left: 5px;
}

.gray_box_area .gray_box_title {
    margin: 0;
    background: #cccccc;
    padding: 10px 20px;
    font-size: 20px;
}

    .gray_box_area .gray_box_title span {
        float: right;
    }

.gray_box_form {
    padding-top: 20px;
    background: #efefef;
}

.gray_background {
    background: #efefef;
}
/*add_plus_button*/



.green_color {
    background: #66bb6a;
    border-radius: 100px;
    width: 20px;
    height: 20px;
    font-size: 12px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
}

a.btn {
    color: #fff !important;
}

    a.btn:hover {
        color: #333 !important;
    }

a.green_button:hover {
    color: #fff !important;
}

.insuredDisclosure_div {
    padding-top: 20px;
    font-size: 10px;
}

.vinDisclosure_div {
    padding-top: 20px;
    font-size: 10px;
}

.underwritingDisclosure_div {
    padding-bottom: 10px;
    padding-left: 20px;
    font-size: 10px;
}

.issuePolicyDisclosure_div {
    padding-top: 20px;
    font-size: 10px;
}

.error-title {
    font-size: 12px;
}




/*---------------- greed page ----------*/

.mt5 {
    margin-top: 5px;
}

.greed_top_title {
    font-size: 18px;
    text-transform: uppercase;
}

.greed_top_area {
    border-bottom: 1px solid #ccc;
}

.greed_area {
    border: 1px solid #ccc;
    padding: 20px;
}

    .greed_area table {
        border: 1px solid #ddd;
        margin-top: 20px;
        font-size: 11px !important;
    }

.header_right_menu {
    float: right;
    margin-right: 0px;
    margin-top: 0px;
}

    .header_right_menu ul {
        list-style: none;
        margin-bottom: 0;
        padding: 0;
    }

        .header_right_menu ul li {
            float: left;
            color: #fff;
            padding: 0 5px;
        }

            .header_right_menu ul li a {
                color: #fff;
                font-size: 12px;
            }

.main_title_right {
    font-size: 16px;
    margin-top: 10px;
}



/*------------- violations reports -----------*/

.violations_reports_area {
    border: 1px solid #ff0000;
    margin-bottom: 20px;
}

.violations_title {
    background: #ff0000;
    color: #fff;
    padding: 10px;
    font-size: 18px;
}

.violations_body {
    background: #fff;
    padding: 10px;
}

    .violations_body ul {
        color: #1586d4;
        font-size: 18px;
        padding: 0 0 0 25px;
    }

        .violations_body ul li {
            padding: 5px 0;
        }

    .violations_body .violations_text {
        width: 200px;
        display: inline-block;
    }

.violations_text_driver {
    color: red;
}

.mvr_report_violation_text {
    width: 200px;
    display: inline-block;
    color: red;
}

.no_hit_violation_text {
    width: 200px;
    display: inline-block;
    color: green;
}
/* DATATABLES */
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: transparent;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0d8";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50, 50, 50, 0.5);
}

.dataTables_wrapper {
    padding-bottom: 30px;
}

span.field-validation-error {
    color: red;
}

.pager-link {
    background: #1E1246;
    border: 1px solid #1E1246;
}

    .pager-link a.btn.btn-white {
        transition: 0.3s;
        border-left: 1px solid transparent !important;
        border: none;
        border-radius: 0;
    }

        .pager-link a.btn.btn-white:first-child {
            border: none !important;
        }

        .pager-link a.btn.btn-white:hover, .pager-link a.btn.btn-white.active {
            background: #ffffff !important;
            box-shadow: inherit;
            color: #1E1246 !important;
            border-left: 1px solid #1E1246 !important;
        }


/*------------- payment plans -----------*/
.payment-plan-title {
    font-size: 14px !important;
}

.due-date {
    font-weight: bold !important;
}



/*------------- Address Validation PopUp -----------*/
.popup-body {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.6);
}

.main-title {
    color: #66bb6a;
    font-size: 20px;
    border-bottom: 1px dashed #8c8c8c;
    padding-bottom: 15px;
    text-align: center;
}

.popup-inner {
    background: #ffffff;
    padding: 30px;
    width: 600px;
    position: relative;
}

.address-sec {
    text-align: center;
    margin-top: 25px;
    border-bottom: 1px dashed #8c8c8c;
    padding-bottom: 20px;
}

.error-msg-box {
    display: block;
    background: #f8d7da;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #f55064;
    color: #f31a35;
    border-radius: 4px;
}

.adderss-inner strong {
    display: block;
    margin-bottom: 10px;
}

.btns-group {
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px dashed #8c8c8c;
}

    .btns-group span {
        display: block;
        margin-top: 20px;
    }

button.btn.custom-buttons {
    padding: 12px 25px;
    border: none;
    background: #66bb6a;
    color: #ffffff;
    font-size: 16px;
    border-radius: 3px;
    margin: 0 5px;
    cursor: pointer;
    cursor: pointer;
    transition: 0.3s;
}

    button.btn.custom-buttons:hover {
        background: #54a158;
    }

.form-area label {
    display: block;
    margin-bottom: 10px;
    color: #7f7f7f;
}

.form-area {
    margin-top: 20px;
}

    .form-area input {
        background: #f5f5f5;
        border: 1px solid #cdcdcd;
        padding: 12px;
        border-radius: 3px;
        width: 72%;
    }

        .form-area input:focus {
            border-color: #454545;
        }

    .form-area .btn.custom-buttons {
        margin: 0;
        width: 25%;
    }

.form-field {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.msg-output {
    color: #f31a35;
    font-size: 13px;
}

.popup-close {
    position: absolute;
    right: 0;
    top: 0;
    background: #000000;
}

.popup-close {
    position: absolute;
    right: -18px;
    top: -15px;
    background: #000000;
    color: #ffffff;
    height: 40px;
    width: 40px;
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    font-size: 20px;
    cursor: pointer;
    padding-bottom: 2px;
    transition: 0.3s;
    outline: none !important;
}

    .popup-close:hover {
        background: #111111;
    }

/*------Session Exp Popup-------*/
.time-out-popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(0,0,0,0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9;
}

.time-out-inner {
    background: #ffffff;
    width: 30%;
}

.time-out-warning {
    padding: 15px;
    border-bottom: 1px solid #cecece;
    text-align: center;
    font-size: 25px;
}

.back-to-home {
    text-align: center;
    padding: 20px;
    background: #f5f5f5;
}

.warning-content {
    text-align: center;
    padding: 50px;
}

.vehicle-cov-mis ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.vehicle-cov-mis span.veh-cov-conten {
    font-size: 14px;
    padding-right: 25px;
    width: 68%;
}

.vehicle-cov-mis a.btn:hover {
    color: #ffffff !important;
}

/*------Custom Radio Button------*/

.radio-inner input[type="radio"]:checked,
.radio-inner input[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

    .radio-inner input[type="radio"]:checked + label, .radio-inner input[type="radio"]:not(:checked) + label {
        position: relative;
        cursor: pointer;
    }

        .radio-inner input[type="radio"]:checked + label::before, .radio-inner input[type="radio"]:not(:checked) + label::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: #8091a2;
        }

.radio-inner [type="radio"]:checked + label::after, .radio-inner [type="radio"]:not(:checked) + label::after {
    content: '';
    width: 100%;
    height: 100%;
    background: #66bb6a;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.radio-inner [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    border-radius: 3px !important;
}

.radio-inner [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.radio-group .lg-text {
    display: block;
    font-size: 18px;
    font-weight: 600;
}

.radio-group .sm-text {
    font-size: 12px;
    margin-bottom: 0;
    position: relative;
    z-index: 1;
    border: none;
    border-radius: 0;
    text-align: left;
    padding-right: 18px;
}

.radio-group {
    display: flex;
    color: #ffffff;
    margin-left: 15px;
    margin-bottom: 20px;
}

.radio-inner {
    position: relative;
    border-left: 1px solid #fff !important;
}

.radio-label {
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    background: #1586d4 !important;
    color: #fff;
    text-align: center !important;
}

.info-icon {
    position: absolute;
    left: 85px;
    right: 70px;
    z-index: 1;
    bottom: 10px;
    color: #ffffff;
    cursor: pointer;
    transition: 0.3s;
}

    .info-icon:hover {
        color: #333333;
    }

.clear-select {
    color: #ffffff;
    position: absolute;
    right: 4px;
    top: -4px;
    font-size: 24px;
    z-index: 11;
    display: none;
    cursor: pointer;
}

.radio-inner [type="radio"]:checked ~ .clear-select {
    display: block !important;
}


.downpayment-text {
    width: 268px !important;
    color: #1E1246 !important;
    background-color: #fff !important;
    font-size: 40px !important;
    font-weight: bold !important;
}

.green_box input.border-remove {
    line-height: 1.1 !important;
    border: none;
    font-size: 30px !important;
    padding: 8px 10px;
    width: 100% !important;
    height:44px;
}

input.border-remove::-ms-clear {
    display: none !important;
}

.border-remove {
    border: none;
    height: 44px;
    border-bottom: 1px solid #ffffff;
}

    .border-remove:focus {
        box-shadow: none;
        outline: none;
    }

.down-payment {
    padding-top: 18px;
}

.payment-icon {
    font-size: 26px;
    padding-right: 0;
    color: #1E1246;
    background-color: #ffffff;
}

.mb-1 {
    margin-bottom: 1em !important;
}

.site-footer-terms {
    position: fixed;
    color: #1e1246;
    font-style: italic;
    font-weight: 600;
    text-align: center;
    font-size: 12px;
    padding: 8px 0;
    background: #E6E6E6;
    bottom: 0px;
    width: 100%;
    z-index: 555;
    padding-left: 50px;
}

    .site-footer-terms a {
        color: #1e1246;
    }

        .site-footer-terms a:hover {
            color: #1e1246;
        }

.site-footer a {
    color: #1e1246;
}

    .site-footer a:hover {
        color: #1e1246;
    }

.modal-dialog.vin-driver-popup {
    width: 750px !important;
}

.vin-driver-popup table tr td, .vin-driver-popup table tr th {
    border: 1px solid #999999;
    padding: 5px;
    font-size: 14px;
}

.vin-driver-popup .modal-content {
    padding: 7px 21px;
}

.vin-driver-popup table tr td:last-child, .vin-driver-popup table tr th:last-child {
    border: none;
    background: none;
}

.vin-driver-popup table tr th {
    background: #1e1246;
    color: #ffffff;
}

.modal-header-title {
    font-size: 25px;
}

.modal-body-content {
    font-size: 14px;
}

.settlement-popup {
    display: inline-block;
    width: 100%;
    margin-top: 15px;
}

.carrier-nsd-report-table {
    float: right;
    width: 45%;
}

.carrier-nsd-report-table-th th {
    background-color: #dddddd;
}


.row-summary th {
    background-color: #1e1246;
    color: white;
    font-weight: bold;
}
/*---------18-10-2019-------*/
.gray_form form {
    background: #ccc;
    padding: 15px 20px 30px;
    border-radius: 10px;
}

    .gray_form form .form-group input {
        background: #fff;
    }

    .gray_form form .form-group label {
        font-weight: bold;
    }

.pay_box_auto {
    min-height: auto;
}

.payment-checkbox {
    display: flex;
    padding-bottom: 20px;
}

    .payment-checkbox input {
        margin-right: 6px !important;
        margin-top: 3px !important;
    }

.payment-credit-card-note {
    font-size: 11px;
    margin-top: 15px;
}

.full_payment_button {
    display: block !important;
}

    .full_payment_button .gray_form {
        clear: both;
    }

        .full_payment_button .gray_form form {
            background: none;
            padding-left: 0;
        }



.export-section {
    display: inline-block;
    float: right;
}

.login-panel {
    width: 100%;
    margin-bottom: 0;
}

.login-main-panel {
    height: 100vh;
    display: flex;
    align-items: center;
}

.log-main-panel {
    height: 70vh;
    display: flex;
    align-items: center;
}

.bank-det-popup .close {
    float: none;
    font-size: 17px;
    font-weight: normal;
    color: #1e1246;
    opacity: 1;
}

.bank-det-popup {
    display: inline-block;
    width: 100%;
}

    .bank-det-popup .green_button {
        float: right;
    }

.mr25-report-datepicker {
    margin-right: 25px;
}

.header-yellow-btn {
    font-size: 12px;
    background: #000;
    border: none;
    padding: 4px 10px;
    background-color: #ffc820;
    border: #ffc820;
    color: black;
    font-weight: bold;
}


/*------Popup Sidebar------*/
.popup-sidebar {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background: #0f0923;
}

.sidebar-header {
    background: #eaa602;
    text-align: center;
    color: #000000;
    font-weight: 600;
    padding: 8px;
    margin-bottom: 20px;
}

.id-card-listing ul {
    padding: 0;
    list-style-type: none;
}

.id-card-listing {
    padding: 0 20px;
}

    .id-card-listing li a {
        display: block;
        background: #005cb9;
        color: #ffffff;
        padding: 8px 20px;
        margin-bottom: 10px;
        border-radius: 6px;
        font-size: 14px;
        transition: 0.25s;
    }

        .id-card-listing li a:hover {
            color: #000000;
        }

.sidebar-header .back-arrow {
    float: right;
    position: relative;
    right: 5px;
}

    .sidebar-header .back-arrow a {
        font-size: 18px;
        color: #000000;
    }

.open-sidebar a {
    font-size: 25px;
    color: #FFFFFF;
    display: block;
    width: 100%;
    text-align: center;
}

.open-sidebar {
    position: absolute;
    right: 45px;
    top: 11%;
    background: #005cb9;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.number-inner {
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    font-size: 50px;
    width: 100%;
    justify-content: center;
}


.easy-pie-chart .number {
    margin: 0 auto;
    position: relative;
    width: 338px;
    height: 338px;
}

    .easy-pie-chart .number canvas {
        position: absolute;
        top: 0;
        left: 0;
    }

.easy-pie-chart .title {
    display: block;
    text-align: center;
    color: #333;
    font-weight: 300;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 10px;
}

    .easy-pie-chart .title:hover {
        color: #666;
        text-decoration: none;
    }

    .easy-pie-chart .title > i {
        margin-top: 5px;
    }

.applicant-boxes {
    border-color: #ddd;
    display: flex;
    flex-flow: row wrap;
}

    .applicant-boxes .col-lg-6 {
        border: 1px solid #dddddd;
        width: 48%;
        margin: 1%;
    }

    .applicant-boxes .col-lg-12 {
        border: 1px solid #dddddd;
        width: 100%;
        margin: 1%;
    }

    .applicant-boxes .main_title {
        border-bottom: 1px solid #dddddd;
        padding: 8px 0;
        font-size: 16px;
        margin-bottom: 15px;
        font-weight: 600;
    }

    .applicant-boxes .main_title_right {
        margin-top: 0;
        margin-left: auto;
    }

    .applicant-boxes .panel-heading {
        display: flex;
        align-items: center;
    }

.fix-cityCount {
    height: 400px;
    overflow: auto;
}



.map-marker {
    /* adjusting for the marker dimensions
    so that it is centered on coordinates */
    margin-left: -8px;
    margin-top: -8px;
    box-sizing: border-box;
}

    .map-marker.map-clickable {
        cursor: pointer;
    }

.pulse {
    width: 10px;
    height: 10px;
    border: 5px solid #f7f14c;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: #716f42;
    z-index: 10;
    position: absolute;
    box-sizing: border-box;
}

.map-marker .dot {
    border: 10px solid #fff601;
    background: transparent;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    height: 50px;
    width: 50px;
    -webkit-animation: pulse 3s ease-out;
    -moz-animation: pulse 3s ease-out;
    animation: pulse 3s ease-out;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    position: absolute;
    top: -20px;
    left: -20px;
    z-index: 1;
    opacity: 0;
    box-sizing: border-box;
}

.no-data-found {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*-------Quick Quote Popup------*/
.quick-quote-pop {
    position: relative !important;
    width: 1200px !important;
}

    .quick-quote-pop .modal-header .close {
        position: absolute;
        right: -20px;
        top: -15px;
        height: 40px;
        width: 40px;
        color: #ffffff;
        background: #66bb6a;
        opacity: 1;
        border-radius: 100%;
        font-size: 30px;
        text-shadow: none;
    }

    .quick-quote-pop .modal-header {
        border: none;
        background: #1067a0;
        color: #ffffff;
        padding: 5px 20px;
        border-radius: 15px 15px 0 0;
    }

    .quick-quote-pop .modal-content {
        border-radius: 15px;
        border: none;
    }

.q-popup-body {
    padding: 20px;
    display: inline-block;
    width: 100%;
}

.quote-form .form-group p label {
    display: block;
    color: #ffffff;
    font-size: 14px;
    line-height: 1.1;
}

.quote-form .quote-field {
    display: flex;
    background: #1586d4;
    padding: 12px 15px 5px 15px;
    border-radius: 8px;
}

.quote-field p:last-child {
    margin-right: 0;
}

.quote-field p {
    margin-right: 16px;
}

    .quote-field p.lg-input {
        width: 17%;
    }

    .quote-field p.sm-input {
        width: 14%;
    }

.quote-form .field-title {
    font-weight: bold;
    color: #000;
    font-size: 15px;
}

.quote-form .add-field i.fa {
    color: #49ac4e;
    margin-right: 2px;
}

.quote-form .add-field {
    margin-top: 5px;
}

.form-field-cover {
    margin-bottom: 20px;
}

    .form-field-cover:last-child {
        margin-bottom: 0px;
    }

.quote-field .lg-input.vin {
    width: 33%;
}

.quote-field .vin .form-control {
    width: 70%;
    float: left;
    margin-right: 6px;
}

.quote-field .vin .btn-info {
    padding: 7px 17px;
}

.quote-field-isExcluded {
    margin-top: 0 !important;
    margin-left: 10px !important;
}

.align-item-center {
    align-items: center;
}

/*---------custom checkbox design---------*/
.custom-checkbox input {
    padding: 0;
    margin-bottom: 0;
    position: absolute;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
    top: 20px;
    margin-left: 0 !important;
    height: 33px;
    width: 33px;
}

.custom-checkbox label {
    position: relative;
    cursor: pointer;
}

    .custom-checkbox label:before {
        content: '';
        -webkit-appearance: none;
        background-color: #ffffff;
        padding: 16px;
        display: inline-block;
        position: relative;
        border: 1px solid #ccc;
        vertical-align: middle;
        top: 21px;
        cursor: pointer;
        margin-right: 5px;
        border-radius: 3px;
    }

.custom-checkbox input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 25px;
    left: 12px;
    width: 9px;
    height: 20px;
    border: solid #0079bf;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

p.item.sm-input.custom-checkbox {
    position: relative;
}

.custom-checkbox label > span {
    position: absolute;
    left: 0;
}

.quick-quote-pop {
    height: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    right: 0;
    margin-top: 0;
    left: 0;
    justify-content: center;
}

.zip-code-verification .modal-content {
    border-radius: 16px;
    width: 400px;
}

.zip-code-verification .quote-field .form-control {
    margin-right: 10px;
}

.logfile-scroller {
    max-height: 67vh;
    overflow: auto;
}

.logfile-cover {
    height: 80vh;
    display: flex;
    align-items: center;
}

.setup-agency-setting {
    height: calc(100vh - 180px);
    display: flex;
    align-items: center;
}

.policy-reminder-strip {
    align-items: center;
    margin-left: 15px;
    margin-top: -2px;
}

.policy-reminder-label {
    background: #1067A0;
    color: #ffffff;
    font-size: 18px;
    padding: 7px;
    width: 130px;
    text-align: center;
    line-height: 1;
    border-radius: 4px 0 0 4px;
    /*border-right: 4px solid #ffffff;*/
}

.policy-reminder-strip .mob-number {
    background: #cccc;
    padding: 8px;
    align-items: center;
    border-radius: 0 4px 4px 0;
}

.policy-reminder-strip .custom-checkbox label {
    margin-bottom: 0;
}

.policy-reminder-strip .custom-checkbox.colored-cb label:before {
    background-color: #1586d4;
    top: 0;
    border-radius: 5px !important;
}

.policy-reminder-strip .custom-checkbox.colored-cb input:checked + label:after {
    border-color: #ffffff;
    top: 5px;
}

.policy-reminder-strip .phone-field .form-control {
    border: none;
    font-size: 18px;
    font-weight: bold;
    width: 150px;
}

.policy-reminder-strip .custom-checkbox input {
    top: 3px;
}

.driverDiv .navbar-collapse {
    margin: 0;
    padding: 0;
}

.container.row.driverDiv {
    position: relative;
    margin: 0;
}

.driver-opt-title .navbar-toggle, .vehicle-opt-title .navbar-toggle {
    float: right;
    margin: 0;
}

.driver-opt-title .navbar-toggle, .vehicle-opt-title .navbar-toggle {
    float: right;
    margin: 0;
    z-index: 9;
}

    .driver-opt-title .navbar-toggle .icon-bar, .vehicle-opt-title .navbar-toggle .icon-bar {
        background: #000;
    }

.driverDiv .tabing_navigatiin, .vehicleDiv .tabing_navigatiin {
    position: relative;
    z-index: 9;
    width: 98%;
}


/*Custom Scroll bar for few times only for driver and vehicle tabs*/
/* width */
.driverDiv ::-webkit-scrollbar, .vehicleDiv ::-webkit-scrollbar {
    width: 1px;
    height: 7px;
}

/* Track */
.driverDiv ::-webkit-scrollbar-track, .vehicleDiv ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 1px;
}

/* Handle */
.driverDiv ::-webkit-scrollbar-thumb, .vehicleDiv ::-webkit-scrollbar-thumb {
    background: #337ab7;
    border-radius: 1px;
}

    /* Handle on hover */
    .driverDiv ::-webkit-scrollbar-thumb:hover, .vehicleDiv ::-webkit-scrollbar-thumb:hover {
        background: #337ab7;
    }


/*=======30 Jan 2020=======*/
a {
    transition: 0.2s;
}

#sidebar-nav-icon {
    width: 25px;
    height: 18px;
    position: relative;
    margin: 18px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

    #sidebar-nav-icon span {
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background: #ffffff;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }

        #sidebar-nav-icon span:nth-child(1) {
            top: 0px;
        }

        #sidebar-nav-icon span:nth-child(2) {
            top: 6px;
        }

        #sidebar-nav-icon span:nth-child(3) {
            top: 12px;
        }


/*#sidebar-nav-icon.open span:nth-child(1) {top: 10px; -webkit-transform: rotate(135deg); -moz-transform: rotate(135deg); -o-transform: rotate(135deg); transform: rotate(135deg); }
#sidebar-nav-icon.open span:nth-child(2) {opacity: 0; left: -35px; }
#sidebar-nav-icon.open span:nth-child(3) {top: 10px; -webkit-transform: rotate(-135deg); -moz-transform: rotate(-135deg); -o-transform: rotate(-135deg); transform: rotate(-135deg); }*/

.main-content {
    /* margin-left: 60px;*/
    transition: all 0.2s ease-in-out;
}

.aside-newDefault .aside-open ~ .main-content {
    margin-left: 240px;
}

.dark-sidebar_list ul {
    padding: 0;
}

    .dark-sidebar_list ul li {
        list-style-type: none;
        padding: 15px 18px;
    }

.aside-title {
    text-transform: uppercase;
    color: #fff;
    display: none;
    margin-left: 10px;
}

.aside-icon {
   
    position: relative;
}

.aside-open .aside-title, .aside-hover .aside-title {
    display: inline-block;
    font-size: 12px;
}

.inner-list li {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.aside-open .inner-list, .aside-hover .inner-list {
    padding-left: 30px;
    padding-top: 20px;
}

.inner-list .aside-title {
    text-transform: inherit;
}

.aside-open .inner-list li, .aside-hover .inner-list li {
    padding-top: 10px;
    padding-bottom: 10px;
}

.dark-sidebar_list ul li a {
    display: flex;
    align-items: center;
}

.inner-list .aside-icon img {
    display: block;
    width: 12px !important;
    height: auto !important;
}

.inner-list .aside-icon {
    min-height: 25px;
    min-width: 25px;
    height: 25px;
    width: 25px;
    border-radius: 100%;
    border: 2px solid #666;
    display: flex;
    align-items: center;
    justify-content: center;
    /*padding: 5px 15px 5px 5px;*/
    background: #1E1246;
}

.completed .aside-icon {
    border-color: #ffffff;
    background: #298921;
}

.current .aside-icon {
    border-color: #ffffff;
}

.inner-list li:last-child {
    padding-bottom: 0;
}

.dark-sidebar_list .inner-list {
    padding-top: 15px;
    transition: 0.5s;
}

.policy-img {
    padding: 10px;
    margin-top: 170px;
}

.aside-open .policy-img, .aside-hover .policy-img {
    padding: 20px;
    position: relative;
    margin-top: 0;
}

.policy-img img {
    width: 100%;
}

.dark-sidebar_list .policy-img2, .aside-open .policy-img1, .aside-hover .policy-img1 {
    display: none;
}

.aside-open .policy-img2, .aside-hover .policy-img2 {
    display: block;
}

.sales-card-title {
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 5px;
    display: none;
}

.aside-open .sales-card-title, .aside-hover .sales-card-title {
    display: block;
}

aside.aside-open {
    width: 220px !important;
}

.aside-default {
    background: #1E1246;
    position: fixed;
    height: calc(100vh - 45px);
    width: 61px;
    margin-top: 45px;
    overflow-y: auto;
    transition: all 0.2s ease-in-out;
}
/*.header_logo img {width: 140px;margin-left: 10px; margin-right: 30px; }*/
/*Hardik*/
.header_logo img {
    width: 120px;
    margin-left: 0px;
    margin-right: 0px;
}

.down-border::before {
    content: "";
    position: absolute;
    height: 35px;
    width: 2px;
    background: #fff;
    bottom: -35px;
    left: 0px;
    right: 0;
    margin: 0 auto;
    z-index: -1;
}

.tabing_navigatiin {
    margin-top: 20px;
}

    .tabing_navigatiin ul li a {
        color: #959595;
        background: #D0D0D0;
        font-size: 13px;
        padding: 6px 30px;
        border-bottom: none;
        font-weight: bold;
        border-radius: 10px 10px 0 0;
        display: inline-block;
        border: 1px solid #ccd8e5;
        border-bottom: 0;
    }

        .tabing_navigatiin ul li.active a, .tabing_navigatiin ul li a:hover {
            background: transparent linear-gradient(180deg, #7B57FA 0%, #3F21A0 100%) 0% 0% no-repeat padding-box;
            color: #ffffff;
        }

    .tabing_navigatiin ul li {
        float: left;
        margin-right: 3px;
    }

.search_inner {
    color: #fff;
    font-size: 24px;
}

    .search_inner img {
        width: 24px;
    }

.last_dropdown {
    position: relative;
    margin-right: 20px;
}

.search_div {
    margin-right: 20px;
    line-height: 1;
}

.d-flex {
    display: flex;
}

.top_header .row.d-flex {
    align-items: center;
}

.right_header {
    margin-left: auto;
    align-items: center;
}

    .right_header .my-account {
        color: #fff;
        font-weight: bold;
        margin-right: 20px;
        cursor: pointer;
    }

    .right_header .h-notification {
        margin-right: 20px;
        position: relative;
    }

    .right_header .bell-icon img {
        width: 24px;
    }

.user-icon {
    margin-right: 5px;
}

.my-account .dropdown-menu {
    margin-top: 8px;
    background: #1e1246;
    border-radius: 0 0 10px 10px;
    padding: 0 15px 5px;
}

    .my-account .dropdown-menu > li > a {
        background: inherit !important;
        color: #ffffff !important;
    }

.my-account .dropdown ul li a {
    border-top: 1px solid #666666;
    padding: 6px 30px 6px 0;
}

.dropdown-menu .dw-icon img {
    width: 18px;
}

.my-account .dw-icon {
    margin-right: 8px;
}

.h-notification .bell-icon {
    position: relative;
    cursor: pointer;
}

.n-count {
    position: absolute;
    height: 18px;
    width: 18px;
    background: #009DFF;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    left: -6px;
    top: -8px;
}

.n-dw-list {
    position: absolute;
    padding: 25px 20px;
    right: 0;
    width: 540px;
    list-style: none;
    top: 60px;
    display: none;
    border: 1px solid #ffffff;
    border-radius: 7px;
    box-shadow: 0 0 10px #0005;
    background: transparent linear-gradient(180deg, #42A0DB 0%, #43698E 100%) 0% 0% no-repeat padding-box;
}

.open .n-dw-list {
    display: block;
}

.nt-disc {
    color: #fff;
    margin-left: 10px;
}

.nt-title {
    font-size: 26px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 15px;
}

    .nt-title > span {
        font-size: 20px;
        display: block;
        font-weight: normal;
        margin-top: 5px;
    }

.n-reminder {
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
}

    .n-reminder > span {
        margin-right: 30px;
    }

    .n-reminder > a {
        color: #ffffff;
    }

.nt-icon img {
    width: 50px;
}

.nt-disc > p {
    font-size: 18px;
    line-height: 1.2;
}

.n-dw-list .close {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    width: 25px;
    height: 25px;
    background: #B1B1B1;
    font-size: 13px;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    line-height: 1;
    border-radius: 100%;
    opacity: 1;
    color: #fff;
    border: 2px solid #fff;
    transition: 0.1s;
}

    .n-dw-list .close:hover {
        background: #9e9e9e;
    }

.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 340px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
}

.modal.right .modal-body {
    padding: 15px 15px 80px;
}

.modal.right.fade .modal-dialog {
    right: -320px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
    right: 0;
}

.search-sidebar .modal-dialog {
    margin-top: 54px !important;
}

    .search-sidebar .modal-dialog .modal-content {
        border-radius: 0;
        background: #1E1246;
        padding: 12px;
        height: calc(100% - 50px);
    }

.search-result ul li {
    list-style-type: none;
    color: #fff;
    border-bottom: 1px solid #666;
    padding: 8px 0;
    display: flex;
    align-items: center;
    font-size: 12px;
}

.src-right-icon img {
    width: 20px;
    opacity: 0.6;
}

.search-result ul {
    padding-left: 0;
}

.search-result .src-right-icon {
    margin-left: auto;
}

.src-list-icon {
    margin-right: 10px;
    height: 24px;
    width: 24px;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

.src-disc .src-name {
    margin-right: 10px;
    width: 105px;
    display: inline-block;
}

.src-list-icon img {
    width: 11px;
}

.search-bar input {
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #666666;
    background-color: white;
    color: #1E1246;
    font-size: 18px;
    text-align: center;
}

    .search-bar input::placeholder {
        color: #ffffff;
        opacity: 1;
        text-align: center;
        color: #666;
    }

.search-bar {
    margin-bottom: 15px;
}

.op-0 {
    opacity: 0;
}

.chat-support .aside-icon {
    margin-right: 0;
}

.chat-support {
    position: absolute;
    bottom: 20px;
    padding-left: 20px;
}

aside.aside-default {
    z-index: 99;
}

.site-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #d9d9d9;
    text-align: center;
    padding: 10px;
    z-index: 9;
}

.footer-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 225px;
}

.footer-expand .footer-inner {
    padding-left: 65px;
}

.privacy-link a {
    color: #000000;
}

.f-logo img {
    width: 130px;
}

.current .down-border::before {
    display: none;
}

.dashboard .aside-icon img {
    width: 25px;
}

.point_sale .aside-icon img {
    width: 25px;
}

.policy_report .aside-icon img {
    width: 25px;
}

.point_sale .inner-list img {
    height: 15px;
}

.header_left_menu li i {
    position: relative;
    left: 10px;
}

.chat-support .aside-icon img {
    width: 30px;
}

.my-account .user-icon img {
    width: 26px;
    margin-right: 2px;
}

.my-account .dropdown-toggle {
    display: flex;
    line-height: 1.2;
    align-items: center;
    min-height: 35px;
}

.completed:last-child .aside-icon.down-border::before {
    display: none;
}

.src-disc .src-name a {
    color: #fff !important;
    text-decoration: none;
}

.top_header .tabing_navigatiin {
    width: 65%;
}

.header_logo.custom-padding {
    padding: 12px 15px;
}

    .header_logo.custom-padding img {
        width: 140px;
    }
/*---------Media Quaries----------*/

@media only screen and (max-width: 1600px) {
    .dark-sidebar_list ul li {
        list-style-type: none;
        padding: 12px 18px;
    }

    .chat-support {
        position: inherit;
        padding-bottom: 20px;
    }

    .policy-img {
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 15px;
    }
}


@media only screen and (max-width:1279px) {
    .quick-quote-pop {
        width: 98% !important;
        padding-right: 1.6%;
    }
}


@media only screen and (max-width:1023px) {

    .header_logo img {
        margin-right: 10px;
    }

    .tabing_navigatiin ul li a {
        padding: 8px 15px;
    }

    .top_header {
        position: fixed;
    }

    .main-content_inner {
        padding-top: 90px;
    }

    .navbar {
        margin-bottom: 0px;
    }
}


@media only screen and (max-width:767px) {

    .right_header {
        position: relative;
        padding: 0 20px;
    }

    body {
        font-size: 14px;
    }

    .tabing_navigatiin {
        margin-top: 0;
    }

    .right_header .mobile_rob {
        display: none;
    }

    .my-account .dropdown-menu {
        left: auto;
        right: 0;
    }

    .modal.right .modal-dialog {
        width: 100%;
    }

    .open .n-dw-list {
        width: 290px;
        right: -82px;
    }

    .nt-title {
        font-size: 20px;
    }

        .nt-title > span {
            font-size: 16px;
        }

    .nt-disc > p {
        font-size: 16px;
    }

    .n-reminder {
        font-size: 16px;
    }

    .tabing_navigatiin ul li {
        float: none;
    }

        .tabing_navigatiin ul li a {
            border-radius: 0px;
        }

    .navbar-collapse {
        padding-left: 0;
    }

    .tabing_navigatiin .navbar-collapse {
        margin-top: 9px;
    }

    .site-footer {
        position: relative;
    }

    .footer-inner {
        display: block;
    }

        .footer-inner .f-version {
            display: block;
        }

        .footer-inner .privacy-link {
            display: block;
        }

        .footer-inner .f-logo {
            display: block;
        }

    .top_header .tabing_navigatiin .navbar-toggle {
        margin-left: 10px;
        float: left;
    }

    .right_header .my-account {
        margin-right: 10px;
        margin-left: auto;
    }
}
.tabing_navigatiin ul li a.bg_white {
    background: #ffffff;
    color: #959595;
}
.aside-icon img.icon-green {
    display: none;
}
.active-tab img.icon-white {
    display: none;
}
.active-tab img.icon-green {
    display: block;
}

/*Policy Report Issue*/
.new-policy-summ table {
    width: 100%;
    border: 1px solid #eee;
}

.new-policy-summ tr th {
    background: #1e1246;
    color: #ffffff;
    text-align: left;
    padding: 5px 8px;
    text-transform: uppercase;
}

.new-policy-summ td {
    padding: 5px 8px;
    background: #f9f9f9;
}

.new-policy-summ {
    display: inline-block;
    margin-right: 50px;
}