﻿<!DOCTYPE html>
<html>
<head>
    @using Arrowhead.POS.Core
    @{
        Arrowhead.POS.Service.CommonServices commonServices = new Arrowhead.POS.Service.CommonServices();
        var url = commonServices.CheckHost(Request.Url.Host);
        Arrowhead.POS.Service.AutoVehicleServices autoVehicleServices = new Arrowhead.POS.Service.AutoVehicleServices();
        Arrowhead.POS.Service.GeneralServices _generalServices = new Arrowhead.POS.Service.GeneralServices();
        long LeftPaneStatusId = _generalServices.GetGeneralStatusIdByType(Enums.GeneralStatus.USERPREFERENCETYPE.ToString(), Enums.UserPreferenceType.LEFTPANEOPEN.ToString());
        bool IsAgencyPrefExist = Arrowhead.POS.Infrastructure.CommonFunctions.IsAgencyPreferenceExistByPropertyID(Arrowhead.POS.Infrastructure.ProjectSession.AgencyDetails.AgencyId, Arrowhead.POS.Infrastructure.ProjectSession.AgencyDetails.UserId, LeftPaneStatusId);
        bool isUserPrefExist = Arrowhead.POS.Infrastructure.CommonFunctions.GetUserPreferenceByPropertyId(Arrowhead.POS.Infrastructure.ProjectSession.AgencyDetails.AgencyId, Arrowhead.POS.Infrastructure.ProjectSession.AgencyDetails.UserId, LeftPaneStatusId);
        //  var lstQuoteVehicles = autoVehicleServices.GetAutoVehicleByQuoteID(Arrowhead.POS.Infrastructure.ProjectSession.QuoteID);
    }
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">

    <title>@ViewBag.Title</title>
    @*<link href="~/Assets/css/new-style.css" rel="stylesheet" />*@
    <link href="~/Assets/css/style.css" rel="stylesheet" />
    <link href="~/Assets/css/semantic.min.css" rel="stylesheet" />
    <link href="~/Assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Assets/css/daterangepicker.css" rel="stylesheet" />
    @RenderSection("styles", required: false)

    @*<script type="text/javascript" src="~/Scripts/jquery-3.3.1.min.js"></script>*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.main.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    @*<script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>*@
    <script type="text/javascript" src="~/Assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Assets/js/jquery.inputmask.bundle.min.js"></script>
    <script type="text/javascript" src="~/Assets/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="~/Assets/js/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.mask.js"></script>
    <script src="~/Scripts/jquery.admin.js"></script>
    @*<script type="text/javascript" src="~/Scripts/daterangepicker.jquery.min.js.js"></script>*@
    <script type="text/javascript" src="~/Scripts/daterangepicker.min.js"></script>
    <script type="text/javascript" src="~/Scripts/daterangepicker.moment.min.js"></script>
    <script src="~/Scripts/MvcFoolproof/mvcfoolproof.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/mustache.js"></script>
    <script src="~/signalr/hubs"></script>
    <style>
        span.field-validation-error {
            color: red;
        }
    </style>
</head>
<body>
    <div>
        @Html.Partial("~/Views/Partial/_Header.cshtml")
        <section>
            <div id="dvSlideBar"></div>
            <div class="main-content">
                <div class="main-content_inner">
                    
                    <div class="container" id="dvContainer">
                        <div class="row">
                            <div id="DVQuoteContent"></div>
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="clearfix"></div>
        <footer class="site-footer">
            <div class="footer-inner">
                <span class="f-version">Version 2.0</span>
                <span class="privacy-link"><a href="#">Terms of Use</a> | <a href="#">Privacy Policy</a></span>
                <span class="f-logo">Powered By <a href="http://www.rateforce.net/" target="_blank"><img src="~/Assets/images/rateforce-logo.svg"></a></span>
            </div>
        </footer>
        @*<div class="site-footer">Powered By <a href="http://www.rateforce.net" target="_blank"><img src="~/Assets/images/RateForce_Logo_Black.svg" width="100" /></a></div>
            <div class="site-footer-terms">
                <span class="pull-left text" style="font-style: normal; font-weight: normal;width:115px;">
                    Version 1.0.0.1
                </span>
                <span style="padding-right: 150px; font-style: normal; font-weight: normal;">
                    <a href="#">Terms of Use</a> | <a href="#">Privacy Policy</a>
                </span>*@
    </div>
    <div class="clearfix"></div>
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" backdrop="static" id="largeModel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="fullModel">
        <div class="modal-dialog modal-full">
            <div class="modal-content">
            </div>
        </div>
    </div>
    <div class="modal fade in" tabindex="-1" role="dialog" id="responsiveModel">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>
    <div class="modal fade in" id="myQuoteInfoModal" aria-modal="true">
        <div class="modal-dialog modal-lg quick-quote-pop">
            <div class="modal-content">

            </div>
        </div>
    </div>
   
    
    
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" style="padding-right: 0px;" backdrop="static" id="largeIFrameModel">
        <div class="modal-dialog modal-lg" style="width: 95% !important; " role="document">
            <div class="modal-content">
                <iframe id="frame" src="" width="100%" style="display:none;height: 90vh;"></iframe>
                <div class="pop-side-main">
                    <div class="open-sidebar">
                        <a href="#">
                            <i class="fa fa-search-plus" aria-hidden="true" id="showIdCard"></i>
                        </a>
                    </div>
                    <div class="popup-sidebar">
                        <div class="sidebar-header">
                            ID Cards
                            <span class="back-arrow"><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true" id="hideIdCard"></i></a></span>
                        </div>
                        <div class="id-card-listing">
                            <ul>
                                <li style="color:white;">
                                    Please sign as Agent to get ID Card.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Render Address Validation Partial View -->
    <div id="sessiontimeOut" style="display:none">
        <div class="time-out-popup">
            <div class="time-out-inner">
                <div class="time-out-warning"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Session Timeout Warning</div>
                <div class="warning-content">Your session has expired</div>
                <div class="back-to-home"><button type="button" onClick="window.location.reload();" class="btn btn-info btn-lg green_button"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back to quote</button></div>
            </div>
        </div>

    </div>
    @Html.Partial("~/Views/Partial/_Footer.cshtml")
    <script type="text/javascript">
        var controllerName = '@ViewContext.RouteData.Values["controller"]';
        var notificationHub = $.connection.notificationHub;

        // New Design
        $('#radioBtn a').on('click', function () {
            var sel = $(this).data('title');
            var tog = $(this).data('toggle');
            $('#' + tog).prop('value', sel);

            $('a[data-toggle="' + tog + '"]').not('[data-title="' + sel + '"]').removeClass('active').addClass('notActive');
            $('a[data-toggle="' + tog + '"][data-title="' + sel + '"]').removeClass('notActive').addClass('active');
        });

       $(document).on("click", ".agency", function (e) {
            $("#dvContainer").CenterLoader(11001);
            e.preventDefault();
            $.ajax({
                url: "@Url.Action("AgencyList", "AutoQuote")",
                type: "GET",
                data: { },
                cache: false,
                beforeSend: function () {
                },
                success: function (result) {
                    $("#responsiveModel").find(".modal-content").html(result);
                    $("#responsiveModel").modal('show');
                    $("#dvContainer").RemoveLoader();
                },
                complete: function () {
                },
                error: function () {
                    $('body').RemoveLoader();
                }
            });
        });


        $(document).ready(function ()
        {


            if ('@isUserPrefExist' == 'True') // Set User Preferences
            {
                setTimeout(function () {
                    $(".aside-default").addClass("aside-open"); // add class for open
                    $(".site-footer").removeClass("footer-expand");
                    $(".main-content").css("margin-left", "218px");
                }, 300);
            }
            else
            {
                setTimeout(function () {
                    $(".aside-default").removeClass("aside-open"); // remove class open
                    $(".main-content").css("margin-left", "60px");
                    $(".site-footer").addClass("footer-expand");
                }, 300);
            }

            $('#sidebar-nav-icon').click(function ()
            {
                $(this).toggleClass('open');
                $('.aside-default').toggleClass('aside-open');
                if ($('.aside-default').hasClass('aside-open'))
                {
                    $(".main-content").css("margin-left", "218px");
                    $(".site-footer").removeClass("footer-expand");
                    SaveUserPreference(true);
                }
                else
                {
                    $(".main-content").css("margin-left", "60px");
                    $(".site-footer").addClass("footer-expand");
                    SaveUserPreference(false);
                }
            });

            
        });

        $(document).ready(function ()
        {
            $(document).ajaxError(function myErrorHandler(event, xhr, ajaxOptions, thrownError) {
                if (xhr.status == "404") {
                    window.location.href = "@Url.Action("Login", "Login")"
                } else {}
            });
            $('.open-sidebar').show("fast");

            $('.popup-sidebar').hide("fast");

            $("#showIdCard").click(function () {
                $('.popup-sidebar').show("fast");
            });
            $("#hideIdCard").click(function () {
                $('.popup-sidebar').hide("fast");
            });
        });
        $(document).ready(function () {
            $.connection.hub.start().done(function () {
                console.log($.connection.hub.id);
            });
            var QuoteID = '@Arrowhead.POS.Infrastructure.ProjectSession.QuoteID';
            QuoteCurrentStep();
            if (QuoteID != null && QuoteID != 0 && QuoteID != 1) {
                DisplayQuoteInfo(QuoteID);
                setInterval(SessionTimeOut(QuoteID), 10000);
            }
        });

        $(document).ready(function () {
            $('a[id="vehicleIDCards"]').click(function () {
                var URL = '@Url.Action("IDCard", "auto/policy")';
                var vehicleValue = $(this).attr("value");
                var newWindow = window.open(URL + "/" + vehicleValue, '_blank')
                newWindow.name = "ID Card";
            });


        });
    </script>
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        if ($("#sidebar-nav-icon").hasClass("open"))
        {
            $(".main-content").css("margin-left", "260px");
        }

        function DisplayQuoteInfo(QuoteID)
        {
            $("#dvContainer").CenterLoader(11001);
            $.ajax({
                url: '@Url.Action("GetQuoteDetails", "AutoQuote")' + "?id=" + QuoteID,
                type: "GET",
                cache: false,
                beforeSend: function () {
                },
                success: function (result)
                {
                    $("#dvContainer").RemoveLoader();
                    $("#DVQuoteContent").html(result);
                },
                complete: function () {

                },
                error: function (e) {
                    $("#dvContainer").RemoveLoader();
                }
            });
        }
        function ResetQuotePayment(QuoteID)
        {
            $("#dvContainer").CenterLoader(11001);
            $.ajax({
                url: '@Url.Action("ResetQuotePayment", "AutoPolicy")' + "?qid=" + QuoteID,
                type: "GET",
                cache: false,
                beforeSend: function () {
                },
                success: function (result)
                {
                    // do nothing
                },
                complete: function () {

                },
                error: function (e) {
                }
            });
        }

        function SessionTimeOut(QuoteID) {
            $.ajax({
                url: '@Url.Action("SessionTimeChecker", "AutoQuote")' + "?quoteId=" + QuoteID,
                type: "GET",
                cache: false,
                beforeSend: function () {

                },
                success: function (result) {
                    if (result == false)
                    {
                        window.location.href = "https://www.arrowheadauto.com";
                    }


                },

                complete: function () {

                },
                error: function (e) {

                }

            })
        }

        function QuoteCurrentStep() {

            $.ajax({
                url: '@Url.Action("GetCurrentStepDetails", "AutoQuote")' ,
                type: "GET",
                cache: false,
                beforeSend: function () {

                },
                success: function (result) {
                    $("#dvSlideBar").html(result);
                    if ('@isUserPrefExist' == 'True')
                    {
                        $(".aside-default").addClass("aside-open");
                    }
                    else if ('@IsAgencyPrefExist' == 'False') // if no pref exist then click
                    {
                        setTimeout(function () { $("#sidebar-nav-icon").click() }, 300);
                    }
                },
                complete: function () {

                },
                error: function (e) {

                }
            });
        }

        function ZipCode(zip, obj) {

            $.ajax({
                url: "https://ziptasticapi.com/" + zip,
                cache: false,
                dataType: "json",
                type: "GET",
                success: function (result, success) {
                    $("body").RemoveLoader();
                    successCallback(result, obj);
                }
            });
        }
    </script>
</body>
</html>
