﻿@model  List<Arrowhead.POS.Model.QuoteRateResponseModel>
@{
    ViewBag.Title = "Index";

}

<div class="panel panel-default">
    <div class="panel-heading main_title">Payment Plan</div>
    <div class="panel-body">
        <div id="divPayPlanList" class="col-sm-12">
            @Html.Partial("~/Views/AutoCoverage/Partial/_PayPlans.cshtml", Model)
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#btnChangeCoverage").click(function () {
        var QuoteId = '@Arrowhead.POS.Infrastructure.ProjectSession.QuoteID';
        var url = '@Url.Action("Index", "AutoCoverage")' + "?id=" + QuoteId;
        window.location.href = url;
    });
</script>

