﻿@{
    bool isSearchExist = false;
    if (Request.QueryString["search"] != null)
    {
        isSearchExist = Convert.ToBoolean(Request.QueryString["search"].ToString());
    }
}


<header class="top_header">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="row d-flex">
                <div class="header-nav-icon">
                    <div id="sidebar-nav-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div class="header_logo">
                    <a href="#"><img src="~/Assets/images/arrowhead-logo1.png" /></a>
                </div>
                <div class="tabing_navigatiin">
                    <div class="navbar-header">
                        <button type="button" class=" navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
                        <ul class="pull-left header_left_menu" id="dvTabBar">
                            @foreach (var item in Arrowhead.POS.Infrastructure.ProjectSession.TabDetail)
                            {
                                if (item.FullName == "Policy Report")
                                {
                                    <li quote-id="1" class="tammy_menu"><a href="@Url.Action("Index", "Report")">@item.FullName <span quote-id="@item.QuoteID" class="color_white span"><i class="fa fa-times" aria-hidden="true"></i></span></a></li>
                                }
                                else
                                {
                                    <li quote-id="@item.QuoteID" class="tammy_menu"><a href="@Url.Action("redirect/" + item.QuoteID, "auto")">@item.FullName  <span quote-id="@item.QuoteID" class="color_white span"><i class="fa fa-times" aria-hidden="true"></i> </span> </a> </li>
                                }

                            }
                            <li quote-id="0" class="tammy_menu"><a class="bg_white" href="@Url.Action("applicant/0", "auto")">New Quote</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>


<div class="search_listener" id="dvLatestQuote" style="display:none">

</div>

<script type="text/javascript">
    $(document).ready(function ()
    {
        $(".tammy_menu").removeClass("active");
        $(".tammy_menu").each(function () {
                var attribute = $(this).attr("quote-id");
                if ($(this).attr("quote-id") == "@Arrowhead.POS.Infrastructure.ProjectSession.QuoteID") {
                $(this).addClass("active");
                }
            });

            
    });

    $(".span").click(function () {
        var attribute = $(this).attr("quote-id");
        $(this).parent().removeAttr("href");
        RemoveTab(attribute);
    });

     function RemoveTab(quoteiD) {
            $.ajax({
                url: '@Url.Action("RemoveTab", "AutoQuote")' + "/" + quoteiD,
                type: "GET",
                cache: false,
                beforeSend: function () {
                },
                success: function (result) {
                    var url = '/auto/applicant/0';
                    window.location.href = url;
                },
                complete: function () {
                },
                error: function (e) {
                }
            });
        }
       

</script>