﻿@model Arrowhead.POS.Model.CurrentStepModel
@{
    Arrowhead.POS.Service.AutoVehicleServices _autoVehicleServices = new Arrowhead.POS.Service.AutoVehicleServices();
    Arrowhead.POS.Service.AutoDriverServices _autoDriverServices = new Arrowhead.POS.Service.AutoDriverServices();
    var _driverCount = _autoDriverServices.GetDriverCount(Arrowhead.POS.Infrastructure.ProjectSession.QuoteID);
    var _vehicleCount = _autoVehicleServices.GetvehicleCount(Arrowhead.POS.Infrastructure.ProjectSession.QuoteID);
    var controller = ViewBag.controllerName;
}


<aside class="aside-default">
    <div id="sidebar" class="dark-sidebar_list">
        <ul class="mb-0">
            <li class="hover point_sale active-tab">
                <a data-name="quote" href="@Url.Action("applicant","auto")" title="New Quote"><span class="aside-icon"><img class="icon-white" src="~/Assets/images/Application_complete.svg"><img class="icon-green" src="~/Assets/images/PointofSale_selected.png"></span> <span class="aside-title">Point Of Sale</span></a>
                <ul class="inner-list">
                    @if (Model != null && Model.CurrentStepOrderId != null && Model.CurrentStepOrderId > 0)
                    {
                        <li class="hover completed" title="Applicant">
                            <a data-val="quote" href="@Url.Action("applicant/edit/", "auto" ,new  {id=Arrowhead.POS.Infrastructure.ProjectSession.QuoteID})">
                                <span class="aside-icon down-border">
                                    <img src="~/Assets/images/Application_complete.svg">
                                </span>
                                <span class="aside-title">Applicant</span>
                            </a>
                        </li>

                        if (Model.CurrentStepOrderId <= 1)
                        {
                            if (Model.VehicleCount == 0)
                            {
                                <li class="hover" title="Vehicles">
                                    <a data-val="quote" href="@Url.Action("Index", "AutoVehicle", new { id = Arrowhead.POS.Infrastructure.ProjectSession.QuoteID })">
                                        <span class="aside-icon down-border">
                                            <img src="~/Assets/images/vehicle_complete.svg">
                                        </span>
                                        <span class="aside-title">Vehicles</span>
                                    </a>
                                </li>
                            }
                        }
                        else if (Model.CurrentStepOrderId >= 1) // Vehicle Section
                        {
                            if (Model.VehicleCount == 0)
                            {
                                <li class="hover" title="Vehicles">
                                    <a data-val="quote" href="@Url.Action("Index", "AutoVehicle", new { id = Arrowhead.POS.Infrastructure.ProjectSession.QuoteID })">
                                        <span class="aside-icon">
                                            <img src="~/Assets/images/vehicle_complete.svg">
                                        </span>
                                        <span class="aside-title">Vehicles</span>
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li class="hover @(Model.CurrentStepOrderId > 1 ? " completed" : " current")" title="Vehicles">
                                    <a data-val="quote" href="@Url.Action("Index", "AutoVehicle", new { id = Arrowhead.POS.Infrastructure.ProjectSession.QuoteID })">
                                        <span class="aside-icon down-border"><img src="~/Assets/images/vehicle_complete.svg"></span>
                                        <span class="aside-title">Vehicles</span>
                                    </a>
                                </li>
                            }
                        }

                        // Driver Section
                        if (Model.CurrentStepOrderId <= 2)
                        {
                            if (Model.DriverCount == 0 && _vehicleCount > 0)
                            {
                                <li class="hover current" title="Drivers">
                                    <a data-val="quote" href="@Url.Action("add", "auto/driver")">
                                        <span class="aside-icon">
                                            <img src="~/Assets/images/driver_complete@2x.png">
                                        </span>
                                        <span class="aside-title">Drivers</span>
                                    </a>
                                </li>
                              
                            }
                            else
                            {
                                <li class="hover current" title="Drivers">
                                    <a data-val="quote" href="#">
                                        <span class="aside-icon">
                                            <img src="~/Assets/images/driver_complete@2x.png">
                                        </span>
                                        <span class="aside-title">Drivers</span>
                                    </a>
                                </li>
                            }


                        }
                        else if (Model.CurrentStepOrderId >= 2)
                        {
                            if (Model.DriverCount == 0 && _vehicleCount > 0)
                            {
                                <li class="hover current" title="Drivers">
                                    <a data-val="quote" href="@Url.Action("add", "auto/driver")">
                                        <span class="aside-icon"><img src="~/Assets/images/driver_complete@2x.png"></span>
                                        <span class="aside-title">Drivers</span>
                                    </a>
                                </li>
                             
                            }
                            else
                            {
                                <li class="@(Model.CurrentStepOrderId > 2 ? " completed" : " current")" title="Drivers">
                                    <a data-val="quote" href="@Url.Action("Index","AutoDriver",new { id=Arrowhead.POS.Infrastructure.ProjectSession.QuoteID})">
                                        <span class="aside-icon down-border">
                                            <img src="~/Assets/images/driver_complete@2x.png">
                                        </span>
                                        <span class="aside-title">Drivers</span>
                                    </a>
                                </li>
                                
                            }
                            
                        }

                        // Coverage Section
                        if (Model.CurrentStepOrderId <= 3)
                        {
                            <li class="hover current"><a data-val="quote" href="#"><span class="aside-icon"><img src="~/Assets/images/bill_complete.svg"></span> <span class="aside-title">Coverage</span></a></li>
                           
                        }
                        else
                        {
                            <li class="hover @(Model.CurrentStepOrderId > 4 ? " completed" : " current")" title="Coverage">
                                <a data-val="quote" href="@Url.Action("coverage", "auto",new { id=Arrowhead.POS.Infrastructure.ProjectSession.QuoteID})">
                                    <span class="aside-icon down-border">
                                        <img src="~/Assets/images/bill_complete.svg">
                                    </span>
                                    <span class="aside-title">Coverage</span>
                                </a>
                            </li>
                        }

                        // Underwriting Question
                        if (Model.CurrentStepOrderId <= 4)
                        {
                            <li class="hover current"><a data-val="quote" href="#"><span class="aside-icon"><img src="~/Assets/images/question_complete.svg"></span> <span class="aside-title">Underwriting Question</span></a></li>
                           

                        }
                        else
                        {
                            <li class="hover @(Model.CurrentStepOrderId > 5 ? " completed" : " current")" title="Underwriting Questions">
                                <a data-val="quote" href="@Url.Action("questionary", "auto")">
                                    <span class="aside-icon down-border">
                                        <img src="~/Assets/images/question_complete.svg">
                                    </span>
                                    <span class="aside-title">Underwriting Questions</span>
                                </a>
                            </li>
                            
                        }

                        // Purchase Policy
                        if (Model.CurrentStepOrderId <= 5)
                        {
                            <li class="hover current" title="Purchase Policy"><a data-val="quote" href="#"><span class="aside-icon"><img src="~/Assets/images/Finished_complete.svg"></span> <span class="aside-title">Purchase Policy</span></a></li>
                           
                        }
                        else
                        {
                            <li class="hover @(Model.CurrentStepOrderId > 6 ? " completed" : " current")" title="Purchase Policy"><a data-val="quote" href="@Url.Action("policy", "auto", new { id = Arrowhead.POS.Infrastructure.ProjectSession.QuoteID })"><span class="aside-icon down-border"><img src="~/Assets/images/Finished_complete.svg"></span> <span class="aside-title">Purchase Policy</span></a></li>

                           
                        }

                    }
                    else
                    {
                        <li class="hover" title="Applicant"><a data-val="quote" href="@Url.Action("applicant","auto")"><span class="aside-icon"><img src="~/Assets/images/Application_complete.svg"></span> <span class="aside-title">Applicant</span></a></li>
                        <li class="hover" title="Vehicles"><a data-val="quote" href="#"><span class="aside-icon"><img src="~/Assets/images/vehicle_complete.svg"></span> <span class="aside-title">Vehicles</span></a></li>
                        <li class="hover" title="Drivers"><a data-val="quote" href="#"><span class="aside-icon"><img src="~/Assets/images/driver_complete@2x.png"></span> <span class="aside-title">Drivers</span></a></li>
                        <li class="hover" title="Coverage"><a data-val="quote" href="#"><span class="aside-icon"><img src="~/Assets/images/bill_complete.svg"></span> <span class="aside-title">Coverage</span></a></li>
                        <li class="hover" title="Underwriting Questions"><a data-val="quote" href="#"><span class="aside-icon"><img src="~/Assets/images/question_complete.svg"></span> <span class="aside-title">Underwriting Questions</span></a></li>
                        <li class="hover" title="Purchase Policy"><a data-val="quote" href="#"><span class="aside-icon"><img src="~/Assets/images/Finished_complete.svg"></span> <span class="aside-title">Purchase Policy</span></a></li>
                    }
                </ul>


        </ul>
      
    </div>
</aside>
<script type="text/javascript">
    $(document).ready(function () {
        if (controllerName == 'AutoDriver' || controllerName == 'AutoVehicle' || controllerName == 'AutoQuote' || controllerName == 'AutoCoverage' || controllerName == 'AutoQuestionary' || controllerName == 'AutoPolicy') {
            $('.point_sale').addClass("active-tab");
            $('.policy_report').removeClass("active-tab");
            $('.dashboard').removeClass("active-tab");
        }
       

        if (localStorage.getItem("activeTab") == null) {
            localStorage.removeItem("activeTab");
        }
        //setActiveTab();

        $('a').click(function (e) {
            var name = $(this).attr('data-name');
            var posVal = $(this).attr('data-val'); // point of sale common value with diff attr
            if (name != undefined && name != "" && name != null) {
                localStorage.setItem("activeTab", name);
            }
            else if (posVal != undefined && posVal != "" && posVal != null) {
                localStorage.setItem("activeTab", posVal);
            }

        });
    });

    function setActiveTab() {
        var localStorageVal = localStorage.getItem("activeTab");
        if (localStorageVal != undefined && localStorageVal != null && localStorageVal != "") {
            $("a[data-name]").each(function () {
                if ($(this).data('name') == localStorageVal) {
                    $(this).parent().addClass("active-tab");
                }

                if ($(this).data('name') != localStorageVal && $(this).parent().hasClass("active-tab")) {
                    $(this).parent().removeClass("active-tab");
                }
            });
        }
    }
    // Apply Class

</script>