﻿@model Arrowhead.POS.Model.PaymentRequestModel
@{

    ViewBag.Title = Arrowhead.POS.Infrastructure.ProjectSession.QuoteID + " - " + "Issue Policy";
    var policyDetails = (Arrowhead.POS.Model.PolicyStatusModel)ViewBag.policyDetails;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (policyDetails != null && policyDetails.PolicyStatusCode == Arrowhead.POS.Core.Enums.PolicyStatus.MVR.ToString())
{
    <div class="panel panel-default">

        <div class="panel-heading main_title">Consumer Reports</div>

        <div class="panel-body" id="dvMVR">
            @*@Html.RenderMessages()*@
            **By clicking the “Continue to purchase and check my driving history” button, all external UW reports (including MVR’s) will be run. NOTE: Your agency may incur MVR fees charged to your commission statement for excessive use.
            <div style="padding-top: 15px;">
                <button type="button" id="btnGetMVR" class="btn btn-info btn-lg green_button">Continue to purchase and check my driving history</button>
            </div>
        </div>
    </div>
}
else
{
    if (Model != null)
    {
        <div class="panel panel-default" id="dvPayment">
            @if (Model.IsPaymentCompleted == false)
            {
                <div class="panel-heading main_title">Purchase Policy</div>
            }
            else if (Model.IsDocusignCompleted == true)
            {
                <div class="panel-heading main_title">Policy Complete : @policyDetails.PolicyNumber</div>
            }
            else
            {
                <div class="panel-heading main_title">Sign Policy</div>
            }
            <div class="panel-body">
                @Html.RenderMessages()
                <div class="row d-block">
                    @Html.Partial("~/Views/AutoPolicy/Partial/_QuotePayment.cshtml", Model)
                </div>
            </div>
        </div>
    }

}

@section Scripts
{
    <script type="text/javascript">
    $("#btnGetMVR").click(function () {
        $("#dvContainer").CenterLoader(11001);

        $.ajax({
            url: '@Url.Action("GetMVRReport", "AutoPolicy")',
            type: "Get",
            data: {},
            cache: false,
            beforeSend: function () {
            },
            success: function (result)
            {
                if (result.IsRedirect)
                {
                    alert("Arrowhead MVR Process Completed. No New Violation Found.")
                    window.location.href = result.RedirectUrl;
                }
                else {
                    $("#dvMVR").html(result.Content)
                }

                $("#dvContainer").RemoveLoader();
            },
            complete: function () {
            },
            error: function (e) {
                $('body').RemoveLoader();
            }
        });
        });
        $(document).ready(function ()
        {
            if ('@Model.IsPaymentCompleted' == 'True')
            {
                DisplayQuoteInfo('@Arrowhead.POS.Infrastructure.ProjectSession.QuoteID');
            }

        notificationHub.client.signedCompleted = function (qid) {
            if (qid == "@Arrowhead.POS.Infrastructure.ProjectSession.QuoteID") {
                window.location.reload();
            }
        //realtime.server.sendNotification()
            };
        });
    </script>
}